{% extends 'product/base.tpl' %}
{% load staticfiles %}
{% block title %}
    联系我们
{% endblock %}
{#    <link rel="stylesheet" href="{% static 'css/home/main.css' %}"/>#}
{% block style %}
    <link rel="shortcut icon" href="{% static 'image/53iq.ico' %}"/>
    <style>
    .container{
        margin-top: 90px;
    }
        .ui-contact{
            width: 88%;
            height: 235px;
            background: #f5f5f5;
            padding: 18px 10px 10px 60px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 90px;
        }
        .ui-contact p{
            font-size: 18px;
            margin-top: 10px;
        }
    .right_side {
            background: #fff;
            float: right;
            width: 100%;
            height: 100%;
            min-height: 720px;

        }
    </style>
{% endblock %}
{% block menu %}
    <li><a href="{% url 'home' %}">首页</a></li>
    {% if user.developer.developer_id and user.developer.developer_check_status == 1%}
        <li><a href="{% url 'product/list' %}">产品管理</a></li>
    {% endif %}
    <li><a href="{% url 'wiki' %}">开发指南</a></li>
{% endblock %}
{% block content %}

    <div class="container">
            <div class="wrap">

                <div class="right_side">
                    <div class=" box2 relative">
                        <div class="hbox">

                        <div class="ui-contact">
                            <p><b>杭州纳帕科技有限公司</b></p>
                            <p>全国统一咨询热线：400-668-6870</p>
                            <p>Fax：0571-88921750</p>
                            <p>E-mail：Support@53iq.com</p>
                            <p>地址：中国杭州市西湖区文二路212号高新大厦7楼</p>
                            <p>邮编：310012</p>
                        </div>

                        </div>
                    </div>
                </div>
            </div>
    </div>


{% endblock %}
