{% extends 'home/base.tpl' %}

{% load filter %}
{% load staticfiles %}
{% block title %}
    首页
{% endblock %}
{% block style %}
    <style>
        .wrapper {
            width: 1200px;
            padding: 0;
            margin: 0 auto;
        }
        .mt20 {
            margin-top: 20px;
        }
        .goods span {
            height: 30px;
        }
        .nav > li > a:hover {

            background: transparent;
        }
        .cl {
            margin-top: 80px;
        }
        .nav-current{
            text-decoration:none; border-bottom: 3px solid #ff6202;height: 35px;
        }
        .m-project li {
            height: 70px;
            margin-left: 129px;
            padding-left: 64px;
        }
    .m-banner .hd{
        overflow: visible;
        top: 90px;
    }
    .btn-success{
        width: 188px;
        height: 48px;
        line-height: 2.428571;
        border-color: #FF6F37;
        background: url(/static/image/home/arrow.png) no-repeat center #FF6F37;
        background-size: 48px 66%;
        background-position: 86% 9px;

    }
    .btn-success:hover,.btn-success:focus,.btn-success:active{
        background-color: #ff6202;
        border-color: #ff6202;
        background-size: 50px 67%;
        font-weight: 600;
    }
    .n-step{

        padding-bottom: 77px;
    }
    .header{
        min-width: 1200px;
        height: 76px;
    }
    .m-banner{
        height: 695px;
        min-width: 1200px;
        background: #fff;
        min-height: 974px;

    }
    .m-banner .hd{
        width: 100%;
        text-align: center;
        margin: 0;
        left:0;
    }
    .m-banner .hd li{
        margin-left: 4%;
        width: auto;
        height: auto;
        overflow: visible;
    }
    .text{
        padding-top: 23px;
        color: #7F8285;
        font-size: 20px;
    }
    .text a{
        color: #ff6202;
        cursor: pointer;
        font-size: 26px;
    }
    .m-project {
        min-width: 1200px;
        padding-top: 0;
    }
    .m-project .text p{
        font-size: 20px;
    }
    .sign_out a {
        color: #ff0000 !important;
    }

    .home-logo{
        background: url(/static/image/home/back2.jpg) no-repeat center #0D0F28;
        position: relative;
        height: 500px;
        background-size: 100% 100%;
        margin-top: -20px;
    }
    .show-control{
        position: relative;
        float: left;
        left: 26%;
    }
    .cl li img{
        width:45px;
    }

    </style>
{% endblock %}
{% block menu %}
    {% create_menu 0 user.account_id %}
{% endblock %}
{% block content %}
    <div class="m-banner">
        <div class="hd">
            <div class="home-logo">
                <h1 style="padding-top: 55px;color: #fff;">厨电开发平台</h1>
                <p style="color: #fff;font-size: 18px;margin-top: 4%;">
                    帮工程师快速将厨电智能化<br><br>
                    1天可实现WiFi屏智能厨电,  免费拥有自家的厨电App<br><br>

                数十家厨电企业、电控厂的选择 十万用户家中可靠验证</p>
                <div class="arrow" style="margin-top: 48px;">
                    {% if user.account_id %}
                        <a href="/product/list" class="btn btn-s-lg btn-success">
                            <span class="show-control">厨电开发</span>

                        </a>
                    {% else %}
                        <a href="/center/login" class="btn btn-s-lg btn-success">
                            <span class="show-control">立即智能化</span>
                        </a>
                    {% endif %}
                </div>
                <div class="n-step">
                    <ul class="cl">
                        <li class="p-list2" style="">
                            <div class="text"><a href="http://doc.53iq.com/#/quickly_start" target="_blank">开发指南</a></div>

                        </li >
                        <li class="p-list3" style="padding-left: 100px;">
                            <div class="text">
                                <a href="/wiki/doc_wiki?view=Navicat1103#103" target="_blank">合作概要</a>
                            </div>
                        </li >
                        <li class="p-list4" style="padding-left: 149px;padding-right: 40px;">
                            <div class="text">
                                <a href="/wiki/doc_wiki?view=Navicat2111#111" target="_blank">常见问题</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="n-step">

                <ul class="cl">
                    <li class="p-list2" style="">
                        <img src="/static/image/home/1.png">
                        <div class="text">

                            <p>极短开发周期 </p>
                        </div>
                    </li>
                    <li class="p-list3" style="padding-left: 71px;margin-left: 120px">
                        <img src="/static/image/home/2.png">
                        <div class="text">
                            <p>超低研发投入</p>
                        </div>
                    </li>
                    <li class="p-list4" style="padding-left: 140px;padding-right: 40px;">
                        <img src="/static/image/home/3.png">
                        <div class="text">
                            <p>高效平台工具</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="n-step">
                <h2 style="text-align: center;">3步 厨电智能开发</h2>

                <ul class="cl" style="margin-top: 29px">
                    <li class="p-list2" style="">
                        <img src="/static/image/home/20180205-1.png">
                        <div class="text" style="">
                            <p>定义产品及其功能 </p>
                        </div>
                    </li>
                    <li class="p-list3" style="margin-left: 120px">
                        <img src="/static/image/home/20180205-2.png">
                        <div class="text" style="">
                            <p>根据生成的通讯协议开发</p>
                        </div>
                    </li>
                    <li class="p-list4" style="">
                        <img style="margin-left: 20px" src="/static/image/home/20180205-3.png">
                        <div class="text" style="">
                            <p>UI和调试，验证成功后发布上线</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <!-- 公告 -->


    <!-- 合作项目 -->
    <div class="m-project">

    </div>

{% endblock %}

{% block script %}

{% endblock %}