{% load staticfiles %}
<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="Keywords" content="53iq智能，开放平台,超级APP,互联互通,硬件开发，物联开发，物联网，智能硬件开发，智能家居开发，健康设备开发，开发者中心"/>
    <meta name="Description" content="中国物联网与智能硬件行业领先的技术平台，为硬件厂商和开发者提供智能产品接入和推广的快捷通道，智能开发从53iq开始。"/>
    <title>{% block title %}{% endblock %} 智能厨房电器方案提供商</title>
    <link rel="shortcut icon" href="{% static 'image/53iq.ico' %}"/>
{#    <link rel="stylesheet" href="{% static 'css/home/main.css' %}"/>#}


</head>
<body>
<div class="box2 relative">
    <p class=" mt10 ft16">智能硬件厂商要加入53iq厨房智能云，第一步要申请成为53iq厨房智能云开发者。</p>
    <div class="line mt30"></div>
    <div class="hbox mt20">
        <h3 class="tit6">1.登录</h3>
        <p>点击登录，进入53iq的登录页面，输入53iq账号，点击登录。</p>
        <p class="mt20"><img src="{% static 'image/home/kfz1.png' %}"></p>
    </div>
    <div class="line2 mt30"></div>
    <div class="hbox mt20">
        <h3 class="tit6">2.申请成为开发者</h3>
        <p>点击登录后，即会出现申请成为开发者的页面，请按照页面引导，填写相关信息，提交审核。</p>
        <p class="mt20"><img src="{% static 'image/home/kfz3.png' %}"></p>
    </div>
    <div class="line2"></div>
    <div class="hbox mt20">
        <h3 class="tit6">3.创建产品</h3>
        <p>审核通过后，即可开始创建产品，点击产品管理，按页面引导流程，完成产品创建。</p>
        <p class="mt20"><img src="{% static 'image/home/kfz2.png' %}"></p>
    </div>

</div>

</body>

</html>