{% extends 'home/base.tpl' %}
{% load filter %}
{% load staticfiles %}
{% block title %}
    智能菜谱
{% endblock %}

   {% block style %}
    <link rel="stylesheet" href="{% static 'css/product/list.css' %}"/>
    <link rel="stylesheet" href="/static/css/product/bootbox.css">
    <link rel="stylesheet" href="{% static 'common/css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/product/video-js.css' %}">
    <style>
        select{
            background-color: white;
        }
        .footer{
            margin-top: 500px;
        }
        .m {
            width: 100%;
            text-align: center;
            position: absolute;
            top: 204px;
            z-index: 101;
        }

        .my-video-dimensions {
            width: 680px;
            height: 400px;
            margin: auto;
        }

        .close-video {
            position: relative;
            right: -324px;
            line-height: 26px;
            width: 33px;
            height: 26px;
            top: 26px;
            color: #fff;
            margin: auto;
            z-index: 102;
            cursor: pointer;
            background-color: gray;
        }

        .left-dv4 {
            width: 125px;
            transform: skewX(-1deg);
            margin-top: 162px;
            height: 127px;
            margin-right: 2px;
        }

        .left-dv4:hover {
            opacity: 0.85;
            cursor: pointer;
        }
        .m-banner{
            background: url(/static/image/product/banner_bg.jpg) no-repeat center #0D0F28;
            position: relative;
            background-size: 100% 100%;
            height: 450px;
            min-width: 1000px;
            margin-top: 90px;
        }
        .nav-current{
                text-decoration:none; border-bottom: 3px solid #ff6202;height: 35px;
        }
        .contain {
            width: 985px;
            margin: 0 auto;
            overflow: hidden;
        }
        .bannerleft {
            text-align: center;
            overflow: hidden;
            color: #fff;
            padding-top: 45px;
        }
        .bannertitle {
            font-size: 40px;
            clear: both;
            margin-top: 10px;
            margin-bottom: 10px;

        }
        .bannertitletwo {
            font-size: 24px;
            clear: both;
            margin-bottom: 80px;
            margin-top: 30px;
        }
        .bannertitlefour img{
            width: 56%;
        }
        .smart_main{
            width: 1200px;
            height: 100%;
            display: flex;
            display: -webkit-flex;
            justify-content: center;
            margin: 0 auto;
        }
         #user_address .modal-header {
            background: #dfe6eb;
        }

        #user_address .modal-footer {
            border-radius: 0;
        }

        #user_address .modal-content {
            width: 500px;
        }

        #user_address .modal-body {
            height: 165px;
            text-align: center;
        }

        #user_address .modal-body p {
            font: 16px/45px "microsoft yahei";
        }
        #user_address .modal-body p span{
            margin-left:5px;
        }
        #user_address .modal-body p input {
            text-indent: 10px;
            border-radius: 3px;
            border: 1px solid #d9d9d9;
            width: 350px;
            line-height: 32px;
        }
        label{
            font-weight:inherit;
        }
        .header{
            height: 75px;
        }
        .hover_text span{
            cursor: pointer;
        }
        .hover_text span:hover{
            color: #000 !important;
        }
        .guto_device{
            display: inline-block;
            background-color: #ff6202;
            color: #fff;
            padding: 5px 10px;
            border-radius: 4px;
            text-decoration: none;
        }
        .guto_device:hover{
            color: #fff;
            background-color: #d4753b;
            text-decoration: none;
        }

    </style>
{% endblock %}
{% block menu %}
    {% create_menu 3 user.account_id %}
{% endblock %}
{% block content %}
    <div class="m-banner">
        <div class="contain" style="margin-top: -20px">
            <div class="bannerleft"><div class="bannertitle">
                智能菜谱 让你的厨电如虎添翼

            </div><div class="bannertitletwo">
                上万名美食达人，10+著名品牌签约合作!

            </div>
                <div class="bannertitlefour">
                    <img src="/static/image/home/test1.png">

                </div>
            </div>
        </div>
    <div class="left-dv4" id="WiFi-oven-demo" style="margin-top: 27px;width:200px;height: 47px;margin-left: 45%">
                <img src="/static/image/product/ico-video.png"/>
                <p style="text-align: center;margin-left: 10px;margin-top: -30px;color: #fff4eb">如何开发智能厨电</p>
            </div>
      <div class="markLayout"></div>
    <div style="height: 500px;background-color: white">
        <div class="smart_main">
            <div class="col-md-6 col-md-offset-1" style="padding-left: 0px;background:url(/static/image/home/smartreciped.jpg)" >
                {% if user.developer.developer_id %}
                    <div style="position:absolute;right:50px;bottom:20px"><a href="javascript:void(create_product('{{ 21 }}'))" class="guto_device" style="font-size: 16px">立即智能化我的蒸烤箱></a></div>
                {% else %}
                    <div style="position:absolute;right:50px;bottom:20px"><a href="javascript:void(dont_develop())" class="guto_device" style="font-size: 16px">立即智能化我的蒸烤箱></a></div>
                {% endif %}
            </div>
            <div class="col-md-4 " style="height: 487px;text-align: left">
                <div style="height: 162px;margin-top: 64px;">
                    <span style="display: block;font-size: 24px" >免费送100道智能菜谱</span>
                    <span style="display: block;margin-top: 10px;font-size: 24px;">海量智能云菜谱</span>
                    <hr style="border-top:1px solid #e6e6e6;margin-top: 15px;font-size: 32px">
                    <span style="display: block;margin-top: 10px;font-size: 20px">智能烹饪 一步到位</span>
                </div>
                <div style="margin-top: 10px">
                    <img src="/static/image/home/erweima.png" alt="">
                    <span style="color: black;display: block;margin-top: 10px;margin-left: 51px">扫码下载App</span>
                </div>
            </div>
        </div>
    </div>
    {% fast_create_product  user.developer.developer_id  %}
    <div class="m" style="display: none">
        <div class="close-video"><i class="fa fa-times"></i></div>
        <video id="my-video" class="video-js" controls preload="auto" width="680" height="400"
               poster="m.png" data-setup="{}">
            <source src="http://storage.56iq.net/group1/M00/44/15/CgoKQ1tAdpqAQxr9AewAUuoaHpQ353.mp4" type="video/mp4">
            <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a web browser that
                <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
        </video>
        <script src="/static/js/product/video.min.js"></script>
        <script type="text/javascript">
            var myPlayer = videojs('my-video');
            videojs("my-video").ready(function () {
                myPlayer = this;
            });
        </script>
    </div>
    </div>
{% endblock %}


{% block script %}
    <script src="/static/js/product/bootbox.js"></script>
    <script src="/static/js/product/fast_create.js"></script>

{% endblock %}