{% extends 'home/base.tpl' %}
{% load filter %}
{% load staticfiles %}
{% block title %}
    智能菜谱
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'common/css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/product/video-js.css' %}">
    <style>
        .m {
            width: 100%;
            text-align: center;
            position: absolute;
            top: 204px;
            z-index: 101;
        }

        .my-video-dimensions {
            width: 680px;
            height: 400px;
            margin: auto;
        }

        .close-video {
            position: relative;
            right: -324px;
            line-height: 26px;
            width: 33px;
            height: 26px;
            top: 26px;
            color: #fff;
            margin: auto;
            z-index: 102;
            cursor: pointer;
            background-color: gray;
        }

        .left-dv4 {
            width: 125px;
            transform: skewX(-1deg);
            margin-top: 162px;
            height: 127px;
            margin-right: 2px;
        }

        .left-dv4:hover {
            opacity: 0.85;
            cursor: pointer;
        }
        .m-banner{
            background: url(/static/image/home/160903-1.jpg) no-repeat center #0D0F28;
            position: relative;
            background-size: 100% 100%;
            height: 621px;
            min-width: 1000px;
            margin-top: 90px;
        }
        .nav-current{
                text-decoration:none; border-bottom: 3px solid #ff6202;height: 35px;
        }
        .contain {
            width: 985px;
            margin: 0 auto;
            overflow: hidden;
        }
        .bannerleft {
            text-align: center;
            overflow: hidden;
            color: #fff;
            padding-top: 88px;
        }
        .bannertitle {
            font-size: 50px;
            clear: both;
            margin-top: 10px;
            margin-bottom: 10px;

        }
        .bannertitletwo {
            font-size: 24px;
            clear: both;
            margin-bottom: 80px;
            margin-top: 30px;
        }
        .bannertitlefour img{
            width: 56%;
        }
    </style>
{% endblock %}
{% block menu %}
    {% create_menu 3 user.account_id %}
{% endblock %}
{% block content %}
    <div class="m-banner">
        <div class="contain">
            <div class="bannerleft"><div class="bannertitle">
                智能菜谱 让你的厨电如虎添翼

            </div><div class="bannertitletwo">
                上万名美食达人，10+著名品牌签约合作!

            </div>
                <div class="bannertitlefour">
                    <img src="/static/image/home/test1.png">

                </div>
            </div>
        </div>
    <div class="left-dv4" id="WiFi-oven-demo" style="margin-top: 27px;width:200px;height: 47px;margin-left: 800px">
                <img src="/static/image/product/ico-video.png"/>
                <p style="text-align: center;margin-left: 10px;margin-top: -30px;color: #fff4eb">如何开发智能厨电</p>
            </div>
      <div class="markLayout"></div>
    <div class="m" style="display: none">
        <div class="close-video"><i class="fa fa-times"></i></div>
        <video id="my-video" class="video-js" controls preload="auto" width="680" height="400"
               poster="m.png" data-setup="{}">
            <source src="http://storage.56iq.net/group1/M00/44/15/CgoKQ1tAdpqAQxr9AewAUuoaHpQ353.mp4" type="video/mp4">
            <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a web browser that
                <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
        </video>
        <script src="/static/js/product/video.min.js"></script>
        <script type="text/javascript">
            var myPlayer = videojs('my-video');
            videojs("my-video").ready(function () {
                myPlayer = this;
            });
        </script>
    </div>
    </div>
{% endblock %}


{% block script %}
    <script src="/static/js/product/bootbox.js"></script>
    <script src="/static/js/product/fast_create.js"></script>

{% endblock %}