# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

### Python template
# Django stuff:
log/*
*.pyc
app/__pycache__/
app/center/__pycache__/
app/debug/__pycache__/
app/home/__pycache__/
app/product/__pycache__/
app/wiki/__pycache__/
conf/__pycache__/

base/__pycache__/
common/__pycache__/
model/__pycache__/
open/__pycache__/
util/__pycache__/
tmp/