alabaster==0.7.2
amqp==1.4.9
anyjson==0.3.3
AxmlParserPY==0.1
Babel==2.1.1
beanstalkc3==0.4.0
billiard==3.3.0.19
celery==3.1.17
Cerberus==0.8.1
certifi==2017.4.17
chardet==3.0.4
colorama==0.3.9
decorator==4.1.2
Django==1.7
docutils==0.12
ebcloudstore==1.1
Events==0.2.1
httpheader==1.1
idna==2.5
ipython==6.1.0
ipython-genutils==0.2.0
itsdangerous==0.24
jedi==0.10.2
Jinja2==2.8
kazoo==2.2.1
kombu==3.0.24
Markdown==2.6.2
MarkupSafe==0.23
pickleshare==0.7.4
Pillow==2.8.1
ply==3.8
prompt-toolkit==1.0.15
pycrypto==2.6.1
Pygments==2.0.2
pymongo==3.0.3
PyMySQL==0.6.6
python-memcached==1.44
pytz==2015.6
redis==2.10.3
requests==2.7.0
simplegeneric==0.8.1
simplejson==3.8.0
six==1.10.0
snowballstemmer==1.2.0
Sphinx==1.3.1
sphinx-py3doc-enhanced-theme==2.2.4
sphinx-rtd-theme==0.1.9
stomp.py==4.1.11
thriftpy==0.3.5
traitlets==4.3.2
typing==3.6.2
urllib3==1.21.1
virtualenv==15.1.0
wcwidth==0.1.7
Werkzeug==0.10.4
win-unicode-console==0.5
xlrd==0.9.4
xlwt==1.2.0
zope.interface==4.1.2
