<div class="row item-team-user">
  <div class="col-xs-2">
    <input type="text" id="team-username<%= id %>" class="form-control" placeholder="姓名">
  </div>
  <div class="col-xs-3">
    <input type="text" id="team-userjob<%= id %>" class="form-control" placeholder="职务">
  </div>
  <div class="col-xs-4">
    <input type="email" id="team-useremail<%= id %>" class="form-control" placeholder="邮箱">
  </div>
    <img class="ui-del-item" src="/static/image/product/delete.png" alt="">
</div>