<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>开发文档</title>
<link rel="stylesheet" href="css/site.css" type="text/css" />
</head>
<body>
<!--头部-->

<div class="nav">
  <h1> <a href="index.html"></a></h1>
  <ul>
    <li><a href="channel.html" class="hover" >应用接入</a></li>
    <li><a href="#" >开发文档</a></li>
    <li><a href="#" >资源下载</a></li>
    <li><a href="#" >常见问题</a></li>
  </ul>
</div>
<div class="nav_sjoe"> </div>
<!--中间-->
<div class="zibng">
  <div class="zibng_left">
    <div style="height: 1000px; float: left;"> </div>
    <div class="erjnav">
      <ul>
        <li><a href="#" class="dianq">应用如何接入</a></li>
        <li><a href="#" >平台政策</a></li>
        <li><a href="#" >API签名算法</a></li>
        <li><a href="#" >API测试</a></li>
      </ul>
    </div>
    <div class="jiszhic">
      <div class="jiszhic_a">相关资料</div>
      <div class="jiszhic_b">
        <ul>
          <li><a href="https://readthedocs.org/">read the docs</a></li>
          <li><a href="https://www.python.org/">python.org</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="zibng_left_s"> </div>
  <div class="zibng_right">
    <div class="zbshyw_d">
      <h2> 应用如何接入</h2>
      <span> Data validation is provided out-of-the-box. Your configuration includes a schema definition for every resource managed by the API. Data sent to the API to be inserted/updated will be validated against the schema, and a resource will only be updated if validation passes. </span>
      <p> 1、请问个人用户申请和公司申请的流程有什么不同吗？</p>
      <span>所有开发者和网站主申请流程是一致的。。</span>
      <p> 2、请问App key的有效期是多长时间？</p>
      <span>应用开发者在申请应用之后，如3个月内没有用户使用，开放平台有权利停止该应用接口使用权限并删除该应用。</span>
      <p> 2、请问App key的有效期是多长时间？</p>
      <span>应用开发者在申请应用之后，如3个月内没有用户使用，开放平台有权利停止该应用接口使用权限并删除该应用。</span>
      <p> 2、请问App key的有效期是多长时间？</p>
      <span>应用开发者在申请应用之后，如3个月内没有用户使用，开放平台有权利停止该应用接口使用权限并删除该应用。</span>
      <p> 2、请问App key的有效期是多长时间？</p>
      <span>应用开发者在申请应用之后，如3个月内没有用户使用，开放平台有权利停止该应用接口使用权限并删除该应用。</span>
      <p> 2、请问App key的有效期是多长时间？</p>
      <span>应用开发者在申请应用之后，如3个月内没有用户使用，开放平台有权利停止该应用接口使用权限并删除该应用。</span> </div>
  </div>
</div>
<!--底部-->
<div class="foot"> Copyright ©  All Rights Reserved. <a name="chaper" href="javascript:scroll(0,0);" style="cursor:pointer;float:right;" ><img src="img/zhid2.png" alt="回到顶部" /></a> </div>
</body>
</html>
