<style>
    dt {
        padding: 10px;
        width: 286px;

        overflow: hidden;
    }

    .plan {
        margin: 7px 14px;
        text-align: center;
        border: 1px solid #ccc;
    }

    .plan:hover {
        border: #2fa666 1px solid;
    }

    .card {
        margin-left: 10px;
        float: left;
        position: relative;
    }

    img {
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    a {
        cursor: pointer;
    }

    a:hover {
        text-decoration: none;
    }

    #user_address .modal-header {
        background: #dfe6eb;
    }

    #user_address .modal-footer {
        border-radius: 0;
    }

    #user_address .modal-content {
        width: 500px;
    }

    #user_address .modal-body {
        height: 165px;
        text-align: center;
    }

    #user_address .modal-body p {
        font: 16px/45px "microsoft yahei";
    }

    #user_address .modal-body p span {
        margin-left: 5px;
    }

    #user_address .modal-body p input {
        text-indent: 10px;
        border-radius: 3px;
        border: 1px solid #d9d9d9;
        width: 350px;
        line-height: 32px;
    }
    .file {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}
    .btn{
        width: initial;
    }
    .btn-submit-file{

    }
        .xxx {
        width: 170px;
        position: relative;
        display: inline-block;
        background: #D0EEFF;
        border: 1px solid #99D3F5;
        border-radius: 4px;
        padding: 4px 12px;
        overflow: hidden;
        color: #1E88C7;
        text-decoration: none;
        text-indent: 0;
        line-height: 20px;
    }
</style>
<div class="box2 relative">
    <div class="modal fade" id="user_address" tabindex="-1" role="dialog" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        上传文件
                    </h4>
                </div>
                <div class="modal-body">


                    <input class="file" id="file" name="file" style="display: inline-block" type="file"/>
                     <div style="width: 354px;margin-left: 20px;margin-top: 30px">
                    <span style="display: inline-block;font-size: 16px">版本号：</span><input type="text" id="ui_info" class="xxx" placeholder="请输入版本号">
                    <span style="color: red;display: none" id="hides">请输入版本号</span>
                </div>

                    <button id="doUpload" class="btn btn-info" onclick="doUploadFile()" style="float: right;width:80px;padding-bottom: 0px;padding-top: 0px">
                        上传
                    </button>

                </div>


            </div>
        </div>
    </div>
    <div class="hl-help">
        <span class="linkBlue" style="color: black;font-size: 16px">{[{ infoFormData.app_name }]}UI编辑</span>

        <!--<button class="btn btn-info"
                style="display: inline-block;width: 105px;border-bottom-width: 1px;border-top-width: 1px"
                data-toggle="modal" data-target="#user_address">上传UI文件
        </button>-->


        <span class="linkBlue" style="float: right;font-size: 16px"><a
                href="/product/uiconf/{[{key}]}">手机App界面编辑</a></span>
        <input type="text" value="{[{key}]}" style="display: none" id="keys">
        <input type="text" value="" style="display: none" id="fr">
    </div>
    <div class="mt20">

        <!--<div class="boxInfo">选择模板</div>-->
        <div class="boxInfo" ng-app="Product.app" ng-controller="AppCtrl">

            <div class="protocol-info-main" style="text-align: left;margin-top: 70px;margin-left: 90px">
                <button class="btn btn-default btn-submit-file"  data-toggle="modal" data-target="#user_address">上传屏端固件</button>
                <div ng-if="sss==1" style="height: 50px;margin-top: 30px">
                    <div style="height: 20px">

                        <p style="font-size: 16px">历史版本</p><p  ng-if="sss==1" style="display: inline-block;margin-left:80px;font-size: 14px;"><a
                        href="http://doc.53iq.com/#/env?id=%E5%9B%BA%E4%BB%B6%E7%83%A7%E5%BD%95" target="_blank"
                        style="color: #b4b2b1;cursor: pointer">如何屏端固件烧录到厨电屏上体验？</a></p>
                    </div>
                    <div class="col-md-12" style="height: 40px;padding-top: 10px;border-top:  1px solid #f7f7f7;width: 650px " ng-repeat="x in response">
                    <div style="height: 30px;margin-top: 10px" class="col-md-2 col-md-offset-0">
                        {[{x.version}]}
                    </div>
                    <div style="height: 30px;" class="col-md-4">
                        <a href="{[{url}]}" target="_blank">下载{[{app_device_name}]}屏端固件<i class="ace-icon fa fa-arrow-circle-o-down"></i></a>
                    </div>
                    <div style="height: 30px;margin-top: 10px" class="col-md-4">
                         <p style="display: inline-block;margin-left: 50px">{[{x.time}]}</p></div>

                    </div>



                </div>
                </div>

                <p ng-if="sss==0" class="product-info-p" style="margin-top:30px;padding-bottom: 20px;margin-left:50px;cursor: pointer"><a href="/static/sdk/DCIOT.PKG"
                                                                                          target="_blank">1.下载屏端油烟机标准工程包编辑&nbsp;&nbsp;<i
                        class="ace-icon fa fa-arrow-circle-o-down bigger-120"></i></a><a
                        href="http://doc.53iq.com/#/function" target="_blank" style="color: #e0e0e0"></a></p><br>

                <p ng-if="sss==0" class="product-info-p" style="margin-left:50px;height: 20px;margin-top: 10px"> 2.编辑UI后软件编辑，将新固件烧录到屏端&nbsp;&nbsp;<a
                        href="http://doc.53iq.com/#/env?id=%E5%9B%BA%E4%BB%B6%E7%83%A7%E5%BD%95" target="_blank"
                        style="color: #e0e0e0;cursor: pointer">屏端固件烧录搭配厨电屏上体验？</a></p>

            </div>


        </div>
    </div>
    <script>
        function doUploadFile() {
            var oTxt = document.getElementById('ui_info')
            isnull( oTxt.value );
            if (document.getElementById("fr").value=='true'){
                var formData = new FormData();
                formData.append("file",document.getElementById("file").files[0]);
                formData.append("name",'upload');
                formData.append("key",document.getElementById("keys").value);
                formData.append("app_version", document.getElementById("ui_info").value);
                formData.append("action",'ui_upload');
                formData.append("app_id",app_id1);
                if (document.getElementById("file").files[0]){
                     $.ajax({
                    url:'/product/upload_file',
                    type:"POST",
                    data:formData,
                    contentType:false,
                    processData: false,
                }).success(function (data) {
                    data = JSON.parse(data)
                         console.log(data)
                    if (data['code'] == '0'){
                        document.getElementsByClassName("close")[0].click();

                         bootbox.alert('上传成功')
                         window.location.reload()
                    }else {
                         document.getElementsByClassName("close")[0].click();

                         bootbox.alert('上传失败,此版本已存在')
                    }


                })
                }else {
                    alert('不能为空')
                }


            }





        }
        function isnull(val) {
            var str = val.replace(/(^\s*)|(\s*$)/g, '');//去除空格;

            if (str == '' || str == undefined || str == null) {
                //return true;
                document.getElementById("ui_info").style.border="1px solid red"
                document.getElementById("hides").style.display=''


            } else {
                //return false;
                console.log('非空');
                document.getElementById("ui_info").style.border="1px solid black"
                document.getElementById("hides").style.display='none'
                document.getElementById("fr").value='true'
            }
        }

    </script>
