{% extends "product/base.tpl" %}
{% load staticfiles %}
{% load filter %}

{% block title %}
    厨电开发
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'common/css/app.css' %}"/>
    <link rel="stylesheet" href="{% static 'common/css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" href="/static/css/product/notice.css">
    <link rel="stylesheet" href="{% static 'css/product/list.css' %}"/>

    <style>
        .wrapper {
            width: 1200px;
            padding: 0;
            margin: 0 auto;
        }
        .mt20 {
            margin-top: 20px;
            padding-top: 155px;
        }
        .cont.mt20{
            padding-top: 0px;
        }
        .cont {
            margin-top: 10px !important;
        }
        .goods span {
            height: 30px;
        }

        .nav > li > a {
            position: relative;
            display: block;

        }

        .nav > li > a:hover {

            background: transparent;
        }

        .vague {
            width: 360px;
            max-height: 280px;
            overflow: auto;
            position: absolute;

            border: #ddd 1px solid;
            z-index: 999;
            background: #fff;
        }

        .vague li {
            height: 30px;
            line-height: 30px;
            padding: 0 10px;
            color: #999;
            cursor: pointer;
        }

        .label-command {
            left: 20px;
            position: relative;
            color: #999;
            top: 26px;
            left: -99px;
        }

        .nav-current {
            text-decoration: none;
            border-bottom: 3px solid #ff6202;
            height: 35px;
        }
    .scheme dl {
        float: left;
        width: 228px;
        border: #D8D8D8 1px solid;
        position: relative;
        margin: 8px;
        text-align: center;
        padding: 40px 0 15px;
        box-sizing: border-box;
    }
    .scheme dl.cur {
        border: #4B8DE5 2px solid;
        margin: 7px 8px;
    }
    .breadcrumb{
        font-size: 16px;
        line-height: 0px;
        background-color: transparent;
        margin: 6px 22px 0 12px;
        padding: 0;
        color: #333;
        display: inline-block;
        border-radius: 0;
        border: none;
    }
    .breadcrumb{
        margin: 6px 0 1px;
        padding: 0;
        font-size: 16px;
        border:none;
    }
    .breadcrumb>li>a {
        color: #333;
        cursor: pointer;
    }
    .breadcrumb>li>a:hover{
        color: #ff6202;
    }
    .breadcrumb > li + li:before{
        font-family: FontAwesome;
        content: "\f105";
    }
    .sign_out{
            cursor: pointer;
        }
    .title{
            margin-top: 70px;
            position: fixed;
            width: 100%;
            z-index: 1;
    }
    .new-app li{
        display: inline;
        font-size: 16px;
        padding-left: 10px;
    }
    li a:hover{
        color: #ff6202;
        text-decoration: underline;
    }
    select{
        background-color: white;
    }
    </style>
{% endblock %}

{% block menu %}
    {% create_menu 1 user.account_id %}

{% endblock %}

{% block content %}
    <div class="title">
        <div class="wrapper">
            <ol class="breadcrumb" style="width: 36%;float: left;">
                <li><a href="/product/list/">厨电开发</a></li>

                <li>
                    <a style="color:#ff6202;;">添加产品</a>
                </li>
            </ol>
            <ol style="width: 60%;float: left;margin: 6px 0 1px;" class="new-app">
                <li style="color: #c6c6c6;">模板一键创建：</li>
                {% for app in default_apps %}
                    <li>
                    {% if app.app_device_type == 11 %}
                        <a style="color: #ff6202" href="javascript:{% if user.developer.developer_id %}void(create_product('{{ app.app_device_type }}')){% else %}void(dont_develop()){% endif %}" >{{ app.app_name }}</a>
                    {% else %}
                        <a href="javascript:{% if user.developer.developer_id %}void(create_product('{{ app.app_device_type }}')){% else %}void(dont_develop()){% endif %}" >{{ app.app_name }}</a>
                    {% endif %}

                    </li>
                    {% if forloop.counter == 1 %}
                        <li><a  href="javascript:{% if user.developer.developer_id %}void(create_product(31,'wifi')){% else %}void(dont_develop()){% endif %}" >WiFi屏洗碗机</a></li>

                    {% endif %}

                {% endfor %}
            <li style="padding-left: 60px"> <a href="{% url 'product/main' %}?ID={{ app.app_id }}#/demo/{{ app.app_name }}">开发示例</a></li>
            </ol>
        </div>
    </div>
    <div class="wrapper mt20">
        <div class="contbox">
            <div class="box3 fn-clear add_newProduct_main">
                <div class="add_newProduct_box">
                    <h3 class="pmTit">添加新产品</h3>

                    <div>
                        <form action="" method="POST" name="productAddForm">
                            {% csrf_token %}
                            <div style="float: left;width: 48%">
                                <input type="hidden" name="developer_id" value="{{ developer.developer_id }}"/>
                                <input type="hidden" name="product_describe" value="hello world"/>
                                <h4 class="infoTit">填写基本信息</h4>
                                <dl class="fmInfo">
                                    <dt>分类</dt>
                                    <dd>

                                        <input name="product_category" type="hidden" value="厨房类">
                                        <select name="product_category_detail" id="product_category_detail1"
                                                class="sel2">
                                            <option value="">请选择分类</option>
                                            <option value="1">油烟机</option>
                                            <option value="2">集成灶</option>
                                            <option value="6">冰箱</option>
                                            <option value="11">烤箱</option>
                                            <option value="20">蒸箱</option>
                                            <option value="21">蒸烤箱</option>
                                            <option value="25">电压力锅</option>
                                            <option value="26">电饭煲</option>
                                            <option value="27">台式小烤箱</option>
                                            <option value="30">微蒸烤一体</option>
                                            <option value="31">洗碗机</option>
                                            <option value="">其他</option>
                                        </select>
                                    </dd>
                                    <span style="color: red;display: none;padding-left: 20px;" class="check-sel">请选择产品分类</span>
                                </dl>
                                <dl class="fmInfo">
                                    <dt>屏幕尺寸</dt>
                                    <dd>
                                        <select name="product_category_detail2" id="product_category_detail2"
                                                class="sel2">
                                            <option value="0">请选择屏幕尺寸</option>
                                            <option value="3">6.8寸</option>
                                            <option value="2">5寸</option>
                                            <option value="1">4.3寸</option>
                                        </select>
                                    </dd>
                                    <span style="color: red;display: none;padding-left: 20px;" class="check-sel">请选择屏幕尺寸</span>
                                </dl>

                                <dl class="fmInfo">
                                    <dt>产品名称</dt>
                                    <dd>
                                        <input type="text" name="product_name" id="productNameText" maxlength="18"
                                               class="w280 form-control" onblur="check_app_name(this)" placeholder="请填写产品名称">
                                        <span class="tips-error hiden" id="productNameTips"></span>
                                    </dd>
                                </dl>
                                <span style="color: red;display: none;padding-left: 100px;" class="check-appname">请填写产品名称</span>
                                <dl class="fmInfo" style="display: none">
                                    <dt>品牌</dt>
                                    <dd>
                                        <input type="hidden" name="brand_id" id="brand_id">
                                        <input type="text" name="brandName" id="brandNameText" value="暂无品牌" maxlength="18"
                                               class="w280 form-control" placeholder="品牌名称"
                                               onclick="showBrandList('brandAddUl');"
                                               onkeyup="showBrandList('brandAddUl', this.value)">
                                        <span class="tips-error hiden" id="brandNameTips"></span>
                                        <ul id="brandAddUl" class="vague" onmouseover="this.style.display='';"
                                            onmouseout="this.style.display='none';" style="display: none;"></ul>
                                    </dd>
                                </dl>
                                <dl class="fmInfo" style="display: none">
                                    <dt>型号</dt>
                                    <dd>
                                        <input type="text" name="product_model" id="productModelText" maxlength="48"
                                               class="w280 form-control" placeholder="请填写型号，如：A1">
                                        <span class="tips-error hiden" id="productModelTips"></span>
                                    </dd>
                                </dl>

                                <dl class="fmInfo" style="display: none" id="command-type">
                                    <dt>指令类型</dt>
                                    <dd>
                                        <input type="text" name="product_group" id="product_group" maxlength="48"
                                               class="w280 form-control hidden" placeholder="产品类型" value="">
                                        <select name="product_command" onclick="showHide()" id="product_command"
                                                ng-disabled="{[{ disabled }]}" class="sel2" style="width:96px;">
                                            <option value="是" selected="selected">全指令</option>
                                            <option value="否">单指令</option>
                                        </select>
                                        <label id="my-label-1" class="label-command"
                                               style="display: none;">支持单个原子功能独立控制</label>
                                        <label id="my-label-2" class="label-command">每个数据帧都要传输所有原子功能状态</label>
                                    </dd>
                                </dl>
                            </div>
                            <div style="float: right;width: 52%">
                                <h4 class="infoTit02">
                                    选择技术方案 <span class="f12">（后期可进行方案的自由切换）</span>
                                </h4>
                                <div class="scheme">
                                    <dl class="cur plan" onclick="selectScheme(this, 3)" id="f2" style="padding: 0px">
                                        <dt><img src="{% static 'image/product/wifiscreen.png' %}"><i class="icon-selected"></i></dt>
                                        <dd>WiFi屏方案要求电控支持5V供电，一路串口，适用于烤箱，洗碗机</dd>
                                    </dl>
                                    <dl class="plan" onclick="selectScheme(this, 2)" id="f3">
                                        <dt><img src="{% static 'image/product/wifi.png' %}"><i class="icon-selected"></i></dt>
                                        <dd>WiFi方案要求设备支持5V供电，两路串口，适用于集成灶，油烟机</dd>
                                    </dl>

                                    <dl onclick="selectScheme(this, 1)" id="f1" class="plan">
                                        <dt><img src="{% static 'image/product/android.png' %}"><i class="icon-selected"></i></dt>
                                        <dd>Android屏方案要求设备支持5V供电，一路串口，适用于烤箱，冰箱</dd>
                                    </dl>

                                </div>
                                <span class="tips-error hiden" id="productPlanTips" style="text-align: center;"></span>

                                <div class="tac  mt20 hide">
                                    <div class="checkbox i-checks">
                                        <label>
                                            <input id="chk" type="checkbox" value="已同意协议" name="protocol">
                                            <i></i>
                                            我已阅读并接受<a href="#" class="linkBlue" id="agreement">《53iq智能云开发者协议》</a>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="tac mt30" style="float: left;width: 100%;margin-top: 100px">
                                <span><button id="go" type="button" class="btn btn-s-lg btn-success">继 续</button></span>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {% fast_create_product  user.developer.developer_id  %}
    <div class="markLayout"></div>
    <div class="notification-container"></div>
{% endblock %}

{% block end_script %}
    <script src="/static/js/product/bootbox.js"></script>
    <script src="/static/js/product/fast_create.js"></script>
    <script>
        var brandListData = {{ factory_list|safe }};
        function showBrandList(ulID, qVal) {
            $("#" + ulID).show();
            $("#" + ulID).html("");
            if (qVal) {
                for (var i = 0; i < brandListData.length; i++) {
                    var brandName = brandListData[i].brandName;
                    if (brandName.indexOf(qVal) == -1) {
                        continue;
                    }
                    $("#" + ulID).append($("<li onclick='clickQueryDiv(this)' id='" + brandListData[i].brandId + "'>" + brandListData[i].brandName + "</li>"));
                }
            }
            else {
                for (var i = 0; i < brandListData.length; i++) {
                    $("#" + ulID).append($("<li onclick='clickQueryDiv(this)' id='" + brandListData[i].brandId + "'>" + brandListData[i].brandName + "</li>"));
                }
            }
        }
        function clickQueryDiv(liObj) {
            var $liObj = $(liObj);
            var $textObj = $liObj.parent().parent().children(":first");
            $textObj.val($liObj.html());
            $textObj.attr("title", $liObj.html());
            $("#brandNameText").val($liObj.text());
            $("#brand_id").val($liObj.attr("id"));
            $liObj.parent().hide();

        }
        // 指令显示
        function showHide() {
            var a = $("#product_command").val();
            if (a == '是') {
                $("#my-label-1").hide();
                $("#my-label-2").show();
            }
            else {
                $("#my-label-2").hide();
                $("#my-label-1").show();
            }
        }
        function HideCommand() {
            var a = $("#product_group").val();
            if (a == '1') {
                $('#command-type').css("display", "none");
            }
            else {
                $('#command-type').css("display", "block");
            }
        }
        function selectScheme(item, val) {
            $(".plan").removeClass('cur');
            $(item).addClass('cur');
            $("#product_group").val(val);

        }
        function check_category_detail(obj) {
            var value = $("#product_category_detail1 option:selected").val();
            if(value == ''){
                $(".check-sel").css('display','block');
                return false;
            }
            else {
                $(".check-sel").css('display','none')
                return true
            }
        }
        function check_category_detail2(obj) {
            var value = $("#product_category_detail2 option:selected").val();
            if(value == ''){
                $(".check-sel").css('display','block');
                return false;
            }
            else {
                $(".check-sel").css('display','none')
                return true
            }
        }
        function check_app_name(obj) {
            if($("#productNameText").val() == ""){
                $(".check-appname").css('display','block');
                return false;
            }
            else {
                $(".check-appname").css('display','none');
                return true
            }
        }
        $(document).ready(function () {
            $('#go').on('click', function (e) {
                if (check_app_name() && check_category_detail() && check_category_detail2())
                {
                    var msg = '<div class="notification notification-success"><div class="notification-content" role="alert"><div class="notification-message">创建产品成功！</div><div class="notification-action"></div></div></div>';
                    $("form[name=productAddForm]").submit();
                    $(".notification-container").html(msg);
                    setTimeout(function () {
                        $(".notification-container").html('');
                    },2000);
                }
            });
        })
    </script>
{% endblock %}