{% extends "home/base.tpl" %}
{% load filter %}
{% load staticfiles %}

{% block title %}
    厨电方案
{% endblock %}
{% block menu %}
    {% create_menu 2 user.account_id %}

{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/product/list.css' %}"/>
    <link rel="stylesheet" href="/static/css/product/bootbox.css">
    <link rel="stylesheet" href="{% static 'common/css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/product/video-js.css' %}">
    <style>

        .goods span {
            height: 30px;
        }

        .nav > li > a:hover {
            background: transparent;
        }

        .nav-current {
            text-decoration: none;
            border-bottom: 3px solid #ff6202;
            height: 35px;
        }

        .left div {

            height: 254px;

        }

        .left div.left-dv4 {
            width: 100px;
            text-align: center;
            background: rgba(110, 169, 248, .7);
            transform: skewX(-1deg);
            margin: 0 auto;
            height: 54px;
        }

        .left-dv4:hover {
            opacity: 0.85;
            cursor: pointer;
        }

        .left div img {

            text-align: center;
        }

        .set-sample span {
            margin: 25px;

            font-size: 16px;
        }

        .left {


            height: 500px;



        }

        .left h4 {
            text-align: center;
            margin-top: 35px;

            color: #fff;
        }

        .left p {
            color: #fff;
            padding: 10px;
            font-size: 12px;
        }

        .left div.ui-demo {
            cursor: pointer;
            border: 1px solid #fff;
            color: #fff;
            height: 30px;
            width: 100px;
            margin: 5px auto 0;
            text-align: center;
            line-height: 28px
        }

        .ui-demo:hover {
            background-color: #c3c8d1;
        }

        .index-banner {
            margin-top: -15px;
            min-width: 1200px;
            background: url(/static/image/product/banner_bg_new.jpg) no-repeat center #0D0F28;
            background-size: 100% 130%;
            height: 300px;
        }


        .title {
            margin-top:0px;
            width: 100%;
            z-index: 1;
            height: 61px;
        }

        .breadcrumb {
            background-color: transparent;
            margin: 6px 0 1px;
            padding: 0;
            font-size: 16px;
            border-radius: 0;
            color: #788197;
        }

        .breadcrumb > li > a {
            color: #333;
            cursor: pointer;
        }

        .breadcrumb > li > a:hover {
            color: #ff6202;
        }

        .breadcrumb > li + li:before {
            font-family: FontAwesome;
            content: "\f105";
        }

        .m {
            width: 100%;
            text-align: center;
            position: absolute;
            top: 204px;
            z-index: 101;
        }

        .my-video-dimensions {
            width: 680px;
            height: 400px;
            margin: auto;
        }

        .close-video {
            position: relative;
            right: -324px;
            line-height: 26px;
            width: 33px;
            height: 26px;
            top: 26px;
            color: #fff;
            margin: auto;
            z-index: 102;
            cursor: pointer;
            background-color: gray;
        }

        #template h3 {
            margin: 29px auto 0;
            border-top-width: 5px;
            color: #fff;
            width: 800px;
            font: 28px/54px "microsoft yahei";
            margin-bottom: 20px;
            text-align: center;
        }

        #template ul {
            width: 800px;
            overflow: hidden;
            margin: 0 auto;
            margin-bottom: 46px;
        }

        #template ul li {
            width: 136px;
            float: left;
            border-radius: 4px;
            font: 18px/40px "microsoft yahei";
            color: #fff;
            text-align: center;
            border: 1px solid #cdcdcd;
            margin-right: 78px;
            cursor: default;
        }
        #template ul li:last-child {
            margin-right: 0;
        }

        #template p {
            width: 800px;
            margin: 0 auto;
            color: #cdcdcd;
            font: 16px/26px "microsoft yahei";
        }

        #template p i {
            display: inline-block;
            width: 6px;
            height: 6px;
            background: #fff;
            vertical-align: middle;
            border-radius: 3px;
            margin-right: 6px;
        }

        #user_address .modal-header {
            background: #dfe6eb;
        }

        #user_address .modal-footer {
            border-radius: 0;
        }

        #user_address .modal-content {
            width: 500px;
        }

        #user_address .modal-body {
            height: 165px;
            text-align: center;
        }

        #user_address .modal-body p {
            font: 16px/45px "microsoft yahei";
        }
        #user_address .modal-body p span{
            margin-left:5px;
        }
        #user_address .modal-body p input {
            text-indent: 10px;
            border-radius: 3px;
            border: 1px solid #d9d9d9;
            width: 350px;
            line-height: 32px;
        }
        label{
            font-weight:inherit;
        }
        .header{
            height: 75px;
        }
        .hover_text span{
            cursor: pointer;
        }
        .hover_text span:hover{
            color: #000 !important;
        }


    </style>
{% endblock %}
{% block content %}
    <div class="title">
        <div class="wrapper">
            <ol class="breadcrumb">
                <li><a href="/product/list">产品管理</a></li>
                <li style="color: #ff6202">厨电方案</li>
            </ol>
        </div>
    </div>
    <div class="index-banner" style="height:330px;">
        {#        模态框#}
        <div class="modal fade" id="user_address" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            请填写收件信息
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p>&emsp;&emsp;姓名：<input type="text" class="name" placeholder="请输入姓名" oninput="validateName(this)"><span class="name_tooltip">&emsp;</span></p>
                        <p>联系电话：<input maxlength="11" type="text" class="phone" placeholder="请输入电话号码" oninput="validatePhone(this)"><span class="phone_tooltip">&emsp;</span></p>
                        <p>收件地址：<input type="text" class="address" placeholder="请输入收件地址" oninput="validateAddress(this)"><span class="address_tooltip">&emsp;</span></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="uploadInfo()" style="width:112px;height:40px;border-radius:3px;">
                            提交
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <div>


            <div class="left col-md-12" style="margin-top: 30px;float:none;padding-right:20px;padding-top: 30px;text-align: center">
                <div class="col-md-2"></div>
                <div class="col-md-2" >
                        <img src="http://storage.56iq.net/group1/M00/44/10/CgoKQ1tAV7eAP1E9AAAaN6nFl6E565.png">
                        <h4>智能烤箱</h4>

                            <p>标准化蒸烤箱模板，3步快速接入，支持海量一键云菜谱</p>

                        <div class="ui-demo">
                            {% if user.developer.developer_id %}
                                <a style="display:block;color:#fff"
                                   href="javascript:void(create_product('{{ 11 }}'))">快速创建</a>
                            {% else %}
                                <a style="display:block;color:#fff" href="javascript:void(dont_develop())">快速创建</a>
                            {% endif %}

                        </div>
                    </div>
                <div class="col-md-2" >
                        <img src="http://storage.56iq.net/group1/M00/44/76/CgoKQ1tEbOGAbzLIAAAaTrkX6oY542.png">
                        <h4>WiFi屏洗碗机</h4>

                            <p>精彩触屏体验、高可靠、AI智能洗,手机App操控预约</p>

                        <div class="ui-demo">
                            {% if user.developer.developer_id %}
                                <a style="display:block;color:#fff"
                                   href="javascript:void(create_product('{{ 31 }}'))">快速创建</a>
                            {% else %}
                                <a style="display:block;color:#fff" href="javascript:void(dont_develop())">快速创建</a>
                            {% endif %}

                        </div>
                    </div>
                <div class="col-md-2" >
                        <img src="http://storage.56iq.net/group1/M00/44/10/CgoKQ1tAV4qATrLxAAAtVEey7Xc366.png">
                        <h4>智能集成灶</h4>

                            <p>WiFi触屏体验，远程监控灶状态，厨房指数模板快速接入</p>

                        <div class="ui-demo">
                            {% if user.developer.developer_id %}
                                <a style="display:block;color:#fff"
                                   href="javascript:void(create_product('{{ 2 }}'))">快速创建</a>
                            {% else %}
                                <a style="display:block;color:#fff" href="javascript:void(dont_develop())">快速创建</a>
                            {% endif %}
                        </div>
                    </div>


                <div class="col-md-2"  style="width: 230px">
                    <p style="text-align: left;padding-top: 5px;margin-left: 30px;font-size: 16px;padding-right: 0px;width: 200px">如何开发WiFi屏厨电？</p>
                    <div class="left-dv4" id="WiFi-oven-demo">
                         <img src="/static/image/product/ico-video.png"/>
                    </div>

                 <p style="text-align: left;margin-left: 40px;">1 新建厨电品类</p>
                <p style="text-align: left;margin-left: 40px;">2 定义功能协议</p>
                <p style="text-align: left;margin-left: 40px;">3 导出协议开发</p>
                <p style="text-align: left;margin-left: 40px;">4 调试</p>
            </div>
            </div>

        </div>

        </div>
        </div>



    </div>
    {% fast_create_product  user.developer.developer_id  %}
     <div id="nb" style="height: 500px;background-color: white">
         <div class="nb_main">
            <div class="col-md-4 col-md-offset-2" style="height: 487px;text-align: left">
            <div style="margin-top: 50px;">
                <div style="margin-top: 50px" class="hover_text">
                    <span style="font-size: 20px;color: #2980b9" onclick="toggleTab1(xx1)">4.3寸WiFi屏</span><img style="margin-left: 50px;width: 80px;display: none " src="/static/image/product/4.3.jpg" alt="">
                    <hr style="color: #D7D7D7;border-top:1px solid #e6e6e6;margin-top: 1px;">
                    <p style="margin-top: 5px;font-size: 16px;color: #6B6B6B" >应用于油烟机、洗碗机</p>
                </div>
                <div style="margin-top: 35px" class="hover_text">
                    <span style="font-size: 32px;color: #000" onclick="toggleTab1(xx2)">5寸WiFi屏</span><img style="margin-left: 50px;width: 100px; " src="/static/image/product/5.jpg" alt="">
                     <hr style="color: #D7D7D7;border-top:1px solid #e6e6e6;margin-top: 1px;">
                    <p style="margin-top: 5px;font-size: 16px;color: #6B6B6B" >应用于蒸箱、烤箱、蒸烤箱、洗碗机等</p>
                </div>
                <div style="margin-top: 35px" class="hover_text">
                    <span style="font-size: 20px;color: #2980b9" onclick="toggleTab1(xx3)">6.8寸WiFi屏</span><img style="margin-left: 30px;height:58px;display: none " src="/static/image/product/6.0.jpg" alt="">
                     <hr style="color: #D7D7D7;border-top:1px solid #e6e6e6;margin-top: 1px;">
                    <p style="margin-top: 5px;font-size: 16px;color: #6B6B6B" >应用于蒸箱、烤箱、蒸烤箱、微蒸烤、集成灶等</p>
                </div>
                <div style="margin-top: 35px" class="hover_text">
                    <span style="font-size: 20px;color: #2980b9" onclick="toggleTab1(xx4)">7寸WiFi屏</span><img style="margin-left: 50px;width: 120px;display: none " src="/static/image/product/7.jpg" alt="">
                     <hr style="color: #D7D7D7;border-top:1px solid #e6e6e6;margin-top: 1px;">
                    <p style="margin-top: 5px;font-size: 16px;color: #6B6B6B" >应用于集成灶、冰箱</p>
                </div>


            </div>

            </div>
            <div class="col-md-5" id="nb2" style="padding-left: 0px;margin-top: 60px">
                <img id="xx1" style="display: none" src="/static/image/product/43cun.jpg" alt="">
                <img id="xx2" style="" src="/static/image/product/5cun.jpg" alt="">
                <img id="xx3" style="display:none" src="/static/image/product/68cun.jpg" alt="">
                <img id="xx4" style="display:none" src="/static/image/product/7cun.jpg" alt="">
            </div>
         </div>
    </div>
    <div class="markLayout"></div>
    <div class="m" style="display: none">
        <div class="close-video"><i class="fa fa-times"></i></div>
        <video id="my-video" class="video-js" controls preload="auto" width="680" height="400"
               poster="m.png" data-setup="{}">
            <source src="http://storage.56iq.net/group1/M00/45/26/CgoKQ1tMhJuAMWo5ABJXJ8Oj7_0330.mp4" type="video/mp4">
            <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a web browser that
                <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
        </video>
        <script src="/static/js/product/video.min.js"></script>
        <script type="text/javascript">
            var myPlayer = videojs('my-video');
            videojs("my-video").ready(function () {
                myPlayer = this;
            });
        </script>
    </div>

{% endblock %}

{% block script %}
    <script src="/static/js/product/bootbox.js"></script>
    <script src="/static/js/product/fast_create.js"></script>
    <script>

        function toggleTab1(text) {
            var ps = document.querySelector("#nb2").querySelectorAll("img");
            var ps1 = document.querySelector("#nb").querySelectorAll("img");
            var lspan = document.querySelector("#nb").querySelectorAll("span");

            for (var i=0,t=lspan.length;i<t;i++){
                console.log(lspan[i])

                if (ps[i].id == text.id) {
                    console.log(ps[i])
                    ps[i].style.display=''
                    ps1[i].style.display=''
                    lspan[i].style.fontSize='32px'
                    lspan[i].style.color="black"
                }else{
                    ps[i].style.display='none'
                    ps1[i].style.display='none'
                    lspan[i].style.fontSize='20px'
                    lspan[i].style.color="#2980b9"
                }

            }
        }


    </script>
{% endblock %}