{% extends "home/base.tpl" %}
{% load filter %}
{% load staticfiles %}

{% block title %}
    产品管理
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'common/css/app.css' %}" xmlns="http://www.w3.org/1999/html"/>
    <link rel="stylesheet" href="{% static 'common/css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/product/list.css' %}"/>
    <style>
        .wrapper {
            padding: 0;
            margin: 0 auto;

        }
        .wrapper2{
            max-width: 1300px;
        }

        .mt20 {
            margin-top: 35px;
        }
        .goods span {
            height: 30px;
        }
        .nav > li > a:hover {
            background: transparent;
        }
        .footer {
            margin: 100px auto 0;
        }
        .title-sub {
                height: 0px;
        }
        .title-sub {
            padding: 36px 0;
        }
        .set-radius {
            background-color: #333;
            border: 1px solid #333;
            text-align: center;
            height: 30px;
            width: 30px;
            float: left;
            margin: 9px 18px;
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            line-height: 28px;
        }

        .set-create{
            background-color: #ff6202;
            border: 1px solid #ff6202;
            text-align: center;
            margin: 18px;
            height: 31px;
            width: 85px;
            color: #fff;
            border-radius: 12px;

        }
        .set-create:active {
            opacity: 0.85;
        }
        .set-float{
            top: 32px;
            position: relative;
            float: left;
            color: #fff;
        }
        .right {
            float: right;
            width: 33%;
            height: 300px;
            padding-top: 4%;
        }

        .left div {
            float: right;
            padding: 3px;
            width: 218px;
            height: 254px;

        }
        .left-dv1{
            background: rgba(47,170,116,.7);
            transform: skewX(-1deg);
            margin-top: 35px;
            margin-left: -2px;
        }
        .left-dv2{
            background: rgba(255,98,2,.7);
            transform: skewX(-1deg);
            margin-top: 20px;
            margin-left: -2px;
        }
        .left-dv3{
            background: rgba(110,169,248,.7);
            transform: skewX(-1deg);
            margin-top: 35px;
        }
        .left div img {
            top: 14px;
            position: relative;
            left: 29%;
        }

        .set-sample {
            border: 1px solid #999;
            height: 30px;
            width: 100px;
            top: 31px;
            left: 20%;
        }

        .set-sample span {
            margin: 25px;
            font-size: 16px;
        }

        .nav-current {
            text-decoration: none;
            border-bottom: 3px solid #ff6202;
            height: 35px;
        }

        .left {
            float: left;
            width: 50%;
            margin-left: 10px;
            height: 300px;
            min-width: 680px;

        }
        .left h4{
            text-align: center;
            margin-top: 12px;
            margin-bottom: 10px;
            color: #fff;
        }
        .left p{
            color: #fff;
            padding: 10px;
            font-size: 12px;
        }
    .goods-list dl dt{
        width:auto;
        height: auto;
    }
    .goods-list dl dd{
        margin-left: 100px;
        padding-top: 6px;
    }
    .goods-list dl dt img{
        width: 80px;
        height: 85px;
        margin-top: 4px;
    }
    .goods-list dl dd .goods-title{
        margin: 0;
    }
    .self-button{
        float: left;
        margin-left: -43%;
        margin-top: 20%;
    }
    .product-info-p{
        float: left;
        width: 50%;
    }
    .goods-list dl dd.ui-control{
        padding-top: 98px;
        margin-left: 0;
    }
    .ui-product-action{
        float: left;
    width: 50%;
    text-align: center;
    }
    .product-info-div{
        margin-top: 15px;
    }
    .left div.ui-demo{
        cursor:pointer;border: 1px solid #fff;color:#fff;height: 30px;width: 100px;margin-top: 22px;margin-left: 55px;float: left;text-align:center;line-height: 22px
    }
    .ui-demo:hover{
        background-color: #c3c8d1;
    }
        @media screen and (max-width: 1200px) {
            .index-banner {
                background-image: url("{% static 'image/product/banner_bg.jpg' %}");

                background-size: 100%;
                height: 300px;
            }
            .right{
                max-width: 300px;
            }
        }

        @media screen and (min-width: 1201px) {
            .index-banner {
                background-image: url("{% static 'image/product/banner_bg.jpg' %}");

                background-size: 100%;
                height: 300px;
            }
        }

        @media screen and (min-width: 1800px) {
            .index-banner {
                background-image: url("{% static 'image/product/banner_bg.jpg' %}");

                background-size: 70%;
                height: 300px;
            }
        }
    .btn-blue{
        background: #2faa74;
    }
    .btn-blue:hover{
        background: #59B784;
    }
    .progress{
        width: 225px;
        border-bottom: #D6DAE0 2px solid;
        margin: auto;
        height: 43px;
        overflow: visible;
        background-color: initial;
        border-radius: 0;
        position: relative;
        left: -46px;
    }
    .progress li {
    text-align: center;
    font-size: 14px;
    color: #B6B6B6;
        float: left;
        width: 75px;
}
     .progress li a{
         color: #2980b9;
     }
    .progress li a:hover{
         color: #333;
        text-underline: underline;
     }
    .progress li.cur {
    color: #626262;
}
    .progress li span {
    display: block;
    margin: auto;
    padding-top: 12px;
    margin-bottom: 10px;
    width: 25px;
    height: 25px;
    background: #d6dae0;
    border-radius: 50%;
        margin-top: 10px;
}
    .progress li.cur span {
    background: rgba(75, 141, 229, 0.3);
}
    .progress li span i {
    display: block;
    margin: auto;
    width: 25px;
    height: 25px;
    color: white;
        font-size: 15px;
        line-height: 1px;
    border-radius: 50%;
}
    .progress li.cur span i {
    background: #4b8de5;
}
.progress li.prog_a {
    position: relative;
    left: -30px;
    top: 0;
}
    .progress li.prog_c {
    position: relative;
    left: 30px;
    top: 0;
}
    .progress li.prog_d {
    position: relative;
    left: 122px;
        top: -65px;
    float: right;
}
    </style>
{% endblock %}
{% block menu %}
    {% create_menu 1 user.developer.developer_id %}

{% endblock %}
{% block content %}
    <div class="index-banner">
    <div class="left">
        {% for app in default_apps %}
            {% if  forloop.counter == 1 %}
                <div class="left-dv1">
            {% elif forloop.counter == 2 %}
                <div class="left-dv2">
            {% else %}
                <div class="left-dv3">
            {% endif %}

            <img src="{{ app.app_logo }}">
            <h4>{{ app.app_name }}</h4>
            {% if app.app_device_type == 1 %}
            <p>智能显示，多档控制，强劲风力，多屏互动体验</p>
            {% elif app.app_device_type == 2 %}
            <p>WiFi/Android屏集成灶，远程监控灶状态，厨房风险指数模板快速接入</p>
            {% elif app.app_device_type == 11 %}
            <p>标准化蒸烤箱模板，3步快速接入，支持海量一键云菜谱</p>
            {% endif %}
            <div class="ui-demo">
                <a style="display:block;color:#fff" href="{% url 'product/main' %}?ID={{ app.app_id }}#/demo/{{ app.app_name }}">立即体验</a></div>
        </div>
        {% endfor %}
    </div>
    <div class="right">
        <h3 style="font-size: 21px;color: #fff"><b>3步 实现智能厨电开发</b></h3><br>
        <div class="set-float">
            <img src="/static/image/product/20180904-2.png">
            <p>定义全新产品》</p>
            <div class="set-radius"><span>1</span></div>
        </div>
        <div class="set-float">
            <img src="/static/image/product/20180904-4.png" style="padding-left: 20px;">
            <p>协议自助调试》</p>
            <div class="set-radius" style="margin-left: 34px;"><span>2</span></div>
        </div>
        <div class="set-float">
            <img style="margin-left: 20px" src="/static/image/product/20180904-1.png">
            <p>自定义UI界面</p>
            <div style="margin-left: 34px" class="set-radius"><span>3</span></div>
        </div>
    </div>
</div>

    <div class="wrapper wrapper2 mt20">
        <!-- 已发布的产品 -->
    <div class="_22y_index_new" data-reactid="86">
    <p class="_2wZ_index_new-list-title"><span>常用模板，快速创建方案</span></p>
        <div class="_2wZ_index_new-list" data-reactid="89">
            <div class="_2Mr_category_category" data-reactid="90">
               <div data-reactid="91">
                <i class="_1_k_index_category-img1 lazyload-ok" data-reactid="92" style="background-image: url('http://storage.56iq.net/group1/M00/1E/5D/CgoKQ1nEww2AD3k4AAAkpWFG0Gg831.png');"></i>
                <p class="_2tY_index_category-des" data-reactid="93">集成灶</p>
               </div>
               <div id="set-opacity" class="mark-entered mark-children mark" data-reactid="94">
                <div class="_3CN_category_mark-info" data-reactid="95">
                 <span class="mark-top-txt mark-children-top-txt" data-reactid="96">集成灶</span>
                 <span class="mark-middle-txt mark-children-middle-txt" data-reactid="97">支持远程开关、倒计时、定时功能。</span>
                 <button type="button" onclick="create_procuct('2')" id="create" class="tuya-btn tuya-btn-default mark-bottom-btn mark-children-bottom-btn" data-reactid="98">
                  <!-- react-text: 99 -->创建
                  <!-- /react-text -->
                 </button>
                </div>
               </div>
              </div>
            <div class="_2Mr_category_category" data-reactid="90">
               <div data-reactid="91">
                <i class="_1_k_index_category-img1 lazyload-ok" data-reactid="92" style="background-image: url('http://storage.56iq.net/group1/M00/1E/61/CgoKQ1nE69WAIbj_AAAUw9pzqW4566.png');"></i>
                <p class="_2tY_index_category-des" data-reactid="93">烤箱</p>
               </div>
               <div id="set-opacity" class="mark-entered mark-children mark" data-reactid="94">
                <div class="_3CN_category_mark-info" data-reactid="95">
                 <span class="mark-top-txt mark-children-top-txt" data-reactid="96">烤箱</span>
                 <span class="mark-middle-txt mark-children-middle-txt" data-reactid="97">支持远程开关、倒计时、定时功能。</span>
                 <button type="button" onclick="create_procuct('11')" id="create" class="tuya-btn tuya-btn-default mark-bottom-btn mark-children-bottom-btn" data-reactid="98">
                  <!-- react-text: 99 -->创建
                  <!-- /react-text -->
                 </button>
                </div>
               </div>
            </div>
            <div class="_2Mr_category_category" data-reactid="90">
               <div data-reactid="91">
                <i class="_1_k_index_category-img1 lazyload-ok" data-reactid="92" style="background-image: url('http://storage.56iq.net/group1/M00/1E/61/CgoKQ1nE65mAS4MpAAAJSZdcOUw618.png');"></i>
                <p class="_2tY_index_category-des" data-reactid="93">油烟机</p>
               </div>
               <div id="set-opacity" class="mark-entered mark-children mark" data-reactid="94">
                <div class="_3CN_category_mark-info" data-reactid="95">
                 <span class="mark-top-txt mark-children-top-txt" data-reactid="96">油烟机</span>
                 <span class="mark-middle-txt mark-children-middle-txt" data-reactid="97">支持远程开关、倒计时、定时功能。</span>
                 <button type="button" onclick="create_procuct('1')" id="create" class="tuya-btn tuya-btn-default mark-bottom-btn mark-children-bottom-btn" data-reactid="98">
                  <!-- react-text: 99 -->创建
                  <!-- /react-text -->
                 </button>
                </div>
               </div>
            </div>
        </div>
    </div>
    <div class="popBox" id="newHtmlBox" style="display: none;">
        <a href="javascript:;" onclick="new_close()" class="close">关闭</a>
        <h3 style="text-align: center;">创建<span id="productType"></span>类产品</h3>
        <div class="cont mt20" style="margin-top: 0px;">
            <i class="">
                <img id="show_logo"  style="width: 110px;height: 120px;margin:-4% 0 0 -3%;" src="http://storage.56iq.net/group1/M00/1D/0C/CgoKQ1m3oSmAbhKvAAALicfeZeI743.png">
            </i>
            <div class="warnCont">
                <form name="formProduct"  method="post" class="fd7_create_product-form" action="/product/add/">
                    <div class="ant-row ant-form-item">
                        <label for="product_name" class="">产品名称:</label>
                        <span class="ant-input-wrapper">
                            <input type="text" value="" id="product_name" onblur="check_name()" name="product_name" class="ant-input ant-input-lg">
                        </span>
                        <div id="productName" style="color: #f50;font-size: 12px;padding-left: 76px"></div>
                    </div>
                    <div class="ant-row ant-form-item">
                        <label for="product_name" class="">产品类型:</label>
                        <span class="ant-input-wrapper">厨房类
                            <input type="hidden" value="厨房类"  readonly = "readonly" name="product_category" class="ant-input ant-input-lg">
                        </span>
                    </div>
                    <input type="hidden" value="" id="product_category_detail" name="product_category_detail" class="">
                    <input type="hidden" value="{{ developer.developer_id }}" name="developer_id">
                    <input type="hidden" value="2" name="product_group">
                    <input type="hidden" value="是" name="product_command">

                </form>
            </div>
        </div>
        <div class="btnBar" style="background: none;height: 85px;">
              <span>
                <a href="javascript:;" onclick="submit_product()" id="productSubmit" class="btn-blue" style="background: #59B784;">提交</a>
              </span>
        </div>
    </div>

    <div class="title-sub"><span class="old">我的产品</span>
        <div class="col-lg-9 col-md-9 col-sm-9" style="margin-top: -7px;text-align: right">
            <a href="{% url "product/add" %}" class="btn btn-s-lg btn-success">
                <i class="fa fa-plus"></i>
                <span class="text">添加产品</span>
            </a>
        </div>
    </div>
        <div class="goodsBox" style=" margin-top: 30px;">
            {% if not  published_apps and not publishing_apps and not failed_apps and not unpublished_apps and not keyword %}
                <div style="text-align: center">
                    <p style="font-size: 20px;color: black"><b>简单几步即可拥有属于你的智能家电产品</b></p>
                    <p style="color: #868586;">数百种APP界面随意挑选组合</p>
                    <a href="{% url "product/add" %}">
                        <button type="button" class="set-create">创建</button>
                    </a>
                </div>
            {% endif %}
            {% for app in published_apps %}
                <div class="goods-list" >

                <dl>
                    <dt>
                        <a href="{% url 'product/main' %}?ID={{ app.app_id }}"><img src="{{ app.app_logo }}" onerror="this.src='{% static "image/global/default.png" %}'" title="产品图标"></a>
                    </dt>
                    <dd>
                        <div class="goods-title"><a href="{% url 'product/main' %}?ID={{ app.app_id }}">{{ app.app_name }}</a>
                        <span class="label bg-white" style="font-size: 100%;">{% if app.app_model %}{{ app.app_model }}{% endif %}</span>
                        </div>
                        <div class="product-info-div">
                            <p class="product-info-p">类别：{{ app.app_device_type |cover_device_type }}</p>
                            <p class="product-info-p">状态：已发布</p>
                            <p class="product-info-p">产品Key：<label>{{ app.app_appid| cover_str8 }}</label></p>
                            <p class="product-info-p">更新：{{ app.app_update_date| utc2local }}</p>
                        </div>
                    </dd>
                    <dd class="ui-control">
                        <ul class="progress">
                            <li class="prog_a "><a href="{% url 'product/main' %}?ID={{ app.app_id }}#/argue">功能定义</a><span><i>1</i></span></li>
                            <li class="prog_b"><a href="{% url 'product/main' %}?ID={{ app.app_id }}#/device">协议调试</a><span><i>2</i></span></li>
                            <li class="prog_c "><a href="http://oven.53iq.com/static/html/move.html?id=control2.html" target="_blank">UI编辑</a><span><i>3</i></span></li>
                            <li class="prog_d"><a onclick="export_protocol()" href="#">协议下载</a><span><i class="fa fa-download"></i></span></li>
                        </ul>
                    </dd>
                </dl>
                </div>
            {% endfor %}

            {% for app in publishing_apps %}
                <div class="goods-list" >

                    <dl>
                        <dt>
                            <a href="/product/main?ID={{ app.app_id }}"><img src="{{ app.app_logo }}" onerror="this.src='{% static "image/global/default.png" %}'" title="产品图标"></a>
                        </dt>
                        <dd>
                        <div class="goods-title"><a href="{% url 'product/main' %}?ID={{ app.app_id }}">{{ app.app_name }}</a>
                        <span class="label bg-white" style="font-size: 100%;">{% if app.app_model %}{{ app.app_model }}{% endif %}</span>
                        </div>
                        <div class="product-info-div">
                            <p class="product-info-p">类别：{{ app.app_device_type |cover_device_type }}</p>
                            <p class="product-info-p">状态：审核中</p>
                            <p class="product-info-p">产品Key：<label>{{ app.app_appid| cover_str8 }}</label></p>
                            <p class="product-info-p">更新：{{ app.app_update_date| utc2local }}</p>
                        </div>
                    </dd>
                    <dd class="ui-control">
                        <ul class="progress">
                            <li class="prog_a "><a href="{% url 'product/main' %}?ID={{ app.app_id }}#/argue">功能定义</a><span><i>1</i></span></li>
                            <li class="prog_b"><a href="{% url 'product/main' %}?ID={{ app.app_id }}#/device">协议调试</a><span><i>2</i></span></li>
                            <li class="prog_c "><a href="http://oven.53iq.com/static/html/move.html?id=control2.html" target="_blank">UI编辑</a><span><i>3</i></span></li>
                            <li class="prog_d"><a onclick="export_protocol()" href="#">协议下载</a><span><i class="fa fa-download"></i></span></li>
                        </ul>
                    </dd>
                    </dl>
                </div>
            {% endfor %}
            {% for app in unpublished_apps %}
                 <div class="goods-list">

                <dl>
                    <dt>
                        <a href="{% url 'product/main' %}?ID={{ app.app_id }}"><img src="{{ app.app_logo }}" onerror="this.src='{% static "image/global/default.png" %}'" title="产品图标"></a>
                        <a class="del" href="javascript:" id="delProLink" data-id="{{ app.app_id }}"><i></i></a>
                    </dt>
                    <dd>
                        <div class="goods-title"><a href="{% url 'product/main' %}?ID={{ app.app_id }}">{{ app.app_name }}</a>
                        <span class="label bg-white" style="font-size: 100%;">{% if app.app_model %}{{ app.app_model }}{% endif %}</span>
                        </div>
                        <div class="product-info-div">
                            <p class="product-info-p">类别：{{ app.app_device_type |cover_device_type }}</p>
                            <p class="product-info-p">状态：未发布</p>
                            <p class="product-info-p">产品Key：<label>{{ app.app_appid| cover_str8 }}</label></p>
                            <p class="product-info-p">更新：{{ app.app_update_date| utc2local }}</p>
                        </div>
                    </dd>
                    <dd class="ui-control">
                        <ul class="progress">
                            <li class="prog_a "><a href="{% url 'product/main' %}?ID={{ app.app_id }}#/argue">功能定义</a><span><i>1</i></span></li>
                            <li class="prog_b"><a href="{% url 'product/main' %}?ID={{ app.app_id }}#/device">协议调试</a><span><i>2</i></span></li>
                            <li class="prog_c "><a href="http://oven.53iq.com/static/html/move.html?id=control2.html" target="_blank">UI编辑</a><span><i>3</i></span></li>
                            <li class="prog_d"><a onclick="export_protocol()" href="#">协议下载</a><span><i class="fa fa-download"></i></span></li>
                        </ul>
                    </dd>
                </dl>
                </div>
            {% endfor %}
            {% for app in failed_apps %}
                 <div class="goods-list" style="">

                    <dl>
                        <dt>
                            <a href="{% url 'product/main' %}?ID={{ app.app_id }}"><img src="{{ app.app_logo }}" onerror="this.src='{% static "image/global/default.png" %}'" title="产品图标"></a>
                            <a class="del" href="javascript:" id="delProLink" data-id="{{ app.app_id }}"><i></i></a>
                        </dt>
                        <dd>
                        <div class="goods-title"><a href="{% url 'product/main' %}?ID={{ app.app_id }}">{{ app.app_name }}</a>
                        <span class="label bg-white" style="font-size: 100%;">{% if app.app_model %}{{ app.app_model }}{% endif %}</span>
                        </div>
                        <div class="product-info-div">
                            <p class="product-info-p">类别：{{ app.app_device_type |cover_device_type }}</p>
                            <p class="product-info-p">状态：未通过</p>
                            <p class="product-info-p">产品Key：<label>{{ app.app_appid| cover_str8 }}</label></p>
                            <p class="product-info-p">更新：{{ app.app_update_date| utc2local }}</p>
                        </div>
                    </dd>
                    <dd class="ui-control">
                        <ul class="progress">
                            <li class="prog_a "><a href="{% url 'product/main' %}?ID={{ app.app_id }}#/argue">功能定义</a><span><i>1</i></span></li>
                            <li class="prog_b"><a href="{% url 'product/main' %}?ID={{ app.app_id }}#/device">协议调试</a><span><i>2</i></span></li>
                            <li class="prog_c "><a href="http://oven.53iq.com/static/html/move.html?id=control2.html" target="_blank">UI编辑</a><span><i>3</i></span></li>
                            <li class="prog_d"><a onclick="export_protocol()" href="#">协议下载</a><span><i class="fa fa-download"></i></span></li>
                        </ul>
                    </dd>
                    </dl>
                </div>
            {% endfor %}
        </div>
        <div id="ie-form"></div>

        <!-- 未发布的产品 -->
<div class="markLayout"></div>
{% endblock %}

{% block script %}
    <script src="/static/js/product/bootbox.js"></script>
    <script src="/static/assets/js/jquery.jqGrid.min.js"></script>
    <script type="text/javascript" src="{% static "js/product/page_product_list.js" %}"></script>
    <script>
        var app_id = $("#delProLink").attr("data-id");
        var checkSubmitFlg = false;
        function export_protocol() {
            bootbox.confirm("确定导出控制协议参数吗?", function (result) {
                if (result) {
                    var form = document.createElement('form');
                    form.action = '#';
                    form.method = 'post';
                    form.style = "display: none";
                    var input = document.createElement("input");
                    input.name = "name";
                    input.type = "text";
                    input.value = "export";
                    var input1 = document.createElement("input");
                    input1.name = "app_id";
                    input1.type = "text";
                    input1.value = app_id;
                    form.appendChild(input);
                    form.appendChild(input1);
                    $("#ie-form").html(form);
                    form.submit();
                  }
                });
        }
        function submit_product() {
            var form = $("form[name=formProduct]");

            var product_name = $("#product_name").val();
            if(product_name == ''){
                alert("产品名称不能为空！");
                return ;
            }
            if(!checkSubmitFlg){
                checkSubmitFlg=true;
                console.log("不能重复提交");
                 form.submit();
            }
            else{
                return;
            }
        }
        function check_name() {
            if($("#product_name").val()==''){
                $('#productName').html("产品名称不能为空");
                $('#productName').css("display", "block");
                return '';
            }
            else{
                $('#productName').css("display", "none");

            }
        }
        function create_procuct(type) {
            $(".markLayout").show();
            if(type=='1'){
                $("#product_category_detail").val('1');
                $("#productType").html("油烟机");
                $("#show_logo").attr('src',"http://storage.56iq.net/group1/M00/1D/0C/CgoKQ1m3oSmAbhKvAAALicfeZeI743.png");
            }
            else if(type=='2'){
                $("#product_category_detail").val('2');
                $("#productType").html("集成灶");
                $("#show_logo").attr('src',"http://storage.56iq.net/group1/M00/1D/0C/CgoKQ1m3oYGANZPwAAAIvQGt7RM216.png");
            }
            else if(type=='11'){
                $("#product_category_detail").val('11');
                $("#productType").html("烤箱");
                $("#show_logo").attr('src',"http://storage.56iq.net/group1/M00/1D/0C/CgoKQ1m3oWqAbFICAAAKkW-6s_Q059.png");
            }
            $("#newHtmlBox").css('display','block');
            $(document).ready(function () {
                $(".markLayout").click(function (event) {
                    if (!$(this).hasClass("popBox") &&!$(this).hasClass("tuya-btn tuya-btn-default mark-bottom-btn mark-children-bottom-btn")){
                        new_close();
                    }
                    event.stopPropagation(); //阻止事件冒泡
                });
            });
        }
        function new_close() {
            $(".markLayout").hide();
            $("#newHtmlBox").css('display','none');
            $("#product_name").val('');
            $("#show_logo").attr('src',"");
            $('#productName').css("display", "none");
        }
    </script>
{% endblock %}