{% extends "product/base.tpl" %}
{% load staticfiles %}
{% load filter %}
{% block title %}
    厨电开发
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'common/css/font-awesome.min.css' %}"/>
<!-- bootstrap & fontawesome -->


    <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.min.css'%}" />
    <link rel="stylesheet" href="{% static 'assets/css/ui.jqgrid.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/ace.min.css' %}" class="ace-main-stylesheet" id="main-ace-style" />
    <link rel="stylesheet" href="/static/css/product/bootbox.css">
    <link rel="stylesheet" href="/static/css/product/notice.css">
    <style>
       body {
           background-color: #F1F4F9;
           padding-bottom: 0;
           font-size: 14px;
           line-height: 0;
           height: auto;
       }
       .header{
           height: 76px;
           margin-top: 0;
           margin-bottom: 0;
       }
       .title{
           position: fixed;
           margin-top: -15px;
            width: 100%;
            top: 90px;
            z-index: 9;
       }
       .leftSide{
           margin-bottom: 0;
           padding-bottom: 0;
           max-height: 704px;
           overflow-y: visible;
       }
       .box1{
           min-height: 0;
       }
       .breadcrumb{
           font-size: 16px;
           line-height: 0px;
       }
       .dropdown{
           margin-left: 15px;
           cursor: pointer;
       }
       .dropdown-menu{
           margin-top: 10px;
       }
        .dropdown-menu>li{
          height: 35px;
            line-height: 35px;
       }
       .dropdown-menu>li:hover{
           background: #ff6202;
       }
       .dropdown-menu>li>a{
           padding-bottom: 0;
           line-height: 30px;
           border: 0;
           font-size: 16px;
       }
       .dropdown-menu>li:hover>a, .dropdown-menu>li>a:active, .dropdown-menu>li>a:focus{
           background: #ff6202;
           border: 0;
       }
       .menuBox h3{
           padding-left: 15px;
           margin-top: 5px;
           font-size: 15px;
       }

        .wrapper {
            width: 1200px;
            padding: 0;
            margin: 0 auto;
        }

        .mt20 {
            margin-top: 20px;
            border-top:1px solid #ccc ;
        }

        .goods span {
            height: 30px;
        }
        .nav > li > a:hover {

            background: transparent;
        }
        .footer {
            width: 1200px;
            padding-top: 20px;
            height: auto;
        }
        .nav>li>a {
            padding: 5px;
        }
        .highlight{
            background: #808080;
            border: 1px solid #808080;
        }
        .nav-current{
            text-decoration:none; border-bottom: 3px solid #ff6202;height: 35px;
        }

    .breadcrumb>li>a{
        color: #333;
        cursor: pointer;
    }
    .breadcrumb>li>a:hover{
        color: #ff6202;
    }
    .breadcrumb>li, .breadcrumb>li.active,.breadcrumb>li:active,.breadcrumb>li:focus{
        color: #ff6202;
        cursor: text;
    }
    .step-navs>li{
        display: inline-block;
        width: 160px;
    }
    .fa{
        line-height: 21px;
        padding-left: 6px;
    }
    .fa-sliders:before{
        content: "1";
        color: #fff;
    }
    .fa-slider:before{
        content: "3";
        color: #fff;
    }
    .fa-inbox:before {
        content: "2";
        color: #fff;
    }
    .fa-file-text-o:before {
        content: "5";
        color: #fff;
    }
    .fa-desktop:before {
        content: "4";
        color: #fff;
    }
    .fa-text:before{
        content: "6";
        color: #fff;
    }

    .menuBox ul li a i {
        border-radius: 50%;
        background: #ccc;
    }
    .menuBox ul li.hover a i{
        background: #ff6202;
    }
    .menuBox ul li.hover a{
        color: #ff6202;
    }
    </style>
{% endblock %}
{% block menu %}
    {% create_menu 0 user.account_id %}

{% endblock %}

{% block content %}

    <div ng-controller="ProductBaseCtrl">
     <div class="title">
            <div class="wrapper">
            {% for default_app in default_apps %}
                <input type="hidden" class="default-app" data-appid={{ default_app.app_id }}>
            {% endfor %}
            {% for a in all_app %}
                {% if a.check_status != 3%}
                    <input type="hidden" class="owner-app" data-appid={{ a.app_id }}>
                {% endif %}
            {% endfor %}
            <ol class="breadcrumb">
            <li><a href="/product/list/">厨电开发</a></li>
            <li>
                     {% if app.check_status == 3 %}开发示例
                     {% else %}<a href="/product/list/">我的产品</a>{% endif %}

            </li>
            {% if app.check_status == 3 %}
            <li id="default-app-id">
                 <div class="dropdown" id="dropdown">
                    <p id="dropdownMenu1"
                        data-toggle="dropdown">
                        {{ app.app_name }}
                        <span class="caret"></span>
                    </p>
                     <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">

                         {% for default_app in default_apps %}
                             {% if default_app.app_id != app.app_id %}
                             <li role="presentation">
                                 <a role="menuitem" tabindex="-1" onclick="update_href(this)" href="?ID={{ default_app.app_id }}#"  data-name={{ default_app.app_name }} data-appid={{ default_app.app_id }}>{{ default_app.app_name }}</a>
                             </li>
                             {% endif %}
                         {% endfor %}
                     </ul>
                 </div>
            </li>
            <span style="margin-left: 40px">key:{{ key }}</span>
            {% else %}
            <li id="owner-app-id" >
                <div class="dropdown" id="dropdown">
                    <p id="dropdownMenu1"
                        data-toggle="dropdown">
                        {{ app.app_name }}
                        <span class="caret"></span>
                    </p>
                        {% if all_app|num_app %}
                         <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">

                             {% for a in all_app %}
                                    {% if a.app_id != app.app_id and a.check_status != 3 %}

                                        <li role="presentation">
                                            <a role="menuitem" onclick="update_href(this)" tabindex="-1" href="?ID={{ a.app_id }}#" data-appid={{ a.app_id }}>{{ a.app_name }}</a>
                                        </li>
                                    {% endif %}

                             {% endfor %}

                         </ul>
                        {% endif %}
                 </div>
            </li>
            <span style="margin-left: 40px">key:{{ key }}</span>
            {% endif %}
            </ol>
            
                <span style="margin-left: 22%;color: red;"> {% if app.check_status == 1 %}该产品处于发布审核阶段，功能点不可修改。{% elif app.check_status == 2 %}该产品已发布，功能点不可修改。{% elif app.check_status == 3 %}{{ app.app_name }}示例体验，功能点不可修改。{% endif %}</span>

            </div>
            {% if app.check_remarks and app.check_status == -1 %}

                <div class="wrapper" style=" padding-top: 20px;">
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <i class="fa fa-bell-o"></i>&nbsp;&nbsp;[应用未通过原因]&nbsp;&nbsp;<span>{{ app.check_remarks }}</span>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="wrapper mt20 fn-clear" style="border-top: none;padding-top: 158px;">
            <div class="leftSide">
                <div class="box1">
                    <!-- 左侧菜单 begin -->
{#                    <div class="menuBox">#}
{##}
{#                        <ul>#}
{#                            <li id="contentMenu" class="jsNavItem" data-id="contentMenu" ng-click="nav.selected('contentMenu')">#}
{#                                <a href="#/content">#}
{#                                   <i class="fa fa-sliders"></i>产品控制台#}
{#                                </a>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </div>#}
                    <div class="menuBox">

                        <ul>
                            <li id="infoMenu" class="jsNavItem" data-id="portalMenu" ng-click="nav.selected('portalMenu')">
                                <a href="#/portal">
                                    <i class="fa fa-sliders "></i>产品控制台
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="menuBox">

                            <ul>
                                <li id="argueMenu" class="jsNavItem" data-id="argueMenu" ng-click="nav.selected('argueMenu')">
                                    <a href="#/argue">
                                        <i class="fa fa-inbox"></i>定义控制功能
                                    </a>
                                </li>
                            </ul>
                        </div>
                    <div class="menuBox">

                        <ul>
                            <li id="protocolMenu" class="jsNavItem" data-id="protocolMenu" ng-click="nav.selected('protocolMenu')">
                                <a href="#/protocol">
                                    <i class="fa fa-slider "></i>定义通信协议
                                </a>
                            </li>
                        </ul>
                    </div>


                    {% if app.check_status == 3 %}
                    <div class="menuBox">
                        <ul>
                            <li id="demoMenu" class="jsNavItem" data-id="demoMenu" ng-click="nav.selected('demoMenu')">
                                <a href="#/demo/{{ app.app_name}}">
                                    <i class="fa fa-desktop " ></i>开发示例
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="menuBox">
                        <ul>
                            <li id="deviceMenu" class="jsNavItem" data-id="deviceMenu" ng-click="nav.selected('deviceMenu')">
                                <a href="#/device">
                                    <i class="fa fa-file-text-o "></i>设备调试
                                </a>
                            </li>
                        </ul>
                    </div>
                    {% else %}
                        <div class="menuBox">
                            <ul>
                                <li id="appMenu" class="jsNavItem" data-id="appMenu" ng-click="nav.selected('appMenu')">
                                    <a href="#/app">
                                        <i class="fa fa-desktop " ></i>UI编辑
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="menuBox">
                        <ul>
                            <li id="deviceMenu" class="jsNavItem" data-id="deviceMenu" ng-click="nav.selected('deviceMenu')">
                                <a href="#/device">
                                    <i class="fa fa-file-text-o "></i>设备调试
                                </a>
                            </li>
                        </ul>
                    </div>
                        <div class="menuBox">
                        <div class="gd-opt" style="margin-top: 12px;margin-left: 29px;float: none">
                        <div class="apply" ng-controller="ContentCtrl">
                            <a ng-show="check_status!='体验产品'" href="javascript:void(0)" id="releaseProductBut" ng-controller="ContentCtrl"  ng-click='click(app_check_status)'><i class="fa fa-arrow-circle-o-up"></i><span class="text">{[{apply_status}]}</span></a>
                        </div>
                        </div>
                    </div>
                    {% endif %}


                    <!-- 左侧菜单 end -->
                </div>
            </div>
            <!-- 主内容 -->
             <div>
                <div   class="rightMain"  id="proRightMain" ng-view>

                </div>
                 <div id="loadingDiv" style="display: none;position:absolute;left:51%;width:100%;top:33%;background:#f3f8ff;opacity:0.8;filter:alpha(opacity=80);z-index:10000;"><div style="position: absolute; cursor1: wait; width: auto; height: 57px; line-height: 57px; padding-left: 50px; padding-right: 5px; background: #fff url(/static/image/product/loading.gif) no-repeat scroll 5px 10px; border: 2px solid #95B8E7; color: #696969; font-family:\'Microsoft YaHei\';">页面加载中，请等待...</div></div>

             </div>
        </div>
    </div>
<div class="markLayout"></div>
<div class="notification-container"></div>
{% endblock %}

{% block end_fixed_script %}
    <script src="//apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="//apps.bdimg.com/libs/angular-route/1.3.13/angular-route.js"></script>
    <script src="{% static "ng/product/app.js" %}"></script>
    <script src="{% static "ng/product/controller.js" %}"></script>
    <script src="{% static "ng/product/portal/controller.js" %}"></script>
    <script src="{% static "ng/product/info/controller.js" %}"></script>
    <script src="{% static "ng/product/app/controller.js" %}"></script>
    <script src="{% static "ng/product/argue/controller.js" %}"></script>
    <script src="{% static "ng/product/edit/controller.js" %}"></script>
    <script src="{% static "ng/product/device/controller.js" %}"></script>
    <script src="{% static "ng/product/content/controller.js" %}"></script>
    <script src="{% static "ng/product/oven/controller.js" %}"></script>
    <script src="{% static "ng/product/protocol/controller.js" %}"></script>
    <script src="{% static "ng/product/schedule/controller.js" %}"></script>
    <script src="/static/js/product/bootbox.js"></script>

    <script src="{% static "bootstrap/bootstrap-notify.min.js" %}"></script>
    <script src="/static/bootstrap/daterangepicker/moment.zh-cn.js" type="application/javascript"></script>
<script src="/static/bootstrap/daterangepicker/daterangepicker.js" type="application/javascript"></script>
    <script>

    function update_href(obj){
            var id = $(obj).attr("data-appid");
            var name = $(obj).attr("data-name");
            id = "ID=" + id;
            var href1= location.href;
            test = href1.split("demo");
            href1 = href1.replace(/ID=\d+/,id);
            if (test.length > 1){
                name = 'demo/'+name;
                href1 = href1.replace(/demo.*/,name);
            }
            $(obj).attr('href',href1);
    }

        angular.module('Product.base', ['ngRoute'])
                .controller('ProductBaseCtrl', ['$scope', function ($scope) {
                    // 应用信息
                    $scope.app_currversion = "{{ app.app_currversion | xxxx }}";
                    $scope.app_check_remarks = "{{ app.check_remarks }}";
                    $scope.visible =
                            "{% if app.check_status == 1 or app.check_status == 2 or app.check_status == 3 %}true{% else %}false{% endif %}";
                    $scope.disabled = $scope.visible;
                    $scope.csrf_token = "{% if csrf_token %}{{ csrf_token }}{% endif %}";
                    $scope.appid = "{% if app.app_appid %}{{ app.app_appid }}{% endif %}";
                    $scope.app_secret = "{% if app.app_appsecret %}{{ app.app_appsecret }}{% endif %}";
                    $scope.app_id = "{% if app.app_id %}{{ app.app_id }}{% endif %}";
                    $scope.app_name = "{% if app.app_name %}{{ app.app_name|safe|linebreaksbr }}{% endif %}";
                    $scope.app_category = "{% if app.app_category %}{{ app.app_category|safe|linebreaksbr }}{% endif %}";
                    $scope.app_model = "{% if app.app_model %}{{ app.app_model|safe|linebreaksbr }}{% endif %}";
                    $scope.app_describe = "{% if app.app_describe %}{{ app.app_describe|safe|linebreaksbr }}{% endif %}";
                    $scope.app_site = "{% if app.app_site %}{{ app.app_site|safe|linebreaksbr }}{% endif %}";
                    $scope.app_logo = "{% if app.app_logo %}{{ app.app_logo|safe|linebreaksbr }}{% endif %}" || "/static/image/global/default.png";
                    $scope.app_config_push_url = "{% if app.app_push_url %}{{ app.app_push_url|safe|linebreaksbr }}{% endif %}";
                    $scope.app_config_push_token = "{% if app.app_push_token %}{{ app.app_push_token|safe|linebreaksbr }}{% endif %}";
                    $scope.app_command = "{% if app.app_command %}{{ app.app_command|safe|linebreaksbr }}{% endif %}";
                    $scope.app_device_name = "{% if device_name %}{{ device_name|safe|linebreaksbr }}{% endif %}";
                    $scope.app_device_type = "{% if app.app_device_type %}{{ app.app_device_type }}{% endif %}";
                    $scope.app_group = "{{ app.app_group|safe|linebreaksbr }}";
                    $scope.band_name = "{{ band_name }}";
                    $scope.app_factory_uid = "{{ app.app_factory_uid }}";
                    $scope.key = "{{ key }}";
                    $scope.teams = {{ teams|safe|linebreaksbr }};
                    keysss = "{{ key }}";
                    $scope.check_status = "{% if app.check_status == 0%} 未发布 {% elif app.check_status == 1 %} 审核中{% elif app.check_status == -1 %} 未通过{% elif app.check_status == 2 %}已发布{% else %}体验产品{% endif %}";
                    $scope.create_time = "{{ app.app_create_date|utc2local  }}";
                    $scope.create_time_detail = "{{ app.app_create_date|utc2local2 }}"; // 详细的时间信息
                    $scope.update_time = "{{ app.app_update_date|utc2local  }}";
                    $scope.apply_status = "{% if app.check_status == 0%} 定稿 {% elif app.check_status == 1 %} 取消发布{% elif app.check_status == 2 %}我要下架{% elif app.check_status == -1 %}重新发布{% endif %}";
                    $scope.app_create_user = "{{ app.developer_id }}";
                    $scope.login_user = "{{ user.account_id }}";
                    // 应用类目
                    $scope.secondProType = [
                        {
                            "name": "无",
                            "value": "无"
                        },
                        {
                            "name": "厨房类",
                            "value": "厨房类"
                        },
                        {
                            "name": "卫浴类",
                            "value": "卫浴类"
                        }
                    ];
                    $scope.product_type=[
                        {
                            "name": '无',
                            "value": '0'
                        },
                        {
                            "name": "普通电控",
                            "value": "2"
                        },
                        {
                            "name": "普通App",
                            "value": "1"
                        }
                    ];
                    // 发布表单
                    $scope.releaseFormData = {
                        "csrfmiddlewaretoken": $scope.csrf_token,
                        "app_id": $scope.app_id
                    };
                    // 取消发布表单
                    $scope.cancelReleaseFormData = {
                        "csrfmiddlewaretoken": $scope.csrf_token,
                        "app_id": $scope.app_id
                    };
                    // 下架表单
                    $scope.offFormData = {
                        "csrfmiddlewaretoken": $scope.csrf_token,
                        "app_id": $scope.app_id
                    };
                    // 基本信息表单
                    $scope.infoFormData = {
                        "csrfmiddlewaretoken": $scope.csrf_token,
                        "app_id": $scope.app_id,
                        "app_name": $scope.app_name,
                        "app_model": $scope.app_model,
                        "app_describe": $scope.app_describe,
                        "app_site": $scope.app_site,
                        "app_logo": $scope.app_logo,
                        "app_command": $scope.app_command,
                        "app_group": $scope.app_group,
                        "band_name": $scope.band_name,
                        "app_factory_uid": $scope.app_factory_uid,
                        "app_create_time": $scope.create_time,
                        "app_update_time": $scope.update_time
                    };
                    $scope.resetInfo=function () {
                           $scope.infoFormData = {
                            "csrfmiddlewaretoken": $scope.csrf_token,
                            "app_id": $scope.app_id,
                            "app_name": $scope.app_name,
                            "app_model": $scope.app_model,
                            "app_describe": $scope.app_describe,
                            "app_site": $scope.app_site,
                            "app_logo": $scope.app_logo,
                            "app_command": $scope.app_command,
                            "app_group": $scope.app_group,
                            "band_name": $scope.band_name,
                            "app_factory_uid": $scope.app_factory_uid,
                            "app_update_time": $scope.update_time
                        }
                    };
                    // 配置信息表单
                    $scope.configFormData = {
                        "csrfmiddlewaretoken": $scope.csrf_token,
                        "app_id": $scope.app_id,
                        "app_config_push_url": $scope.app_config_push_url,
                        "app_config_push_token": $scope.app_config_push_token
                    };
                    // 重置密钥表单
                    $scope.resetSecretFormData = {
                        "csrfmiddlewaretoken": $scope.csrf_token,
                        "app_id": $scope.app_id
                    };
                    // <a href="https://oven.53iq.com/static/html/control.html?d=ABCDEFABCDEF" target="_blank">
                    // 设备管理表数据
                    $scope.apiListTable = [
                        '<style>',
                        'a, a:visited {',
                        'text-decoration: none;',
                        '}',
                        'a:hover {',
                        'text-decoration: underline;',
                        '}',
                        '</style>',
                        '<style>',
                        'a, a:visited {',
                        'text-decoration: none;',
                        '}',
                        'a:hover {',
                        'text-decoration: underline;',
                        '}',
                        '</style>',
                        '<div class="panel-heading">',
                        '<span class="label bg-success pull-right m-t-xs">version 1.0.1</span>&nbsp;',
                        '</div>',
                        '<table class="table table-striped m-b-none">',
                        '<thead>',
                        '<tr>',
                        '<th>类目</th>',
                        '<th>功能</th>',
                        '<th style="width: 250px;">接口</th>',
                        '<th class="text-right" style="width: 150px;">每日调用上限/次</th>',
                        '<th>接口状态</th>',
                        '<th>操作</th>',
                        '</tr>',
                        '</thead>',
                        '<tbody>',
                        {% for api in api_list %}
                            '<tr>',
                            '<td>{% if api.api_classify %}{{ api.api_classify }}{% endif %}</td>',
                            '<td>{% if api.api_function %}{{ api.api_function }}{% endif %}</td>',
                            '<td><a href="{% if api.api_doc_url %}{{ api.api_doc_url }}{% endif %}" target="_blank">{% if api.api_name %}{{ api.api_name }}{% endif %}</a></td>',
                            '<td class="text-right">{% if api.api_invoke_total %}{{ api.api_invoke_total }}{% else %}无上限{% endif %}</td>',
                            '<td>已获得</td>',
                            '<td></td>',
                            '</tr>',
                        {% endfor %}
                        '</tbody>',
                        '</table>'
                    ].join("");
                    //控制左侧导航nav选中
                    $scope.nav = {
                        selected: function (id) {
                            jQuery(".jsNavItem").removeClass('hover');
                            jQuery(".jsNavItem[data-id='" + id + "']").addClass('active');
                            jQuery(".jsNavItem[data-id='" + id + "']").addClass('hover');
                            scrollTo(0,0);
                        }
                    };
                }]);
    </script>
{% endblock %}