<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>设备页面管理</title>
    <style>
        .main{display: flex;}
        .main_left{ width:30%; background-color: white;height: 604px;margin-top: 30px;}
        .main_right{margin-top: 70px;}
        .phone_background{background-image: url("/static/image/product/saoma.jpg");background-repeat:no-repeat; background-size:100% 100%;-moz-background-size:100% 100%;
         width: 230px;height: 270px; margin-top: 120px;margin-left: -10px;}

    </style>
</head>
<body>

<div class="box2">
<div class="hl-help">
     <div class="dropdown" id="dropdown">
        <span style="color: #ff6202;margin-left: -10px;">产品体验</span>
     </div>
    </div>
    <div class="main mt20">
    <div class="main_left">
            <div class="phone_background"></div>
                <div id="qrcode" style="margin-left:160px;margin-top:-170px;position: absolute;"></div>

    </div>
                <div style="margin-top: 450px;margin-left: 20px;position: absolute;width: 250px;"><h4>请使用“53iq智能厨房App”</h4><h4>扫码体验手机控制 </h4></div>
    <div class="main_right">
        <iframe id="iframes" name="oven" src="/static/ng/product/oven/oven.html" frameborder="0" width="650px" height="430px" ng-if="params.type=='智能烤箱'"></iframe>
        <iframe id="iframes" name="smoke" src="/static/ng/product/oven/smoke.html" frameborder="0" width="660px" height="440px" ng-if="params.type=='智能油烟机'"></iframe>
        <iframe id="iframes" name="stove" src="/static/ng/product/oven/stove.html" frameborder="0" width="680px" height="450px" ng-if="params.type=='集成灶'"></iframe>
    </div>
</div>
</div>
</body>
</html>


<script>
    setTimeout(function () {
                getQrcode()
             },1500)

    function getQrcode() {
        var b = '';
        var content ='';
        var a = getCookie('COOKIE_USER_ACCOUNT');
        console.log(a);
        var bx = document.getElementById('iframes');
        if(bx.name =='stove'){
            b='https://oven.53iq.com/static/html/stove_home.html?d=test'
            content  = b + a +'-stove' ;
        }
        if( bx.name=='oven'){
            b='https://oven.53iq.com/static/html/oven_home.html?d=test'
            content  = b + a +'-oven';
        }
        if( bx.name=='smoke'){
            b='https://oven.53iq.com/static/html/smoke_home.html?d=test'
            content  = b + a +'-smoke' ;
        }

        jQuery('#qrcode').qrcode({width:120,height:120,text:content});
        //$("#loadingDiv").hide();

    };
        function getCookie(name) {
        var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
        if (arr = document.cookie.match(reg))
            return unescape(arr[2]);
        else
            return null;
         };



</script>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.staticfile.org/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
