<!DOCTYPE html>
<html lang="en" class="mui-control">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>油烟机</title>

    <link href="/static/demo/css/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/demo/css/control-alter-app.css">
    <link rel="stylesheet" href="/static/demo/css/stove-smoke.css">
    <style>

        [v-cloak] {
            display: none;
        }
        .main{display: flex;}
        .main_right{ width: 70%;background-color: white; margin-top: 40px;}
        .zhong_background{background-image: url("border.png");
        background-repeat:no-repeat; background-size:100% 100%;-moz-background-size:100% 100%;
        margin-top: 50px;
        height: 450px;
        overflow: hidden;}
    </style>
</head>

<script src="/static/demo/js/vue.min.js"></script>
<script src="/static/demo/js/vue-resource.js"></script>

<script src="/static/demo/js/jquery.min.js"></script>
<script src="/static/demo/js/smoking.js"></script>
<script src="/static/demo/js/mui.min.js"> </script>
 <body style="background: white;">
   <div class="main">
            <div class="main_right">
                <div class="zhong_background">
                    <div style="height:350px;width:567px;margin-left:55px;margin-top:64px;background-color: #1f1d1d;">
                      <div class="mui-content" id="DeviceConf" v-cloak="" style="margin-top: -20px;font-size: 16px;">
                                    <div class="mui-content-padded">
                                        <h1 class="mui-headerH1">油烟机100056</h1>
                                    </div>

                                    <div class="mui-left">

                                        <div class="mui-col-sm-9" >
                                            <img id="smoke" src="/static/demo/img/lightclose.png" style="width: 162%;margin-top: 2px;">
                                            <img src="/static/demo/img/small_wind_1.png" id="picture" style="width: 162%;margin-top: -67%;display: none">
                                        </div>

                                    </div>
                                    <div class="mui-right">
                                        <ul class="mui-table-view mui-grid-view mui-grid-9" >
                                            <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3" v-for="f in funcList">
                                                <div @click="sendCommand(f.name,f.value)" class="mui-div-botton">
                                                    <input v-if="reversedWidget(f.widget, 'input')" type="text" :value="f.value" :id="f.name">
                                                    <span v-else="reversedWidget(f.widget, 'other')" class="mui-icon" :id="f.name" :class="[f.value?'mui-icon-control-c':'mui-icon-control']" style="width: 40px;height: 40px;"></span>
                                                    <div v-if="reversedWidget(f.widget, 'input')" class="mui-media-body">{{ f.title }}</div>
                                                    <div v-else="reversedWidget(f.widget, 'other')" class="mui-media-body" :class="[f.value?'mui-media-body-c':'']">{{ f.title }}</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                        </div>

               </div>
           </div >

   </div>






<script>
   mui.init({
        swipeBack: false //禁用右滑关闭功能
    });
</script>
<script>
    function GetRequest() {
        var url = location.search;
        var theRequest = new Object();
        if (url.indexOf("?") != -1) {
            var str = url.substr(1);
            strs = str.split("&");
            for(var i = 0; i < strs.length; i ++) {
                theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
            }
        }
        return theRequest;
    }
    Request = GetRequest();
    var mac = Request['d'];
    var timer1;
    var timer2;
    var timer3;
    if(mac==undefined){
        mac = 'AABBCCDDEEFF';
    }
    var devices = new Vue({
        el: '#DeviceConf',
        data: {
            funcList: [],
            show: false,
            title: '设备功能列表'
        },
        created: function ()  {
            this.funcList = pc_conf.functions;
            this.title = pc_conf.name;
        },
        methods: {

            reversedWidget: function (value, type) {
                if(value==type){
                    return true
                }
                else if(type=='other')
                    return true
            },
            checkPower:function () {
              // 检查电源是否打开
                for (var j = 0; j < this.funcList.length; j++) {
                    var tmp = this.funcList[j];
                    if (tmp.name=='POWER'){
                        if(tmp.value){
                            return true
                        }
                        else return false
                    }
                }
            },
            get_func: function(name) {
                for (var i = 0; i < this.funcList.length; i++) {
                    var tmp = this.funcList[i];
                    if (tmp.name == name) {
                        return tmp;
                    }
                }
            },
            play: function(tmp,timer) {
                if (tmp.value) {
                    var i = 1;
                    var wind = tmp.name.toLowerCase().split('_')[0];
                    $("#picture").css('display', 'block');
                    if(tmp.name == "SMALL_WIND"){
                        timer1 = setInterval(go, 900);
                    }
                    else if(tmp.name =="MIDDLE_WIND"){
                        timer2 = setInterval(go, 800);
                    }
                    else if(tmp.name =="BIG_WIND"){
                        timer3 = setInterval(go, 600);
                    }
                    function go() {
                        if (i > 4) {
                            i = 1;
                        }
                        $("#picture")[0].src = "/static/demo/img/"+wind+"_wind_" + i + ".png";
                        i++;
                    }
                }
                else {
                    clearInterval(timer);
                    $("#picture")[0].src = "";
                    $("#picture").css('display', 'none');
                }
            },
            sync_power_all:function (value) {
                lamp = this.get_func("LIGHT");
                if(value){
                     lamp.value = 1;
                     $("#smoke")[0].src = "/static/demo/img/lightopen.png";
                }
                else {
                      for(var i=0;i<this.funcList.length;i++){
                            this.funcList[i].value=0;
                        }
                        clearInterval(timer1);
                        clearInterval(timer2);
                        clearInterval(timer3);
                        $("#picture")[0].src = "";
                        $("#picture").css('display', 'none');
                        $("#smoke")[0].src = "/static/demo/img/lightclose.png";
                }
            },
            clickLamp: function(value) {
                if(value){
                    $("#smoke")[0].src = "/static/demo/img/lightopen.png";
                }
                else{
                    $("#smoke")[0].src = "/static/demo/img/lightclose.png";
                }
            },
            sendCommand: function (name, value) {
                small = this.get_func("SMALL_WIND");
                mid = this.get_func("MIDDLE_WIND");
                big = this.get_func("BIG_WIND");

                for (var j = 0; j < this.funcList.length; j++) {
                    var tmp = this.funcList[j];
                    if (tmp.name == name){
                        if(name!="POWER"){
                            if(!this.checkPower()){
                                 mui.alert('电源未打开，请先打开电源');
                                 return false
                             }
                        }
                        if(name == "TIME_OFF"){
                            mui.alert('虚拟设备暂不支持该功能');
                            return false
                        }
                        tmp.value = !tmp.value;
                        if(name == "POWER"){
                            this.sync_power_all(tmp.value);
                        }
                        else if(name=="LIGHT"){
                            this.clickLamp(tmp.value)
                        }
                        if(name =="SMALL_WIND"){
                            if (small.value){
                                mid.value = 0;
                                big.value = 0;
                                clearInterval(timer2);
                                clearInterval(timer3);
                            }
                            this.play(tmp,"timer1");
                        }
                        else if(name == "MIDDLE_WIND"){
                            if (mid.value){
                                small.value = 0;
                                big.value = 0;
                                clearInterval(timer1);
                                clearInterval(timer3);
                            }
                            this.play(tmp,"timer2");
                        }
                        else if(name == "BIG_WIND"){
                            if (big.value){
                                small.value = 0;
                                mid.value = 0;
                                clearInterval(timer2);
                                clearInterval(timer1);
                            }
                            this.play(tmp,"timer3");
                        }
                        }
                }
            }
        },
        computed: {}
    });
</script>
<script>
    window.onload = function () {
      var a = getck('COOKIE_USER_ACCOUNT')
        console.log(a)
        document.body.style.overflow="hidden";
    }
    var acookie=document.cookie.split("; ");
                function getck(sname)
                {//获取单个cookies
                for(var i=0;i<acookie.length;i++){
                var arr=acookie[i].split("=");
                if(sname==arr[0]){
                if(arr.length>1)
                return unescape(arr[1]);
                else
                return "";}}
                return "";
}
</script>
</body>
</html>