<!DOCTYPE html>
<html lang="en" class="mui-control" style="width: 690px;height: 430px;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>集成灶</title>
    <link href="/static/demo/css/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/demo/css/control-alter-app.css">
    <link rel="stylesheet" href="/static/demo/css/stove-smoke.css">
    <style>
        [v-cloak] {
            display: none;
        }
        .zhong_background{ background-image: url("/static/image/product/border.png");
           background-repeat:no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;height:450px;width:670px;position: absolute;}
    </style>
</head>
<body style="background-color: white;">
<script type='text/javascript' src='//cdn.staticfile.org/jquery/2.1.1/jquery.min.js'></script>
<script type="text/javascript" src="//cdn.staticfile.org/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
</body>
<script>
      var userID = '' // 用户id
      window.onload = function MyAutoRun() {
      var a = getck('COOKIE_USER_ACCOUNT')
          console.log(a)
          userID = 'test'+a +'-stove'
          document.body.style.overflow="hidden";
        <!-- 读取页面Cookie 获取用户ID 固定html滚动条 -->
       }
      var acookie=document.cookie.split("; ");// 获取cookie
                function getck(sname)
                {//获取单个cookies
                for(var i=0;i<acookie.length;i++){
                var arr=acookie[i].split("=");
                if(sname==arr[0]){
                if(arr.length>1)
                return unescape(arr[1]);
                else
                return "";}}
                return "";
                }
</script>
<script src="/static/demo/js/vue.min.js"></script>
<script src="/static/demo/js/vue-resource.js"></script>
<script src="/static/demo/js/jsapi.js"></script>
<script src="/static/demo/js/jquery.min.js"></script>
<script src="/static/demo/js/collect.js"></script>
<script src="/static/demo/js/mui.min.js"> </script>
         <div class="zhong_background">
            <div style="height: 350px;width:560px;background-color:#1f1d1d; margin-left: 54px;margin-top: 43px; position: absolute;">
                <div class="mui-content" id="DeviceConf" v-cloak="">
                    <div class="mui-content-padded">
                        <h3>集成灶100056</h3>
                    </div>
                    <div class="mui-left">
                        <div class="mui-row">
                            <div class="mui-col-sm-9">
                                <div class="left-navl">
                                    <img  width="50" height="50" style="margin-top: 0px;margin-left: 80px;" src="/static/demo/img/icon_stove_num_low.png">
                                    <p id="timer" style="font-size: 4rem;color: #ff6202;left: -5%;margin-top: 30px;margin-left: 40px;">{{ danger }}<br> </p>
                                    <p style="  font-size: 12px;top: 37px;width: 70px;color: white;margin-top: 25px;margin-left: 45px;">炉灶风险值</p>
                                </div>
                            </div>
                        <div class="mui-col-sm-9">
                    <div>
                        <h1 id="setTime" style="color:whitesmoke;font-size: 2rem; font-weight: 100; margin-bottom: 20px; margin-left: 40px;">{{ minute }}:{{ second }}</h1>
                        <p style="margin-left: 40px;color:white;font-size: 13px;width: 80px; margin-top: -10px;">持续工作时间</p>
                    </div>
                </div>
            </div>
        </div>
            <div class="mui-right">
                <ul class="mui-table-view mui-grid-view mui-grid-9" style="border-left: 1px solid hsla(0,0%,100%,.2);margin-top: 20px;" >
                    <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3" v-for="f in funcList" style="margin-top: 20px;">
                        <div @click="sendCommand(f.name,f.value)" class="mui-div-botton" style="height: 72px;width:72px;">
                            <input v-if="reversedWidget(f.widget, 'input')" type="text" :value="f.value" :id="f.name">
                            <span v-else="reversedWidget(f.widget, 'other')" class="mui-icon" :id="f.name" :class="[f.value?'mui-icon-control-c':'mui-icon-control']" style="width: 40px;height: 40px;margin-top: 3px;"></span>
                            <div v-if="reversedWidget(f.widget, 'input')" class="mui-media-body" >{{ f.title }}</div>
                                <div v-else="reversedWidget(f.widget, 'other')" class="mui-media-body" :class="[f.value?'mui-media-body-c':'']" style="font-size: 14px;margin-top: 0px;">{{ f.title }}</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
            </div>
         </div>

<script src="/static/js/orbited/Orbited.js"></script>
<script src="/static/js/orbited/stomp.js"></script>
<script>
   mui.init({
        swipeBack: false //禁用右滑关闭功能
    });
   var is_connected = false; // 是否连接上stomp
   var five_sec;
</script>
<script>
    function GetRequest() {
        var url = location.search;
        var theRequest = new Object();
        if (url.indexOf("?") != -1) {
            var str = url.substr(1);
            strs = str.split("&");
            for(var i = 0; i < strs.length; i ++) {
                theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
            }
        }
        return theRequest;
    }
    Request = GetRequest();
    var mac = Request['d'];
    console.log(mac);
    if(mac==undefined){
        mac = 'AABBCCDDEEFF';
    }
    var t;
    var devices = new Vue({
        el: '#DeviceConf',
        data: {
            funcList: [],
            show: false,
            danger:'00',
            minute:'00',
            second:'00',
            title: '设备功能列表'
        },
        created: function ()  {
             console.log('created is triggered.');
             console.log(pc_conf.functions);
            this.funcList = pc_conf.functions;
            this.title = pc_conf.name;
        },
        methods: {
            reversedWidget: function (value, type) {
                if(value==type){
                    return true
                }
                else if(type=='other')
                    return true
            },
            checkPower:function () {
              // 检查电源是否打开
                for (var j = 0; j < this.funcList.length; j++) {
                    var tmp = this.funcList[j];
                    if (tmp.name=='POWER'){
                        if(tmp.value){
                            return true
                        }
                        else return false

                    }
                }
            },
            get_func: function(name) {
                for (var i = 0; i < this.funcList.length; i++) {
                    var tmp = this.funcList[i];
                    if (tmp.name == name) {
                        return tmp;
                    }
                }
            },
            sync_power_all: function(value) {
                if(value){
                    // 电源开
                     this.danger='10';
                }
                else{
                    // 电源关
                    this.danger='00';
                    this.minute='00';
                    this.second='00';
                    stopCount("DISINFECT");
                    for(var i=0;i<this.funcList.length;i++){
                        this.funcList[i].value=0;
                    }
                }
            },
            sendCommand: function ( name,value) {
                for (var j = 0; j < this.funcList.length; j++) {
                    var tmp = this.funcList[j];
                    if (tmp.name == name){
                        if(name!="POWER"){
                            if(!this.checkPower()){
                                 mui.alert('电源未打开，请先打开电源');
                                 return false
                             }
                        }
                        if(name == "TIME_OFF"){
                            mui.alert('虚拟设备暂不支持该功能');
                            return false
                        }
                        if(value < tmp.values[1]){
                            value++
                        }
                        else {
                            value = tmp.values[0]
                        }
                        console.log(value, '+++');
                        tmp.value = value;
                        if(name == "POWER"){
                            this.sync_power_all(value)
                        }
                        if(name == "DISINFECT" || name == "DRY"){
                            if(tmp.value)
                            {
                                stopCount(name);
                                t=setInterval(function(){ timedCount(name);},1000);
                            }
                            else{
                                stopCount(name)
                            }
                        }
                        else if(name == "WIND"){
                            tmp.title = tmp.value_des[value];
                        }
                    }

                }
                send_data = {'did': userID, 'name': name, 'value': value};
                this.$http.post('/product/control', JSON.stringify(send_data).toString()
                         ).then(function (res) {
                             res = JSON.parse(res.body);
                             console.log(res);
                             if(res['code']==-1){

                                 mui.alert('设备离线')
                             }
                             else if(res['code']==0){

                                 mui.toast('指令发送成功')
                             }
                         });
            }
        },
        computed: {}
    });
    function timedCount(name) {
        var min=parseInt(devices.minute);
        var sec=parseInt(devices.second);
        sec++;
        if(sec>59){
            min++;
            if (min>59){
                min=0
            }
        }
        if(min<10){
            min = "0"+min
        }
        if(sec<10){
            sec="0"+sec
        }
        console.log(min, sec, '++++');
        devices.minute = min;
        devices.second = sec;


        }
    function stopCount(name) {
        devices.minute = "00";
        devices.second = "00";
        clearInterval(t);
    }
    Orbited.settings.hostname = location.host;
        try {
            longpull()
        } catch (e) {
            console.log(e);
        }

        // 轮询
        function longpull() {
            if(!is_connected){
                var stomp = new STOMPClient();
                stomp.onopen = function () {
                    console.log("Open Client");
                };
                stomp.onclose = function (c) {
                    //alert("Lost connection, Code:" + c);
                     is_connected = false;
                    five_sec = setInterval(function () {
                        longpull()
                    }, 5000);
                };
                stomp.onerror = function (error) {
                    //alert("Error : " + error);
                };
                stomp.onerrorframe = function (frame) {
                    //alert("Error : " + frame.body);
                };
                stomp.onconnectedframe = function () {
                    console.log("Connected. Subcribing");
                    stomp.subscribe('/' + userID);
                    // first_get_status();
                };
                stomp.onmessageframe = function (frame) {
                    var data = JSON.parse(frame.body);
                    var msg = data['msg'];

                    var value = msg.value;
                    var type = msg.type;
                    console.log(type, value);

                    // type==1时为遥控器状态控制,
                    // 2500时为socket状态，其它的为音乐电台之类的
                    if (type == 2500) {
                        // socket状态
                        ChangeStatus(value);
                    }
                    else if (type == 2501) {
                        // 设备离线
                    }
                };
                stomp.connect("localhost", 61613);
                is_connected = true;
                clearInterval(five_sec)
                }

        }
        function  ChangeStatus(val) {
            // ” 0 |  0 |  0|   0|  0|   0|   0|  0|  0| 0 (| 0      |0)”,
            // ”电源|照明|大风|小风|消毒|烘干|延时|中风|故障|火(| 运行时间|风险指数)”
            // "  0   1   2    3   4    5   6    7    8   9      10      11"
            var arr = val.split('|');

            if (arr[2]=='1'){
                var fan=3
            }
            else if(arr[3]=='1'){
                fan=1
            }
            else if(arr[7]=='1'){
                fan=2
            }
            else{
                fan=0
            }
            tmp_status = [{'name':'POWER', 'value': arr[0]}, {'name':'LIGHT', 'value': arr[1]}, {'name':'WIND', 'value': fan},
                {'name':'DISINFECT', 'value': arr[4]}, {'name':'DRY', 'value': arr[5]}
            ];
            for(var i=0;i<devices.funcList.length;i++){
                 var n = devices.funcList[i].name;
                 for (var j=0; j< tmp_status.length;j++){
                     if(tmp_status[j].name=='POWER' && parseInt(tmp_status[j].value)==0){
                        devices.funcList[i].value = 0;
                         devices.danger='00';
                         devices.minute='00';
                         devices.second='00';
                    }
                    else{
                        if(tmp_status[j].name == n){
                            devices.funcList[i].value=parseInt(tmp_status[j].value);
                            if(parseInt(tmp_status[j].value)>0){
                                devices.danger='10';
                            }
                            if (name=='WIND'){
                                // tmp.title = tmp.value_des[value];
                                devices.funcList[i].title = devices.funcList[i].value_des[parseInt(tmp_status[j].value)]
                            }
                        }

                     }
                 }
            }
        }

</script>
<script type='text/javascript' src='//cdn.staticfile.org/jquery/2.1.1/jquery.min.js'></script>
<script type="text/javascript" src="//cdn.staticfile.org/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
<script>


</script>

</html>