<!DOCTYPE html>
<html lang="en" class="mui-control">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>集成灶</title>

    <link href="/static/demo/css/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/demo/css/control-alter-app.css">
    <link rel="stylesheet" href="/static/demo/css/stove-smoke.css">

    <style>
        [v-cloak] {
            display: none;
        }

    </style>
</head>
<body style="background: #252429;">
<script src="/static/demo/js/vue.min.js"></script>
<script src="/static/demo/js/vue-resource.js"></script>
<script src="/static/demo/js/jsapi.js"></script>
<script src="/static/demo/js/jquery.min.js"></script>
<script src="/static/demo/js/collect.js"></script>
<script src="/static/demo/js/mui.min.js"> </script>


<div class="mui-content" id="DeviceConf" v-cloak="">
    <div class="mui-content-padded">
        <h1 class="mui-headerH1">集成灶100056</h1>
    </div>

    <div class="mui-left">
        <div class="mui-row">
            <div class="mui-col-sm-9">
                <div class="left-nav">
                    <img src="/static/demo/img/icon_stove_num_low.png">
                    <p id="timer" style="font-size: 10rem;color: #ff6202;left: -12%;margin-top: -42px;">00<br>
                    </p>
                    <p style="color: #E8E7EA;margin: 25px;font-size: 18px;top: 37px;">炉灶风险值</p>
                </div>

            </div>
            <div class="mui-col-sm-9">
                <div>
                    <h1 id="setTime" style="color: #FEFEFE;font-size: 6rem; font-weight: 100;margin-left: -14px;margin-top: -30px;margin-bottom: 20px;">00:00</h1>
                    <p style="margin-left: 20%;color: #E8E7EA;font-size: 18px">持续工作时间</p>
                </div>
            </div>
        </div>
    </div>
    <div class="mui-right">
        <ul class="mui-table-view mui-grid-view mui-grid-9" >
            <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3" v-for="f in funcList">
                <div @click="sendCommand(f.name,f.value)" class="mui-div-botton">
                    <input v-if="reversedWidget(f.widget, 'input')" type="text" :value="f.value" :id="f.name">
                    <span v-else="reversedWidget(f.widget, 'other')" class="mui-icon" :id="f.name" :class="[f.value?'mui-icon-control-c':'mui-icon-control']"></span>
                    <div v-if="reversedWidget(f.widget, 'input')" class="mui-media-body">{{ f.title }}</div>
                    <div v-else="reversedWidget(f.widget, 'other')" class="mui-media-body" :class="[f.value?'mui-media-body-c':'']">{{ f.title }}</div>
                </div>
            </li>
        </ul>
    </div>
</div>
<script>


   mui.init({
        swipeBack: false //禁用右滑关闭功能
    });
</script>
<script>
    function GetRequest() {
        var url = location.search;
        var theRequest = new Object();
        if (url.indexOf("?") != -1) {
            var str = url.substr(1);
            strs = str.split("&");
            for(var i = 0; i < strs.length; i ++) {
                theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
            }
        }
        return theRequest;
    }
    Request = GetRequest();
    var mac = Request['d'];
    console.log(mac);
    if(mac==undefined){
        mac = 'AABBCCDDEEFF';
    }
    var c=0;
    var t;
    var t1;
    var devices = new Vue({
        el: '#DeviceConf',
        data: {
            funcList: [],
            show: false,
            title: '设备功能列表'
        },
        created: function ()  {
             console.log('created is triggered.');
             console.log(pc_conf.functions);
            this.funcList = pc_conf.functions;
            this.title = pc_conf.name;
        },
        methods: {
            reversedWidget: function (value, type) {
                if(value==type){
                    return true
                }
                else if(type=='other')
                    return true
            },
            checkPower:function () {
              // 检查电源是否打开
                for (var j = 0; j < this.funcList.length; j++) {
                    var tmp = this.funcList[j];
                    if (tmp.name=='POWER'){
                        if(tmp.value){
                            return true
                        }
                        else return false

                    }
                }
            },
            get_func: function(name) {
                for (var i = 0; i < this.funcList.length; i++) {
                    var tmp = this.funcList[i];
                    if (tmp.name == name) {
                        return tmp;
                    }
                }
            },
            sync_power_all: function(value) {
                if(!value){
                     $("#timer").text("10");
                }
                else{
                    $("#timer").text("00");
                    stopCount("DISINFECT");
                    stopCount("DRY");
                    $('#setTime').text("00:00");
                    for(var i=0;i<this.funcList.length;i++){
                        this.funcList[i].value=0;
                    }
                }
            },
            sendCommand: function (name, value) {
                dis =this.get_func("DISINFECT");
                dry =this.get_func("DRY");
                for (var j = 0; j < this.funcList.length; j++) {
                    var tmp = this.funcList[j];
                    if (tmp.name == name){
                        if(name!="POWER"){
                            if(!this.checkPower()){
                                 mui.alert('电源未打开，请先打开电源');
                                 return false
                             }
                        }
                        if(name == "TIME_OFF"){
                            mui.alert('虚拟设备暂不支持该功能');
                            return false
                        }
                        tmp.value = !tmp.value;
                        if(name == "POWER"){
                            this.sync_power_all(value)
                        }
                        if(name == "DISINFECT"){
                            if(tmp.value)
                            {
                                dry.value=0;
                                timedCount(name);
                                stopCount("DRY")
                            }
                            else{
                                stopCount(name)
                            }
                        }
                        else if(name == "DRY"){
                            if(tmp.value)
                            {
                                dis.value=0;
                                timedCount(name);
                                stopCount("DISINFECT")
                            }
                            else{
                                stopCount(name)
                            }
                        }
                    }

                }

            }
        },
        computed: {}
    });
    function timedCount(name) {
            var temptextmin=$('#setTime');
            min = parseInt(c / 60);// 分钟数
            if(min>=60){
                minmin=min%60
            }
            lastsecs = c % 60;
            if(min<10){
                min = "0" + min;
            }
            if (lastsecs<10){
                lastsecs = "0" + lastsecs;
            }
            temptextmin.text(min + ":" + lastsecs);
            c=c+1 ;
            if(name=="DISINFECT"){
                t=setTimeout(function(){ timedCount(name);},1000);
            }
            else if(name=="DRY"){
                t1=setTimeout(function(){ timedCount(name);},1000);
            }
        }
    function stopCount(name) {
        if(name=="DISINFECT"){
            clearTimeout(t);
        }
        else if(name=="DRY"){
            clearTimeout(t1);
        }
        c=0;
    }
</script>
</body>
</html>