<style>
    #no-info{
        display: none;
        top: 162px;
        text-align: center;
        left: 213px;
    }
    .row{
        margin-right: -14px;
        position: relative;
        left: 623px;
        top: 18px;
        color: #808080;
    }
    .hl-help {
        color:#ff6202;
    }
    .btn-product-item{
        width: 100px;
        margin: 10px 0px;
    }
    .sr-only{
        clip: initial;
        overflow: visible;
    }
</style>

<div class="box2 relative">
    <div class="hl-help">
        <span style="cursor:pointer;font-size: 16px;margin-left: 5px;color: black">工具包生成</span>
        <!--<a href="http://doc.53iq.com/#/debug_helper" target="_blank"><span class="linkBlue" style="cursor:pointer;font-size: 16px;margin-left: 5px;color: black">调试帮助</span></a>
        <a href="/static/sdk/ComMonitor.exe" target="_blank"><span class="linkBlue" style="display: inline-block;margin-left: 100px;cursor:pointer;font-size: 16px;color: black">串口调试工具</span></a>-->
    </div>
	<div class="mt20">
        <div class="col-md-2">
            <button class="btn btn-primary btn-product-item" ng-click="get_product()">生成工程包</button>
            <p style="margin-top: 5px;color: #bfbfbf">包含标准UI界面</p>
        </div>
        <div class="col-md-10" >
             <button class="btn btn-primary btn-product-item" ng-click="get_products()" style="margin-left: 200px">生成脚本文件</button>
             <p style="margin-left: 27%;margin-top: 5px;color: #bfbfbf">仅生成main.lua脚本文件</p>
        </div>
        <div style="margin-top: 80px">

            <span class="item-tips" style="color: #f35019;display: none">下载失败，请重试</span>
            <div class="progress" style="display: none;margin-top: 30px">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                <span class="sr-only">{[{ process }]}</span>
              </div>

            </div>
            <a style="display: none;top:30px;margin-left: 5px" target="_blank" class="item-download" href="">下载标准工程文件</a>
        </div>

        <div class="boxInfo" style="border-top: 1px solid #ccc;margin-top: 30px;padding-top: 20px">
            <span class="linkBlue" style="cursor:pointer;font-size: 16px;color: black">调试(云端与屏端通信)</span>
            <a href="/static/sdk/ComMonitor.exe" target="_blank"><span class="linkBlue" style="display: inline-block;margin-left: 23%;cursor:pointer;font-size: 16px;">调试帮助</span></a>
            <h3 class="tit5" style="margin-top: 10px">设备管理表</h3>

                <div class="loading" style="text-align: center;">
                    <p style="font-size: 16px"><i class="fa fa-spin fa-spinner"></i> 正在做加载中，请稍后...</p>
                </div>
                <h3 class="tit5" id="no-info" >当前还未绑定任何设备，只需将产品Key替换标准工程Key，即可查看绑定设备!</h3>

                <div class="panel panel-default" id="device-info" >

                </div>
                 <div class="row" id="barcon">
                </div>
        </div>
        <div class="boxInfo" style="border-top: 1px solid #ccc;padding-top: 20px">
             <span class="linkBlue" style="cursor:pointer;font-size: 16px;color: black">调试(屏端与MCU通信)</span>
             <a href="/static/sdk/ComMonitor.exe" target="_blank"><span class="linkBlue" style="cursor:pointer;font-size: 16px;margin-left: 70px;">串口调试工具下载</span></a>
             <a href="http://doc.53iq.com/#/debug_helper?id=%E8%BD%AF%E4%BB%B6" target="_blank"><span class="linkBlue" style="display: inline-block;margin-left: 74px;cursor:pointer;font-size: 16px;">串口调试工具使用</span></a>
        </div>
    </div>
</div>

<script type="text/javascript">

    function load_table(device_list,state) {

        group = '<table class="table table-striped m-b-none">' +
        '<thead> <tr> <th>id</th> <th>mac</th> <th>时间</th> <th>是否在线</th> <th>调试</th> </tr>' +
        '</thead> <tbody id="table-device">';
        for(var i=0;i<device_list.length;i++){
            group += '<tr><td>'+device_list[i].ebf_device_id+'</td>';
            group += '<td>'+device_list[i].ebf_device_mac+'</td>';
            group += '<td>'+device_list[i].ebf_device_create_date+'</td>';
            if(device_list[i].is_online == 0){
                is_online = "离线"
            }
            else{
                is_online = "在线"
            }
            group += '<td>'+is_online+'</td><td>';
            if (device_list[i].ebf_device_mac) {
                //group += '<a style="cursor: pointer;" onclick="DebugDevice(this)" data-mac="'+device_list[i].ebf_device_mac+'" target="_blank" >调试</a>'
                group += '<a style="cursor: pointer;" target="_blank" href="https://oven.53iq.com/static/list/index.html#/flexibleunit?d='+device_list[i].ebf_device_mac+'&token=api_token_1234567" >调试</a>'
            }
            group += '</td></tr>'
        }
        group += '</tbody></table>';
        document.getElementById("device-info").innerHTML=group;
        if(state>=1){
            $("td a").css({'pointer-events':'none'});
        }

        console.log(document.getElementById('current-page'));
        // 分页显示
    }

    function DebugDevice(item) {
        // href="https://oven.53iq.com/static/html/control.html?d=<%=device_list[i].ebf_device_mac%
        var mac = $(item).data('mac');

        var dialog = bootbox.dialog({
                    title: '正在申请调试权限',
                    message: '<p><i class="fa fa-spin fa-spinner"></i> Loading...</p>'
                });
        $.ajax({
            url: location.href,
            type: "POST",
            data: {'name': 'save_conf'},
            success: function (data) {
                dialog.modal('hide');
                if(data['code']== 0){
                    window.location.href = 'https://oven.53iq.com/static/html/controler.html?d='+mac
                }
                else{
                    bootbox.alert(data['msg'])
                }
                console.log(data);

            },
            error: function (e) {
                bootbox.alert(e)
            },
            complete:function () {
                setTimeout(function () {
                    dialog.modal('hide')
                },1000);
            }
        });

    }
    function goPage(pno,psize) {
            var itable = document.getElementById("table-device");
            var num = itable.rows.length;
            var totalPage = 0;
            var pageSize = psize;
            //总共分几页
            if (num / pageSize > parseInt(num / pageSize)) {
                totalPage = parseInt(num / pageSize) + 1;
            } else {
                totalPage = parseInt(num / pageSize);
            }
            var currentPage = pno;
            var startRow = (currentPage - 1) * pageSize + 1;
            var endRow = currentPage * pageSize;
            endRow = (endRow > num) ? num : endRow;
            //遍历显示数据实现分页
            for (var i = 1; i < (num + 1); i++) {
                var irow = itable.rows[i - 1];
                if (i >= startRow && i <= endRow) {
                    irow.style.display = "";
                } else {
                    irow.style.display = "none";
                }
            }
            var pageEnd = document.getElementById("pageEnd");
            var tempStr = "共" + num +"条记录 ";
            if (currentPage > 1) {
                tempStr += "<a role='button' onclick=\"goPage(" + (1) + "," + psize + ")\"> 首页 </a>&nbsp;";
                tempStr += "<a role='button' onclick=\"goPage(" + (currentPage - 1) + "," + psize + ")\">上一页</a>"
            } else {
                tempStr += " 首页 ";
                tempStr += " 上一页";
            }
            if (currentPage < totalPage) {
                tempStr += "<a role='button' onclick=\"goPage(" + (currentPage + 1) + "," + psize + ")\"> 下一页&nbsp;</a>";
                tempStr += "<a role='button' onclick=\"goPage(" + (totalPage) + "," + psize + ")\"> 尾页&nbsp;</a>";
            } else {
                tempStr += " 下一页>";
                tempStr += " 尾页";
            }
            tempStr += "  第" + currentPage + "页/共"+ totalPage +"页";
            document.getElementById("barcon").innerHTML = tempStr;
        }

</script>
