{% extends 'wiki/base.tpl' %}
{% load filter %}
{% load staticfiles %}

{% block title %}
    开发者文档
{% endblock %}
{% block style %}

    <style>
        .wrapper {
            width: 1200px;
            padding: 0;
            margin: 0 auto;

        }
        body{
            overflow-x: hidden;
        }
        .mt20 {
            margin-top: 20px;
        }

        .goods span {
            height: 30px;
        }

        .nav > li > a {
            position: relative;
            display: block;
            font-size: 16px;
        }



        .box2 {
            padding-left: 0px;
            border: 0;
        }

       .tit6{
            padding-bottom: 0px;
            font-weight: bolder;
            color: #333;

        }
        .txt2{
            font-size: 14px;
            line-height: 35px;
        }
        .txt3{
            padding-top: 40px;
            padding-bottom: 20px;
            color: #666;
            font-size: 14px;
        }
        .txt3 b{
            font-weight: initial!important;
            font-size: 16px;
        }

        .tbox p{
            font-size: 14px;
        }
        .hbox{
            padding-bottom: 20px;
        }
    .editormd-preview-active {
            width: 927px;
            padding: 20px;
            margin: 0 auto;
            overflow: hidden;

        }
    .markdown-body h3{
        font-size: 16px;
    }
    .markdown-body h4{
        font-size: 14px;
        color: #333;
        opacity:0.8;
    }
    .markdown-body h2{
        font-size: 18px;
        color:#333;
        opacity:0.8;

    }
    .menuBox ul li a{
        height: auto;
        padding-left: 10px;
    }
    .menuBox ul li{list-style:none;height: 45px;line-height: 55px;}
    .rightMain ol li{
        list-style: decimal;
    }
    li.L1, li.L3, li.L5, li.L7, li.L9 {
    background: initial
}
    .editormd-html-preview ol.linenums, .editormd-preview-container ol.linenums {
    color: #999;
    padding-left: 1em
}
    .editormd-preview-container ol.linenums li{
        list-style: none;
    }
    .nav-current {
            text-decoration: none;
            border-bottom: 3px solid #ff6202;
            height: 35px;
        }
    .hbox img{
        max-width: 100%
    }
    .box2{
        padding: 0px;
    }
     .menuBox ul li:hover, .menuBox ul li.hover{
        background: none;
        border-left: none;
        color: #000;
    }
       .menuBox ul li:hover a, .menuBox ul li.hover a {
        color: #000;
    }
    #header{
        position: fixed;
        width: 100%;
        top: 0;
    }
    .mt20 {
        margin-top: 110px;
    }
    .leftSide{
        overflow-y: visible;
        position: fixed;
    }
    .box1{
        min-height: 0;
        max-height: 706px;
    }
    @media screen and (max-width: 1108px) {
        .relative{
            width: 71%;
        }

    }
    </style>
{% endblock %}

{% block menu %}
   {% create_menu 3 user.developer.developer_id %}
{% endblock %}
{% block right %}
    <div class="rightMain markdown-body editormd-preview-container editormd-preview-active" previewcontainer="true">
        {% if isParent %}

        <div class="box2 relative ">
            <div class="hbox">
                <h2 class="tit6">合作概况</h2>
                <div class="plrb25">
                    <p class="txt2 mt20">53iq厨房智能云始终秉承开放合作的态度，为开发者提供最全面的API服务，为合作厂商提供成熟可以量产的技术方案支持，帮助家电企业迅速打造出自己的新产品。</p>
                    <p class="txt3"><b>开放资源</b>——最全面API服务</p>
                    <p><img src="{% static 'image/home/hz3.png' %}"></p>
                </div>
            </div>
            <div class="line"></div>
            <div class="hbox">
                <h2 class="tit6 mt20">合作流程</h2>
                <div class="plrb25">
                    <p class="textL"><img src="{% static 'image/home/hz1.png' %}"></p>
                    <div class="tbox">
                        <p class="ft9">Step1：申请成为开发者:</p>
                        <p>需要合作伙伴在53iq厨房智能云开发者中心进行注册，登录后按照页面要求，提供真实完整的公司基本信息及产品的基本信息。
                            在您成功提交信息后，我们会有相应的工作人员在后台对您提交的信息进行预审，预审通过后会与您取得联系。</p>
                    </div>
                    <div class="tbox">
                        <p class="ft9">Step2：技术对接:</p>
                        <p>审核通过后，商务经理会与您取得联系沟通合作意向/方式/目标的相关内容。在达成商务合作意向后，
                            我们会有专业的技术团队跟您进行技术确认，确定最终的技术方案。</p>
                    </div>
                    <div class="tbox">
                        <p class="ft9">Step3：产品研发&测试：</p>
                        <p>
                            指定专业的技术团队协助厂家研制新品并测试产品性能
                        </p>
                    </div>
                    <div class="tbox">
                        <p class="ft9">Step4：批量排产&上线:</p>
                        <p>
                           制定排产计划，确定上线时间及推广方案
                        </p>
                    </div>

                </div>
            </div>
        </div>
    {% endif %}

    </div>

{% endblock %}

{% block script %}
    <script>
    // 点击文档菜单加载相应文档地址（没有子菜单的加载方式为load_url2）
        function load_url2(aobj) {
            var url = $(aobj).children('a').attr('name');
            // 区分有效url地址，不为#才加载
            if(url.length>2){
                $.ajax({
                type: "get",
                url: url,
                data: "",
                beforeSend:function(){
                    $(".h5pro").css('color','#000');
                    $(".h5pro").children('i').removeClass('icon-caret-down');
                    $(".menuUl").hide();
                    $(aobj).children('a').css('color','#ff6202');
                },
                success: function (msg) {
                    console.log(msg)

                    $(".rightMain").html(msg);
                },
                error: function () {
                }
            })
            }

        }
        // 点击文档菜单加载相应文档地址（所有有子菜单的加载，没有子菜单的加载方式为load_url2）
        function load_url(aobj) {
{#            console.log($(aobj).attr('name'));#}
            var url = $(aobj).attr('name');
            // 区分有效url地址，不为#才加载
           if (url.length>2){
               $.ajax({
                type: "get",
                url: url,
                data: "",
                beforeSend:function(){
                    $(".menu-li").children('a').css('color','#000000');
                    $(".menu-li").css('border-left','none');
                    $(".menu-li").css('background','#ffffff');
                    $(aobj).css('color','#ff6202');
                    $(aobj).parent('li').css('background','#e6e6e6');
                    $(aobj).parent('li').css('border-left','3px solid #ff6202');
                },
                success: function (msg) {

                    $(".rightMain").html(msg);
                },
                error: function () {
                }
            })
           }

        }
        //根据url地址中#id来加载相应的文档，解决单独加载某个文档的问题
        function load_res(id) {
            $("." + id).parent('li').parent('ul').prev('h5').css('color', '#ff6202');
            $("." + id).parent('li').parent('ul').prev('h5').children('i').addClass('icon-caret-down');
            $("." + id).parent('li').parent('ul').show();
            // 判断是否为没有子菜单的菜单，条件成立则该菜单为没有子菜单的菜单，否则为有子菜单的菜单
            if(($("." + id).parent('li').attr('class')) == undefined){
                $("." + id).css('color', '#ff6202');
            }
            else{
                $("." + id).parent('li').css('background','#e6e6e6');
                $("." + id).parent('li').css('border-left','3px solid #ff6202');

            }
            var url = $("." + id).attr('name');
            if(url!=undefined) {
                $.ajax({
                    type: "get",
                    url: url,
                    data: "",
                    success: function (msg) {

                        $(".rightMain").html(msg);
                    },
                    error: function () {
                    }
                })
            }
        }

        $(function () {
            var href1 = location.href;
            href1 = href1.split("=")[1].split("#")[0];
            var id = location.hash;
            //确保资源加载完成
            setTimeout(function(){
                load_res(id.split("#")[1]);
            }, 500);

        })
    </script>
{% endblock %}