{% extends 'wiki/base.tpl' %}
{% load filter %}
{% block title %}
    开发指南
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="/static/common/css/font-awesome.min.css">
    <style>
        .protocol-info-main {
            width: 1014px;
            color: #626262;
            font-size: 14px;
            margin: auto;
            margin-top: 40px;
            overflow: hidden;
        }
        .protocol-info-main .item {
            width: 220px;
            height: 340px;
            padding-top: 35px;
            text-align: center;
            background: #fff;
            margin: 0 57px;
            float: left;
            list-style: none;
            border: 1px solid #ccc;
        }
        .protocol-info-main .item .title {
            line-height: 36px;
            font-size: 18px;
            color: #000;
            text-align: center;
            border: none;
            box-shadow:none;
            padding: 25px 0 0 0;
        }
        .protocol-info-main .item .info-list {
            line-height: 30px;
            margin-left: 30px;
            text-align: left;
            height: 150px;
        }
        .protocol-info-main .item .info-list .info {
            position: relative;
            padding-left: 42px;
        }

        .protocol-info-main .item .info-list .info a {
            color: #626262;
        }
        .protocol-info-main .item .info-list .info a:hover, .protocol-info-main .item .info-list .info a:active,.protocol-info-main .item .info-list .info a:focus{
            color: #ff6202;
        }
        .home-logo{
            background: #FF7038;
            text-align: center;
            margin-top: 90px;
            top:0;
            opacity: 0.89;
        }
        .f-tit{
            position: absolute;
            left:20%;
            top: 167px;
            color: #fff;
        }

    </style>
{% endblock %}
{% block menu %}
    {% create_menu 3 user.developer.developer_id %}
{% endblock %}
{% block content %}
    <body>
        <div class="home-logo">
            <h2 class="f-tit">欢迎来到文档中心</h2>
            <img src="/static/image/wiki/banner_1.jpg">
        </div>
        <div class="w">
            <ul class="protocol-info-main">
                <li class="item">
                    <h4 class="title">接入指南</h4>
                    <div class="info-list">
                        {% for m in menus1 %}
                            {% if forloop.counter != 1%}
                                <p class="info">
                                {% if m.menu_name == "接入指南" %}
                                    <b><a href="/wiki/doc_wiki?view=Navicat1{{ m.menu_id }}#{{ m.menu_id }}" target="_self">{{ m.menu_name }}</a></b>
                                {% else %}
                                    <a href="/wiki/doc_wiki?view=Navicat1{{ m.menu_id }}#{{ m.menu_id }}" target="_self">{{ m.menu_name }}</a>
                                {% endif %}
                                </p>
                            {% endif %}

                        {% endfor %}

                    </div>
                </li>
                <li class="item">
                        <h4 class="title">开发者工具</h4>
                        <div class="info-list">
{#                            <p class="info">#}
{#                                    <a href="/debug/debug_interface" target="_self">接口调试</a>#}
{#                            </p>#}
{#                            <p class="info">#}
{#                                    <a href="/debug/debug_device" target="_self">设备调试</a>#}
{#                            </p>#}
                            <p class="info">
                                <b>
                                    <a href="/wiki/doc_wiki?view=Navicat21000#10000" target="_self">下载中心</a>
                                </b>
                            </p>
                           {% for m in menus2 %}
                                {% if m.menu_parent_id > 0 %}
                                    <p class="info">
                                        <a href="/wiki/doc_wiki?view=Navicat2{{ m.menu_id }}#{{ m.menu_id }}" target="_self">{{ m.menu_name }}</a>
                                </p>
                                {% endif %}

                            {% endfor %}

                        </div>
                </li>
                <li class="item">
                    <h4 class="title">接口文档</h4>

                    <div class="info-list">
                       {% for m in menus3 %}
                            {% if m.menu_is_parent%}
                                <p class="info">
                                    <a href="/wiki/doc_wiki?view=Navicat3{{ m.menu_id }}#{{ m.menu_id }}" target="_self">{{ m.menu_name }}</a>
                            </p>
                            {% endif %}

                        {% endfor %}
                    </div>
                </li>
            </ul>
        </div>

    </body>
{% endblock %}

