{% extends 'wiki/base.tpl' %}
{% load filter %}
{% block title %}
    开发指南
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="/static/common/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/product/list.css"/>
    <link rel="stylesheet" href="/static/css/product/bootbox.css">
    <style>
        .title{
            margin-top: 90px;
            width: 100%;
            z-index: 1;
            height: 10px;
        }
        .breadcrumb{

            line-height: 0;
            background-color: transparent;
            margin: 6px 0 1px;
            padding: 0;
            font-size: 16px;
            border-radius: 0;
        }
        .protocol-info-main {
            width: 1014px;
            color: #626262;
            font-size: 14px;
            margin: auto;
            margin-top: 40px;
            overflow: hidden;
        }
        .protocol-info-main .item {
            width: 220px;
            height: 340px;
            padding-top: 35px;
            text-align: center;
            background: #fff;
            margin: 0 57px;
            float: left;
            list-style: none;
            border: 1px solid #ccc;
        }
        .protocol-info-main .item .title {
            line-height: 36px;
            font-size: 18px;
            color: #000;
            text-align: center;
            border: none;
            box-shadow:none;
            padding: 25px 0 0 0;
            margin-top: 0;
        }
        .protocol-info-main .item .info-list {
            line-height: 30px;
            margin-left: 30px;
            text-align: left;
            height: 150px;
            margin-top: 46px;
        }
        .protocol-info-main .item .info-list .info {
            position: relative;
            padding-left: 42px;
        }

        .protocol-info-main .item .info-list .info a {
            color: #626262;
        }
        .protocol-info-main .item .info-list .info a:hover, .protocol-info-main .item .info-list .info a:active,.protocol-info-main .item .info-list .info a:focus{
            color: #ff6202;
        }
        .home-logo{
            background: #FF7038;
            text-align: center;
            margin-top: 90px;
            top:0;
            opacity: 0.89;
        }
        .f-tit{
            position: absolute;
            left:20%;
            top: 167px;
            color: #fff;
        }
        .new-app li{
            display: inline;
            font-size: 16px;
            padding-left: 10px;
        }
        li a:hover{
            color: #ff6202;
        }

    </style>
{% endblock %}
{% block menu %}
    {% create_menu 3 user.account_id %}
{% endblock %}
{% block content %}
    <body>
        <div class="title">
            <div class="wrapper">
            {% for default_app in default_apps %}
                <input type="hidden" class="default-app" data-appid={{ default_app.app_id }}>
            {% endfor %}
            {% for a in all_app %}
                {% if a.check_status != 3%}
                    <input type="hidden" class="owner-app" data-appid={{ a.app_id }}>
                {% endif %}
            {% endfor %}
            <ol class="breadcrumb" style="width: 36%;float: left">
                <li><a href="/wiki">开发指南</a></li>
            </ol>
            <ol style="width: 50%;float: left" class="new-app">
                <li style="color: #c6c6c6;">模板创建：</li>
                {% for app in default_apps %}
                    <li>
                        {% if user.developer.developer_id%}
                            <a href="javascript:void(create_procuct('{{ app.app_device_type }}'))" >{{ app.app_name }}</a>
                        {% else %}
                            <a href="javascript:void(dont_develop())">{{ app.app_name }}</a>
                        {% endif %}
                    </li>
                    {% if forloop.counter == 3 %}
                        <li style="padding-left: 84px"> <a href="{% url 'product/main' %}?ID={{ app.app_id }}#/demo/{{ app.app_name }}">体验中心</a></li>
                    {% endif %}
                {% endfor %}
            </ol>

            </div>

        </div>
        <div class="w">
            <ul class="protocol-info-main">
                <li class="item">
                    <h4 class="title">开发指南</h4>
                    <div class="info-list">
                        {% for m in menus1 %}
                            {% if forloop.counter != 1%}
                                <p class="info">
                                {% if m.menu_name == "开发指南" %}
                                    <b><a href="/wiki/doc_wiki?view=Navicat1{{ m.menu_id }}#{{ m.menu_id }}" target="_self">{{ m.menu_name }}</a></b>
                                {% else %}
                                    <a href="/wiki/doc_wiki?view=Navicat1{{ m.menu_id }}#{{ m.menu_id }}" target="_self">{{ m.menu_name }}</a>
                                {% endif %}
                                </p>
                            {% endif %}

                        {% endfor %}

                    </div>
                </li>
                <li class="item">
                        <h4 class="title">开发者工具</h4>
                        <div class="info-list">
                            <p class="info">
                                <b>
                                    <a href="/wiki/doc_wiki?view=Navicat21000#10000" target="_self">下载中心</a>
                                </b>
                            </p>
                           {% for m in menus2 %}
                                {% if m.menu_parent_id > 0 %}
                                    <p class="info">
                                        <a href="/wiki/doc_wiki?view=Navicat2{{ m.menu_id }}#{{ m.menu_id }}" target="_self">{{ m.menu_name }}</a>
                                </p>
                                {% endif %}

                            {% endfor %}

                        </div>
                </li>
                <li class="item">
                    <h4 class="title">接口文档</h4>

                    <div class="info-list">
                       {% for m in menus3 %}
                            {% if m.menu_is_parent%}
                                <p class="info">
                                    <a href="/wiki/doc_wiki?view=Navicat3{{ m.menu_id }}#{{ menus3|check_first_child:m.menu_id}}" target="_self">{{ m.menu_name }}</a>
                                </p>
                            {% endif %}

                        {% endfor %}
                    </div>
                </li>
            </ul>
        </div>
        <div class="popBox" id="newHtmlBox" style="display: none;">
        <a href="javascript:" onclick="new_close()" class="close">关闭</a>
        <h3 style="text-align: center;height: auto;">创建<span id="productType"></span>类产品</h3>
        <div class="cont mt20" style="margin-top: -15px;">
            <div style="float:left;">
                <img id="show_logo" style="width: 110px;height: 120px;margin:0 0 0 -3%;"
                     src="http://storage.56iq.net/group1/M00/1D/0C/CgoKQ1m3oSmAbhKvAAALicfeZeI743.png">
            </div>
            <div class="warnCont" style="width: 76%">
                <form name="formProduct" method="post" class="fd7_create_product-form" action="/product/add/">
                    <div class="ant-row ant-form-item">
                        <label for="product_name" class="">产品名称:</label>
                        <span class="ant-input-wrapper">
                            <input type="text" value="" id="product_name" onblur="check_name()" name="product_name"
                                   class="ant-input ant-input-lg">
                        </span>
                        <div id="productName" style="color: #f50;font-size: 12px;padding-left: 76px"></div>
                    </div>
                    <div class="ant-row ant-form-item" id="com_type">
                        <label class="dtbox">技术方案:</label>

                        <p style="float: right;width: 75%"><input class="magic-radio" type="radio" onclick="select_progm(2)" name="select_group" id="c1" checked>
                            <label for="c1">Wi-Fi</label>
                            <input class="magic-radio" type="radio" name="select_group" onclick="select_progm(1)" id="c2" >
                            <label for="c2">Android屏</label>
                        </p>

                        <div  class="select-progm1" style="font-size: 12px;color: #2980b9;">WiFi方案要求设备支持5V供电，两路串口，适用于集成灶，油烟机</div>
                    </div>

                    <div class="ant-row ant-form-item">
                        <label for="product_name" class="">产品类型:</label>
                        <span class="ant-input-wrapper">厨房类
                            <input type="hidden" value="厨房类" readonly="readonly" name="product_category"
                                   class="ant-input ant-input-lg">
                        </span>
                    </div>
                    <input type="hidden" value="" id="product_category_detail" name="product_category_detail" class="">
                    <input type="hidden" value="{{ user.developer.developer_id }}" name="developer_id">
                    <input type="hidden" value="2" name="product_group" class="product_group">
                    <input type="hidden" value="是" name="product_command">

                </form>
            </div>
        </div>
        <div class="btnBar" style="background: none;height: 57px;">
              <span>
                <a href="javascript:" onclick="submit_product()" id="productSubmit" class="btn-blue"
                   style="background: #ff6202;">提交</a>
              </span>
        </div>
    </div>
        <div class="markLayout"></div>
    </body>
{% endblock %}

{% block script %}
    <script src="/static/js/product/bootbox.js"></script>
   <script src="/static/js/product/fast_create.js"> </script>

{% endblock %}
