
		<style>

			.headerH1 {
			    padding: 0;
			    margin: 0 8px;
			    font-size: 18px;
                color: #000;
			}
            .addButton{
                color: #337ab7;
            }
			.addButton:hover{
		  	text-decoration:none;
		  	cursor:pointer;
                color: #337ab7;
		  }
            .col-sm-1 {
                width: 16.6%;
            }
            .must-choose{
                color: #d43f3a;
            }
            .help-button{
                background-color: #9EBEE4;
            }
            .help-button:hover{
                background-color: #337ab7;
            }
            .lbl bigger-120::before{
                   color: #337ab7;
            }
            .btn{
                    border-radius: 4px;
            }
            .btn:hover{
                background-color: #8B9AA3!important;
                border-color: #8B9AA3;

            }
            .btn.btn-info:hover{
                background-color: #337ab7!important;
                border-color: #337ab7;

            }
            .btn.btn-info{
                background-color: #9EBEE4!important;
                border-color: #9EBEE4;
            }
		</style>

		<div class="main-container ace-save-state box2" id="main-container">
            <div class="hl-help">

            <span class="linkBlue">添加新功能</span>
            </div>
        <div class="mt20"></div>
			<div class="main-content">
				<div class="main-content-inner">

					<div class="page-content" style="padding-top:20px">


						<h1 class="headerH1">参数信息</h1>
						<div class="space-6"></div>
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<form method="post" class="form-horizontal" role="form">
									<div class="form-group">
										<label class="col-sm-3 col-xs-3 control-label no-padding-right" for="name" style="text-align:right"> <span class="must-choose">*</span>功能名称 </label>
										<div class="col-sm-9 col-xs-9">
											<input ng-disabled='{[{ disabled }]}' type="text" id="name" ng-model="argueFormData.Stream_ID" placeholder="标识符的中文名称，显示在产品详情界面" class="col-xs-10 col-sm-5" onblur="checkName()"/>
											<br><br><div id="checkName" style="color:red;margin-top:15px;display:none"></div>
										</div>
									</div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-xs-3 control-label no-padding-right" for="Stream_ID" style="text-align:right"> <span class="must-choose">*</span>功能标识符 </label>
										<div class="col-sm-9 col-xs-9">
											<input ng-disabled='{[{ disabled }]}' type="text" id="Stream_ID" ng-model="argueFormData.csrfmiddlewaretoken" placeholder="由大写字母、或下划线组成，不能重复" class="col-xs-10 col-sm-5" onblur="checkID()"/>
											<br><br><div id="checkID" style="color:red;margin-top:15px;display:none;"></div>
										</div>
									</div>
                                    <div class="form-group">
										<label class="col-sm-3 col-xs-3 control-label no-padding-right" for="mxsLength" style="text-align:right"> <span class="must-choose">*</span>长度(单位bits) </label>
										<div class="col-sm-9 col-xs-9">
											<input ng-disabled='{[{ disabled }]}' type="text"  id="mxsLength" ng-model="argueFormData.mxsLength" placeholder="数据域和结果码的长度，如：8（bits）" class="col-xs-10 col-sm-5" onblur="checkLength()"/>
											<br><br><div id="checkLength" style="color:red;margin-top:15px;display:none"></div>
										</div>
									</div>
                                        <div class="form-group">
                                            <label class="col-sm-3 col-xs-3 control-label no-padding-right" for="corpName" style="text-align:right"> 单位名称 </label>
                                            <div class="col-sm-9 col-xs-9">
                                                <input ng-disabled='{[{ disabled }]}' type="text" id="corpName" placeholder="请输入参数的单位名称，如：摄氏度" class="col-xs-10 col-sm-5" />
                                            </div>
									</div>

									<div class="form-group">
										<label class="col-sm-3 col-xs-3 control-label no-padding-right" for="corpMark" style="text-align:right"> 单位符号 </label>
										<div class="col-sm-9 col-xs-9">
											<input ng-disabled='{[{ disabled }]}' type="text" id="corpMark" placeholder="请输入参数的单位名称，如：℃" class="col-xs-10 col-sm-5"/>
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-3 col-xs-3 control-label no-padding-right" for="paramType" style="text-align:right"><span class="must-choose">*</span>功能点类型 <span class="help-button" data-rel="popover" data-trigger="hover" data-placement="bottom" data-content="请正确填写您的Stream_ID的类型!数值型(int)：可线性调节数值型的功能，如温度调节20~40°C；定时类型:可选择型调节时间范围，如工作时间；枚举型：自定义的有限集合值，如档位的高、中、低；字符串型：以字符串形式传输功能点。" title="">?</span> </label>
										<div class="col-sm-9 col-xs-9" id="param-type">
												<div class="radio">
														<label>
															<input ng-disabled='{[{ disabled }]}' name="paramType" type="radio" class="ace input-lg" onclick="selectInt(this)" value="1" checked/>
															<span class="lbl bigger-120"> int</span>
														</label>
														<label>
															<input ng-disabled='{[{ disabled }]}' name="paramType" type="radio" class="ace input-lg" onclick="selectError(this)" value="3"/>
															<span class="lbl bigger-120"> 故障型</span>
														</label>

                                                        <label>
                                                                <input ng-disabled='{[{ disabled }]}' name="paramType" type="radio" class="ace input-lg" onclick="selectEnum(this)" value="4"/>
                                                                <span class="lbl bigger-120"> 枚举型</span>
                                                            </label>
                                                        <label>
															<input ng-disabled='{[{ disabled }]}' name="paramType" type="radio" class="ace input-lg" onclick="selectTimer(this)" value="5"/>
															<span class="lbl bigger-120"> 定时型</span>
														</label>
												</div>
												<div id="selectInt" style="background-color:#fff;display:block;margin-left:10px;margin-top:5px;border:1px solid #ccc;width:180px;padding:5px 10px">
													<table border=0>
														<tr>
															<td height=30px align="center">最小值</td>
															<td align="center">最大值</td>
														</tr>
														<tr style="border-top:1px solid #ccc">
															<td width=80px>
																<input ng-disabled='{[{ disabled }]}' id="minInt" type="text" style="border:none;width:76px;text-align:center;border-bottom:1px solid #ccc" onblur="checkInt()">
															</td>
															<td width=80px align="right">
																<input ng-disabled='{[{ disabled }]}' id="maxInt" type="text" style="border:none;width:76px;text-align:center;border-bottom:1px solid #ccc" onblur="checkInt()">
															</td>
														</tr>
													</table>
													<div id="checkInt" style="margin-left:-10px;color:red;display:none;left: 228px;top: 77px;position:absolute"></div>
												</div>
                                                <div id="selectError" style="background-color:#fff;display:none;margin-left:95px;margin-top:5px;border:1px solid #ccc;width:180px;padding:5px 10px">
                                                    <span style="position:relative;top: 10px;left: -70px;">故障值：</span>
                                                    <input ng-disabled='{[{ disabled }]}' id="errorValue" type="text" style="border:none;width:100%;text-align:center;">
													<div id="checkError" style="margin-left:-10px;color:red;display:none;left: 228px;top: 77px;position:absolute"></div>
												</div>
                                                <div id="selectEnum" style="background-color:#fff;display:none;margin-left:200px;margin-top:5px;border:1px solid #ccc;width:180px;padding:5px 10px;">
													<table border=0>
														<tr>
															<td height=30px align="center">枚举值</td>
														</tr>
														<tr style="border-top:1px solid #ccc">
															<td width=80px align="center">
																<input ng-disabled='{[{ disabled }]}' id="maxEnum" type="text" style="border:none;width:160px;text-align:center;border-bottom:1px solid #ccc" onblur="checkEnum()">
															</td>
														</tr>
													</table>
													<div id="checkEnum" style="margin-left:-10px;color:red;display:none;left: 409px;top: 77px;position:absolute"></div>
												</div>
                                                <div id="selectTimer" style="background-color:#fff;display:none;margin-left:298px;margin-top:5px;border:1px solid #ccc;width:180px;padding:5px 10px;">
													<table border=0>
														<tr>
															<td height=30px align="center">最小值</td>
															<td align="center">最大值</td>
														</tr>
														<tr style="border-top:1px solid #ccc">
															<td width=80px>
																<input ng-disabled='{[{ disabled }]}' id="minTimer" type="text" style="border:none;width:76px;text-align:center;border-bottom:1px solid #ccc" onblur="checkTimer()">
															</td>
															<td width=80px align="right">
																<input ng-disabled='{[{ disabled }]}' id="maxTimer" type="text" style="border:none;width:76px;text-align:center;border-bottom:1px solid #ccc" onblur="checkTimer()">
															</td>
														</tr>
													</table>
													<div id="checkTimer" style="margin-left:-10px;color:red;display:none;left: 513px;top: 77px;position:absolute"></div>
												</div>
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-3 col-xs-3 control-label no-padding-right" for="isControl" style="text-align:right"> 可控 <span class="help-button" data-rel="popover" data-trigger="hover" data-placement="bottom" data-content="可控”表示您的参数可以被控制，如：“开关”；“不可控”表示您的参数不可被控制，如：“PM2.5”；" title="">?</span> </label>
										<div class="col-sm-9 col-xs-9">
												<div class="radio">
														<label>
															<input ng-disabled='{[{ disabled }]}' name="isControl" type="radio" class="ace input-lg" value="1" checked/>
															<span class="lbl bigger-120"> 可控</span>
														</label>
														<label>
															<input ng-disabled='{[{ disabled }]}' name="isControl" type="radio" class="ace input-lg" value="0"/>
															<span class="lbl bigger-120"> 不可控</span>
														</label>
												</div>
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-3 col-xs-3 control-label no-padding-right" for="state" style="text-align:right;padding-top: 16px;"> 启用状态 </label>
										<div class="col-sm-9 col-xs-9" style="padding-top:6px">
												<input ng-disabled='{[{ disabled }]}' id="state" type="checkbox" class="ace ace-switch ace-switch-5" value="1" checked/><span class="lbl middle"></span>
										</div>
									</div>

								</form><!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->

						<div class="page-header"></div>
						<h1 class="headerH1">参数值<span class="help-button" data-rel="popover" data-trigger="hover" data-placement="bottom" data-content=" 硬件与53iq智能云通信的数据及说明，例：传送数据:0 数据说明:关、传送数据:1 数据说明:开" title="">?</span></h1>
						<div class="space-6"></div>

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<form class="form-horizontal" role="form">
									<div class="form-group">
										<label class="col-sm-2 col-xs-2 no-padding-right">  </label>
										<label class="col-sm-1 col-xs-2 no-padding-right"> 传送数据 </label>&nbsp;&nbsp;&nbsp;
                                        <label class="col-sm-2 col-xs-3 no-padding-right"> 数据说明 </label>
									</div>

									<div class="form-group" id="addGroup">
										<div class="col-sm-2 col-xs-2"></div>
										<div class="col-sm-10 col-xs-10">
											<a  ng-hide='{[{ visible }]}' href='#' onclick='add();return false' class='addButton'><i class='ace-icon glyphicon glyphicon-plus'></i> 添加参数值</a>
										</div>
									</div>
									<div class="clearfix form-actions" style="margin-bottom:-15px;background-color: initial">
										<div class="col-sm-2 col-xs-2"></div>

										<div class="col-sm-5 col-xs-6">
											<button  ng-hide='{[{ visible }]}' class="btn btn-info" type="button"  ng-click="Save(id)">
												<i  class="ace-icon fa fa-check bigger-110" ></i>提交审核</button>&nbsp

											<button ng-hide='{[{ visible }]}' class="btn" onclick="javascript:window.location.reload()" >
												<i  class="ace-icon fa fa-undo bigger-110"></i>重置</button>
										</div>
									</div>


								</form><!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->


					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->
		</div><!-- /.main-container -->

		<script src="/static/assets/js/jquery-2.1.4.min.js"></script>
		<script src="/static/assets/js/bootstrap.min.js"></script>

		<script type="text/javascript">

            var StreamIds = [];
			var url=location.href;
			var num=url.indexOf('?id');
			var str=url.substring(num+1);
			var id = str.split("=")[1];
			jQuery(function($) {

                var edit_data={};
                var post_data = {"name": "edit","id":id};
                var flag ;
                $.ajax({
                    url:"#/edit",
                    type: "POST",
                    data: post_data,
                    async :false,
                    success: function (data) {
                        edit_data=data['data'];
                        if(!edit_data){
                            StreamIds = data['streamIds'];
                            flag = true
                        }
                        else{flag = false;}
                    }
                });
                $('[data-rel=popover]').popover({container:'body'});
                if(flag == false){
                    var obj={id:id,Stream_ID:edit_data["Stream_ID"],name:edit_data["name"],isControl:edit_data["isControl"],state:edit_data["state"],min:edit_data["min"],max:edit_data["max"],paramType:edit_data["paramType"],corpName:edit_data["corpName"],corpMark:edit_data["corpMark"],mxs:edit_data["mxs"],mxsLength:edit_data["mxsLength"],time:edit_data["time"]};
                    loadData(obj);
                }
                else{
                    $('#mxsLength').val('8');
                    add();
                }
			});
			function loadData(d){

				$('#Stream_ID').val(d.Stream_ID);
				$('#name').val(d.name);
				$('#corpName').val(d.corpName);
				$('#corpMark').val(d.corpMark);
				$('#mxsLength').val(d.mxsLength);
				if(d.isControl==1){
					document.getElementsByName('isControl')[0].checked=true;
				}else{
					document.getElementsByName('isControl')[1].checked=true;
				}
				if(d.state==1){
					document.getElementById('state').checked=true;
				}else{
					document.getElementById('state').checked=false;
				}
				if(d.paramType==1){
					document.getElementsByName('paramType')[0].checked=true;
					$('#minInt').val(d.min);
					$('#maxInt').val(d.max);
					$('#selectInt').css("display","block");
					$('#selectEnum').css("display","none");
					$('#selectTimer').css("display","none");
					$('#selectError').css("display","none");
				}else if(d.paramType==3){
					document.getElementsByName('paramType')[1].checked=true;
					$('#errorValue').val(d.max);
					$('#selectInt').css("display","none");
					$('#selectEnum').css("display","none");
					$('#selectTimer').css("display","none");
					$('#selectError').css("display","block");
				}
				else if(d.paramType==4){
				    $('#maxEnum').val(d.max);
                    document.getElementsByName('paramType')[2].checked=true;
					$('#selectInt').css("display","none");
					$('#selectEnum').css("display","block");
					$('#selectTimer').css("display","none");
					$('#selectError').css("display","none");
                }
                else if(d.paramType==5){
                    document.getElementsByName('paramType')[3].checked=true;
					$('#minTimer').val(d.min);
					$('#maxTimer').val(d.max);
					$('#selectTimer').css("display","block");
					$('#selectInt').css("display","none");
					$('#selectEnum').css("display","none");
					$('#selectError').css("display","none");
                }
				for(var i=0;i<d.mxs.length;i++){
					var group='';
					group+='<div class="form-group">';
					group+='	<div class="col-sm-2 col-xs-2"></div>';
					group+='	<div class="col-sm-2 col-xs-3">';
                    group+='		<input ng-disabled="{[{ disabled }]}"  type="text" name="paramData" placeholder="" class="col-xs-12 col-sm-12" value="'+d.mxs[i].data+'"/>';
					group+='	</div>';
					group+='	<div class="col-sm-2 col-xs-2">';
                    group+='		<input ng-disabled="{[{ disabled }]}" type="text" name="paramDesc" placeholder="" class="col-xs-12 col-sm-12" value="'+d.mxs[i].desc+'"/>';
					group+='	</div>';
					group+='	<div class="col-sm-2 col-xs-2" style="padding-top:6px">';
					group+='		<a ng-hide="{[{ visible }]}" href="#" onclick="del(this);return false" class="addButton"><i class="fa fa-times-circle bigger-150"></i></a>';
					group+='	</div>';
					group+='</div>';
					$("#addGroup").before(group);
				}
			}
			function selectInt(ele){
				document.getElementById('selectEnum').style.display="none";
				document.getElementById('selectTimer').style.display="none";
				document.getElementById('selectError').style.display="none";
				document.getElementById('selectInt').style.display="block";
			}
			function selectError(ele){
				document.getElementById('selectInt').style.display="none";
				document.getElementById('selectEnum').style.display="none";
				document.getElementById('selectTimer').style.display="none";
				document.getElementById('selectError').style.display="block";
			}
			function selectEnum(ele){
				document.getElementById('selectInt').style.display="none";
				document.getElementById('selectTimer').style.display="none";
				document.getElementById('selectError').style.display="none";
				document.getElementById('selectEnum').style.display="block";
			}
			function selectTimer(ele){
				document.getElementById('selectInt').style.display="none";
				document.getElementById('selectEnum').style.display="none";
				document.getElementById('selectError').style.display="none";
				document.getElementById('selectTimer').style.display="block";
			}
			//获取元素的纵坐标
			function getTop(e){
				var offset=e.offsetTop;
				if(e.offsetParent!=null) offset+=getTop(e.offsetParent);
				return offset;
			}
			//获取元素的横坐标
			function getLeft(e){
				var offset=e.offsetLeft;
				if(e.offsetParent!=null) offset+=getLeft(e.offsetParent);
				return offset;
			}
			function add(){
			    flag = true;
				var group='';
				group+='<div class="form-group">';
				group+='	<div class="col-sm-2 col-xs-2"></div>';
				group+='	<div class="col-sm-2 col-xs-3">';
				group+='		<input type="text" id="checkData"  name="paramData" placeholder="" class="col-xs-12 col-sm-12"/>';
				group+='	</div>';
				group+='	<div class="col-sm-1 col-xs-2">';
				group+='		<input type="text" name="paramDesc" placeholder="" class="col-xs-12 col-sm-12"/>';
				group+='	</div>';
				group+='	<div class="col-sm-2 col-xs-2" style="padding-top:6px">';
				group+='		<a href="#" onclick="del(this);return false" class="addButton"><i class="fa fa-times-circle bigger-150"></i></a>';
				group+='	</div>';
				group+='</div>';
				$("#addGroup").before(group);
			}
			function del(ths){
				$(ths.parentNode.parentNode).remove();
			}
			function checkID(){
				var role=/^[A-Z_]*$/;
				var data=$.trim($('#Stream_ID').val());

                var temp =false;
                for (var i = 0; i < StreamIds.length; i++) {
                    if (StreamIds[i] == data) {
                        temp = true;
                        break
                    }
                }
                if (data == '' || role.test(data) == false) {
                    $('#checkID').html("该参数以大写字母和下划线组成、不能重复");
                    $('#checkID').css("display", "block");
                }
                else if(temp){
                    $('#checkID').html("该功能参数已经存在！");
                    $('#checkID').css("display", "block");
                }
                else {
                    $('#checkID').css("display", "none");
                }
			}
			function checkName(){
				if($.trim($('#name').val())==''){
					$('#checkName').html("功能名称不能为空!!");
					$('#checkName').css("display","block");
				}else{
					$('#checkName').css("display","none");
				}
			}
			function checkLength(){
				if($.trim($('#mxsLength').val())==''){
					$('#checkLength').html("长度不能为空!!");
					$('#checkLength').css("display","block");
				}else{
					$('#checkLength').css("display","none");
				}
			}
			function checkInt(){
				var min=$.trim($('#minInt').val());
				var max=$.trim($('#maxInt').val());
				//正整数 + 0
				var role1=/^\d+$/;
				//负整数 + 0
				var role2=/^((-\d+)|(0+))$/;
				if((role1.test(min)==false && role2.test(min)==false) || (role1.test(max)==false && role2.test(max)==false)){
					$('#checkInt').html("请填写整数!!");
					$('#checkInt').css("display","block");
					return "请填写整数!!";
				}else if(parseInt(min) >= parseInt(max)){
					$('#checkInt').html("最大值必须大于最小值!!");
					$('#checkInt').css("display","block");
					return "最大值必须大于最小值!!";
				}else{
					$('#checkInt').css("display","none");
					return "";
				}
			}
			function checkTimer() {
                var min=$.trim($('#minTimer').val());
				var max=$.trim($('#maxTimer').val());
				//正整数 + 0
				var role1=/^\d+$/;
				//负整数 + 0
				var role2=/^((-\d+)|(0+))$/;
				if((role1.test(min)==false && role2.test(min)==false) || (role1.test(max)==false && role2.test(max)==false)){
					$('#checkTimer').html("请填写时间！");
					$('#checkTimer').css("display","block");
					return "请填写时间!!";
				}else if(parseInt(min) >= parseInt(max)){
					$('#checkTimer').html("最大值必须大于最小值!!");
					$('#checkTimer').css("display","block");
					return "最大值必须大于最小值!!";
				}else{
					$('#checkTimer').css("display","none");
					return "";
				}
            }
            function checkEnum() {
			    var enum_value=$.trim($('#maxEnum').val());
                enum_value = enum_value.split(' ');
                if(enum_value.length<2)
                {
                    $('#checkEnum').html("枚举值之间必须用空格隔开");
                    $('#checkEnum').css("display","block");
                }else{
					$('#checkEnum').css("display","none");
					return "";
				}
            }
            function alert_ID() {
			    var data=$.trim($('#Stream_ID').val());
                for (var i = 0; i < StreamIds.length; i++) {
                    if (StreamIds[i] == data) {
                        return "exist";
                    }
                    else {return "not-exist"}
                }
            }
		</script>
