

		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>编辑</title>

		<meta name="description" content="Common form elements and layouts" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<style>
			html, body {
		    width: 100%;
		    height: 100%;
		    padding: 13px;
		    margin: 0px;

		  }
			.headerH1 {
			    padding: 0;
			    margin: 0 8px;
			    font-size: 18px;
			    font-weight: lighter;
			    color: #2679B5;
			}
			.addButton:hover{
		  	text-decoration:none;
		  	cursor:pointer;
		  }
		</style>
		<div class="main-container ace-save-state" id="main-container">
			<div class="main-content">
				<div class="main-content-inner">

					<div class="page-content" style="padding-top:15px">
						<span class="help-button">?</span>
						<a class="addButton">了解如何填写参数</a>
						<div style="float:right"><a class="addButton" href="#/argue">取消并返回</a></div>
						<div class="page-header" style="padding-bottom: 6px;"></div>
						<h1 class="headerH1">参数信息</h1>
						<div class="space-6"></div>
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<form method="post" class="form-horizontal" role="form">
									<div class="form-group">
										<label class="col-sm-3 col-xs-3 control-label no-padding-right" for="Stream_ID" style="text-align:right"> Stream_ID </label>
										<div class="col-sm-9 col-xs-9">
											<input type="text" id="Stream_ID" ng-model="argueFormData.csrfmiddlewaretoken" placeholder="Stream_ID由字母、数字或下划线组成，不能重复" class="col-xs-10 col-sm-5" onblur="checkID()"/>
											<br><br><div id="checkID" style="color:red;display:none"></div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 col-xs-3 control-label no-padding-right" for="name" style="text-align:right"> 参数名称 </label>
										<div class="col-sm-9 col-xs-9">
											<input type="text" id="name" ng-model="argueFormData.Stream_ID" placeholder="Stream_ID的中文名称，显示在产品详情界面" class="col-xs-10 col-sm-5" onblur="checkName()"/>
											<br><br><div id="checkName" style="color:red;display:none"></div>
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-3 col-xs-3 control-label no-padding-right" for="corpName" style="text-align:right"> 单位名称 </label>
										<div class="col-sm-9 col-xs-9">
											<input type="text" id="corpName" placeholder="请输入参数的单位名称，如：摄氏度" class="col-xs-10 col-sm-5" />
											<label style="margin-top:6px"> &nbsp;&nbsp;可选 </label>
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-3 col-xs-3 control-label no-padding-right" for="corpMark" style="text-align:right"> 单位符号 </label>
										<div class="col-sm-9 col-xs-9">
											<input type="text" id="corpMark" placeholder="请输入参数的单位名称，如：℃" class="col-xs-10 col-sm-5"/>
											<label style="margin-top:6px"> &nbsp;&nbsp;可选 </label>
										</div>
									</div>
                                    <div class="form-group">
										<label class="col-sm-3 col-xs-3 control-label no-padding-right" for="mxsLength" style="text-align:right"> 长度 </label>
										<div class="col-sm-9 col-xs-9">
											<input type="text" id="mxsLength" placeholder="请输入参数位数，如：8" class="col-xs-10 col-sm-5"/>
											<label style="margin-top:6px"> &nbsp;&nbsp;可选 </label>
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-3 col-xs-3 control-label no-padding-right" for="paramType" style="text-align:right"> 参数类型 <span class="help-button" data-rel="popover" data-trigger="hover" data-placement="bottom" data-content="请正确填写您的Stream_ID的类型，如选择int/float型，还需填写参数的最大/最小值。" title="">?</span> </label>
										<div class="col-sm-9 col-xs-9">
												<div class="radio">
														<label>
															<input name="paramType" type="radio" class="ace input-lg" onclick="selectInt(this)" value="1" checked/>
															<span class="lbl bigger-120"> int</span>
														</label>
														<label>
															<input name="paramType" type="radio" class="ace input-lg" onclick="selectFloat(this)" value="2"/>
															<span class="lbl bigger-120"> float</span>
														</label>
														<label>
															<input name="paramType" type="radio" class="ace input-lg" onclick="selectString(this)" value="3"/>
															<span class="lbl bigger-120"> string</span>
														</label>
												</div>
												<div id="selectInt" style="background-color:#fff;display:block;margin-left:10px;margin-top:5px;border:1px solid #ccc;width:180px;padding:5px 10px">
													<table border=0>
														<tr>
															<td height=30px align="center">最小值</td>
															<td align="center">最大值</td>
														</tr>
														<tr style="border-top:1px solid #ccc">
															<td width=80px>
																<input id="minInt" type="text" style="border:none;width:76px;text-align:center;border-bottom:1px solid #ccc" onblur="checkInt()">
															</td>
															<td width=80px align="right">
																<input id="maxInt" type="text" style="border:none;width:76px;text-align:center;border-bottom:1px solid #ccc" onblur="checkInt()">
															</td>
														</tr>
													</table>
													<div id="checkInt" style="margin-bottom:-25px;margin-left:-10px;color:red;display:none"></div>
												</div>
												<div id="selectFloat" style="background-color:#fff;display:none;margin-left:72px;margin-top:5px;border:1px solid #ccc;width:180px;padding:5px 10px">
													<table border=0>
														<tr>
															<td height=30px align="center">最小值</td>
															<td align="center">最大值</td>
														</tr>
														<tr style="border-top:1px solid #ccc">
															<td width=80px>
																<input id="minFloat" type="text" style="border:none;width:76px;text-align:center;border-bottom:1px solid #ccc" onblur="checkFloat()">
															</td>
															<td width=80px align="right">
																<input id="maxFloat" type="text" style="border:none;width:76px;text-align:center;border-bottom:1px solid #ccc" onblur="checkFloat()">
															</td>
														</tr>
													</table>
													<div id="checkFloat" style="margin-bottom:-25px;margin-left:-10px;color:red;display:none"></div>
												</div>
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-3 col-xs-3 control-label no-padding-right" for="isControl" style="text-align:right"> 可控 <span class="help-button" data-rel="popover" data-trigger="hover" data-placement="bottom" data-content="可控”表示您的参数可以被控制，如：“开关”；“不可控”表示您的参数不可被控制，如：“PM2.5”；" title="">?</span> </label>
										<div class="col-sm-9 col-xs-9">
												<div class="radio">
														<label>
															<input name="isControl" type="radio" class="ace input-lg" value="1" checked/>
															<span class="lbl bigger-120"> 可控</span>
														</label>
														<label>
															<input name="isControl" type="radio" class="ace input-lg" value="0"/>
															<span class="lbl bigger-120"> 不可控</span>
														</label>
												</div>
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-3 col-xs-3 control-label no-padding-right" for="state" style="text-align:right"> 启用状态 </label>
										<div class="col-sm-9 col-xs-9" style="padding-top:6px">
												<input id="state" type="checkbox" class="ace ace-switch ace-switch-5" value="1" checked/><span class="lbl middle"></span>
										</div>
									</div>

								</form><!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->

						<div class="page-header"></div>
						<h1 class="headerH1">参数值<span class="help-button" data-rel="popover" data-trigger="hover" data-placement="bottom" data-content=" 硬件与京东智能云通信的数据及说明，例：数据说明   传送数据关              0开              1" title="">?</span></h1>
						<div class="space-6"></div>

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<form class="form-horizontal" role="form">
									<div class="form-group">
										<label class="col-sm-2 col-xs-2 no-padding-right">  </label>
										<label class="col-sm-2 col-xs-3 no-padding-right"> 数据说明 </label>
										<label class="col-sm-1 col-xs-2 no-padding-right"> 传送数据 </label>
									</div>

									<div class="form-group" id="addGroup">
										<div class="col-sm-2 col-xs-2"></div>
										<div class="col-sm-10 col-xs-10">
											<a href='#' onclick='add();return false' class='addButton'><i class='ace-icon glyphicon glyphicon-plus'></i> 添加参数值</a>
										</div>
									</div>
									<div class="clearfix form-actions" style="margin-bottom:-15px">
										<div class="col-sm-2 col-xs-2"></div>

										<div class="col-sm-3 col-xs-6">
											<button class="btn btn-info" type="button"  ng-click="Save(id)">
												<i class="ace-icon fa fa-check bigger-110" ></i>提交审核</button>&nbsp

											<button class="btn" type="reset">
												<i class="ace-icon fa fa-undo bigger-110"></i>重置</button>
										</div>
									</div>


								</form><!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->


					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->
		</div><!-- /.main-container -->

		<script src="/static/assets/js/jquery-2.1.4.min.js"></script>
		<script src="/static/assets/js/bootstrap.min.js"></script>


		<script type="text/javascript">

			var url=location.href;
			var num=url.indexOf('?id');
			var str=url.substring(num+1);
			var id = str.split("=")[1];
			jQuery(function($) {
			    $('[data-rel=popover]').popover({container:'body'});
				if(location.href.indexOf('?id')>=0){//编辑
					var edit_data={};
					var post_data = {"name": "edit","id":id};
                    $.ajax({
                        url:"#/edit",
                        type: "POST",
                        data: post_data,
                        async :false,
                        success: function (data) {
                            edit_data=data['data'];
                        }
                    });
                    var obj={id:id,Stream_ID:edit_data["Stream_ID"],name:edit_data["name"],isControl:edit_data["isControl"],state:edit_data["state"],min:edit_data["min"],max:edit_data["max"],paramType:edit_data["paramType"],corpName:edit_data["corpName"],corpMark:edit_data["corpMark"],mxs:edit_data["mxs"],mxsLength:edit_data["mxsLength"],time:edit_data["time"]};
					loadData(obj);
				}else{//添加
					add();
				}
			});
			function loadData(d){

				$('#Stream_ID').val(d.Stream_ID);
				$('#name').val(d.name);
				$('#corpName').val(d.corpName);
				$('#corpMark').val(d.corpMark);
				$('#mxsLength').val(d.mxsLength);
				if(d.isControl==1){
					document.getElementsByName('isControl')[0].checked=true;
				}else{
					document.getElementsByName('isControl')[1].checked=true;
				}
				if(d.state==1){
					document.getElementById('state').checked=true;
				}else{
					document.getElementById('state').checked=false;
				}
				if(d.paramType==1){
					document.getElementsByName('paramType')[0].checked=true;
					$('#minInt').val(d.min);
					$('#maxInt').val(d.max);
					$('#selectInt').css("display","block");
					$('#selectFloat').css("display","none");
				}else if(d.paramType==2){
					document.getElementsByName('paramType')[1].checked=true;
					$('#minFloat').val(d.min);
					$('#maxFloat').val(d.max);
					$('#selectInt').css("display","none");
					$('#selectFloat').css("display","block");
				}else{
					document.getElementsByName('paramType')[2].checked=true;
					$('#selectInt').css("display","none");
					$('#selectFloat').css("display","none");
				}
				for(var i=0;i<d.mxs.length;i++){
					var group='';
					group+='<div class="form-group">';
					group+='	<div class="col-sm-2 col-xs-2"></div>';
					group+='	<div class="col-sm-2 col-xs-3">';
					group+='		<input type="text" name="paramDesc" placeholder="" class="col-xs-12 col-sm-12" value="'+d.mxs[i].desc+'"/>';
					group+='	</div>';
					group+='	<div class="col-sm-1 col-xs-2">';
					group+='		<input type="text" name="paramData" placeholder="" class="col-xs-12 col-sm-12" value="'+d.mxs[i].data+'"/>';
					group+='	</div>';
					group+='	<div class="col-sm-2 col-xs-2" style="padding-top:6px">';
					group+='		<a href="#" onclick="del(this);return false" class="addButton"><i class="fa fa-times-circle bigger-150"></i></a>';
					group+='		<label> &nbsp;&nbsp;可选 </label>';
					group+='	</div>';
					group+='</div>';
					$("#addGroup").before(group);
				}
			}
			function selectInt(ele){
				//var top=getTop(ele);
				//var left=getLeft(ele);
				//document.getElementById('selectInt').style.top=(top+24)+"px";
				//document.getElementById('selectInt').style.left=(left+11)+"px";
				document.getElementById('selectFloat').style.display="none";
				document.getElementById('selectInt').style.display="block";
			}
			function selectFloat(ele){
				//var top=getTop(ele);
				//var left=getLeft(ele);
				//document.getElementById('selectFloat').style.top=(top+24)+"px";
				//document.getElementById('selectFloat').style.left=(left+11)+"px";
				document.getElementById('selectInt').style.display="none";
				document.getElementById('selectFloat').style.display="block";
			}
			function selectString(ele){
				document.getElementById('selectInt').style.display="none";
				document.getElementById('selectFloat').style.display="none";
			}
			//获取元素的纵坐标
			function getTop(e){
				var offset=e.offsetTop;
				if(e.offsetParent!=null) offset+=getTop(e.offsetParent);
				return offset;
			}
			//获取元素的横坐标
			function getLeft(e){
				var offset=e.offsetLeft;
				if(e.offsetParent!=null) offset+=getLeft(e.offsetParent);
				return offset;
			}
			function add(){
				var group='';
				group+='<div class="form-group">';
				group+='	<div class="col-sm-2 col-xs-2"></div>';
				group+='	<div class="col-sm-2 col-xs-3">';
				group+='		<input type="text" name="paramDesc" placeholder="" class="col-xs-12 col-sm-12"/>';
				group+='	</div>';
				group+='	<div class="col-sm-1 col-xs-2">';
				group+='		<input type="text" name="paramData" placeholder="" class="col-xs-12 col-sm-12"/>';
				group+='	</div>';
				group+='	<div class="col-sm-2 col-xs-2" style="padding-top:6px">';
				group+='		<a href="#" onclick="del(this);return false" class="addButton"><i class="fa fa-times-circle bigger-150"></i></a>';
				group+='		<label> &nbsp;&nbsp;可选 </label>';
				group+='	</div>';
				group+='</div>';
				$("#addGroup").before(group);
			}
			function del(ths){
				$(ths.parentNode.parentNode).remove();
			}

			function checkID(){
				var role=/^\w+$/;
				var data=$.trim($('#Stream_ID').val());
				if(data=='' || role.test(data)==false){
					$('#checkID').html("参数ID由字母、数字或下划线组成，不能重复!!");
					$('#checkID').css("display","block");
				}else{
					$('#checkID').css("display","none");
				}
			}
			function checkName(){
				if($.trim($('#name').val())==''){
					$('#checkName').html("参数名不能为空!!");
					$('#checkName').css("display","block");
				}else{
					$('#checkName').css("display","none");
				}
			}
			function checkInt(){
				var min=$.trim($('#minInt').val());
				var max=$.trim($('#maxInt').val());
				//正整数 + 0
				var role1=/^\d+$/;
				//负整数 + 0
				var role2=/^((-\d+)|(0+))$/;
				if((role1.test(min)==false && role2.test(min)==false) || (role1.test(max)==false && role2.test(max)==false)){
					$('#checkInt').html("请填写整数!!");
					$('#checkInt').css("display","block");
					return "请填写整数!!";
				}else if(parseInt(min) >= parseInt(max)){
					$('#checkInt').html("最大值必须大于最小值!!");
					$('#checkInt').css("display","block");
					return "最大值必须大于最小值!!";
				}else{
					$('#checkInt').css("display","none");
					return "";
				}
			}
			function checkFloat(){
				var min=$.trim($('#minFloat').val());
				var max=$.trim($('#maxFloat').val());
				//正浮点数+0
				var role1=/^\d+(\.\d+)?$/;
				//负浮点数+0
				var role2=/^((-\d+(\.\d+)?)|(0+(\.0+)?))$/;
				if((role1.test(min)==false && role2.test(min)==false) || (role1.test(max)==false && role2.test(max)==false)){
					$('#checkFloat').html("请填写浮点数!!");
					$('#checkFloat').css("display","block");
					return "请填写浮点数!!";
				}else if(parseInt(min) >= parseInt(max)){
					$('#checkFloat').html("最大值必须大于最小值!!");
					$('#checkFloat').css("display","block");
					return "最大值必须大于最小值!!";
				}else{
					$('#checkFloat').css("display","none");
					return "";
				}
			}
		</script>
