{% extends "product/base.tpl" %}
{% load staticfiles %}
{% load filter %}
{% block title %}
    产品管理
{% endblock %}
{% block style %}

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}"/>

    <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.min.css' %}"/>
    <link rel="stylesheet" href="/static/css/product/bootbox.css">
    <link rel="stylesheet" href="/static/css/product/notice.css">

    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="{% static 'css/ui/AppUiDesign.css' %}">
    <link rel="stylesheet" href="{% static 'iconfont/iconfont.css' %}">
    <style>
        body {
            background-color: #F1F4F9;
            padding-bottom: 0;
            font-size: 14px;
            line-height: 0;
            height: 944px;
        }

        .header {
            margin-top: 0;
            margin-bottom: 0;
        }

        .leftSide {
            position: fixed;
            margin-bottom: 0;
            padding-bottom: 0;
            max-height: 704px;
            overflow-y: visible;
        }

        .box1 {
            min-height: 0;
        }

        .breadcrumb {
            font-size: 16px;
            line-height: 0px;
        }

        .dropdown {
            margin-left: 15px;
            cursor: pointer;
        }

        .dropdown-menu {
            margin-top: 10px;
        }

        .dropdown-menu > li {
            height: 35px;
            line-height: 35px;
        }

        .dropdown-menu > li:hover {
            background: #ff6202;
        }

        .dropdown-menu > li > a {
            padding-bottom: 0;
            line-height: 30px;
            border: 0;
            font-size: 16px;
        }

        .dropdown-menu > li:hover > a, .dropdown-menu > li > a:active, .dropdown-menu > li > a:focus {
            background: #ff6202;
            border: 0;
        }

        .menuBox h3 {
            padding-left: 15px;
            margin-top: 5px;
            font-size: 15px;
        }

        .wrapper {
            width: 1200px;
            padding: 0;
            margin: 0 auto;
        }

        .mt20 {
            margin-top: 20px;
            border-top: 1px solid #ccc;
        }

        .goods span {
            height: 30px;
        }

        .nav > li > a:hover {

            background: transparent;
        }

        .footer {
            width: 1200px;
            padding-top: 20px;

        }

        .nav > li > a {
            padding: 5px;
        }

        .highlight {
            background: #808080;
            border: 1px solid #808080;
        }

        .nav-current {
            text-decoration: none;
            border-bottom: 3px solid #ff6202;
            height: 35px;
        }

        .breadcrumb > li > a {
            color: #333;
            cursor: pointer;
        }

        .breadcrumb > li > a:hover {
            color: #ff6202;
        }

        .breadcrumb > li, .breadcrumb > li.active, .breadcrumb > li:active, .breadcrumb > li:focus {
            color: #ff6202;
            cursor: text;
        }

        .step-navs > li {
            display: inline-block;
            width: 160px;
        }

        .fa {
            line-height: 21px;
            padding-left: 6px;
        }

        .fa-sliders:before {
            content: "1";
            color: #fff;
        }

        .fa-inbox:before {
            content: "2";
            color: #fff;
        }

        .fa-file-text-o:before {
            content: "3";
            color: #fff;
        }

        .fa-desktop:before {
            content: "4";
            color: #fff;
        }

        .fa-text:before {
            content: "5";
            color: #fff;
        }

        .menuBox ul li a i {
            border-radius: 50%;
            background: #ccc;
        }

        .menuBox ul li.hover a i {
            background: #ff6202;
        }

        .menuBox ul li.hover a {
            color: #ff6202;
        }
    </style>
{% endblock %}
{% block menu %}
    {% create_menu 1 user.account_id %}

{% endblock %}

{% block content %}

    <div class="container">
        <div id="logControl">显示日志<input type="radio" value="true" name="log" id="logTrue" checked="checked"
                                        onclick="previewLog(this)"><label
                for="logTrue">是</label><input type="radio" value="false" name="log" id="logFalse"
                                              onclick="previewLog(this)"><label
                for="logFalse">否</label>
        </div>
        <div class="choiceBg clearfix">
        <span class="pull-left title">
          背景选择
        </span>
            <div id="choiceBg" class="pull-left">
                <span class="bgColor" value="#FF8312">
                    <i>√</i>
                </span>
                <span class="bgColor" value="#4B4048">
                    <i></i>
                </span>
                <span class="bgColor" value="#B84441">
                    <i></i>
                </span>
                <span class="bgColor" value="#737881">
                    <i></i>
                </span>
                <span class="bgColor" value="#5097D8">
                    <i></i>
                </span>
                <span class="bgColor" value="#A6B342">
                    <i></i>
                </span>
                <span class="bgColor" value="#0071BB">
                    <i></i>
                </span>
            </div>
        </div>

        <div class="fnTitle">功能点样式设置和排序</div>

        <!-- 选择图标模态框 -->
        <div id="iconList" class="fade modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" aria-hidden="true">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <div class="modal-title">选择图标</div>
                    </div>
                    <div class="modal-body">
                        <div id="icons">
                            <i class="iconfont icon-dp_add"></i>
                            <i class="iconfont icon-dp_reduce"></i>
                            <i class="iconfont icon-dp_temp"></i>
                            <i class="iconfont icon-dp_time3"></i>
                            <i class="iconfont icon-dp_mode"></i>
                            <i class="iconfont icon-dp_loop"></i>
                            <i class="iconfont icon-dp_filter"></i>
                            <i class="iconfont icon-dp_smile"></i>
                            <i class="iconfont icon-dp_sleep"></i>
                            <i class="iconfont icon-dp_dust"></i>
                            <i class="iconfont icon-eco"></i>
                            <i class="iconfont icon-eoc2"></i>
                            <i class="iconfont icon-dp_tvoc"></i>
                            <i class="iconfont icon-dp_smart"></i>
                            <i class="iconfont icon-dp_add"></i>
                            <i class="iconfont icon-dp_reduce"></i>
                            <i class="iconfont icon-dp_temp"></i>
                            <i class="iconfont icon-dp_time3"></i>
                            <i class="iconfont icon-dp_mode"></i>
                            <i class="iconfont icon-dp_loop"></i>
                            <i class="iconfont icon-dp_filter"></i>
                            <i class="iconfont icon-dp_smile"></i>
                            <i class="iconfont icon-dp_sleep"></i>
                            <i class="iconfont icon-dp_dust"></i>
                            <i class="iconfont icon-eco"></i>
                            <i class="iconfont icon-eoc2"></i>
                            <i class="iconfont icon-dp_tvoc"></i>
                            <i class="iconfont icon-dp_smart"></i>
                            <i class="iconfont icon-dp_o2"></i>
                            <i class="iconfont icon-dp_time2"></i>
                            <i class="iconfont icon-dp_light2"></i>
                            <i class="iconfont icon-dp_shake"></i>
                            <i class="iconfont icon-dp_home2"></i>
                            <i class="iconfont icon-dp_direction"></i>
                            <i class="iconfont icon-dp_power3"></i>
                            <i class="iconfont icon-dp_wash"></i>
                            <i class="iconfont icon-dp_location"></i>
                            <i class="iconfont icon-dp_battery"></i>
                            <i class="iconfont icon-dp_wind"></i>
                            <i class="iconfont icon-dp_fresh"></i>
                            <i class="iconfont icon-dp_wet2"></i>
                            <i class="iconfont icon-dp_half"></i>
                            <i class="iconfont icon-dp_sun"></i>
                            <i class="iconfont icon-dp_bag"></i>
                            <i class="iconfont icon-dp_wet"></i>
                            <i class="iconfont icon-dp_water"></i>
                            <i class="iconfont icon-dp_lock"></i>
                            <i class="iconfont icon-dp_time"></i>
                            <i class="iconfont icon-dp_light"></i>
                            <i class="iconfont icon-dp_0"></i>
                            <i class="iconfont icon-dp_1"></i>
                            <i class="iconfont icon-dp_2"></i>
                            <i class="iconfont icon-dp_3"></i>
                            <i class="iconfont icon-dp_4"></i>
                            <i class="iconfont icon-dp_5"></i>
                            <i class="iconfont icon-dp_6"></i>
                            <i class="iconfont icon-dp_7"></i>
                            <i class="iconfont icon-dp_8"></i>
                            <i class="iconfont icon-dp_9"></i>
                            <i class="iconfont icon-dp_c"></i>
                            <i class="iconfont icon-dp_f"></i>
                            <i class="iconfont icon-dp_power2"></i>
                            <i class="iconfont icon-dp_power"></i>
                            <i class="iconfont icon-dp_right"></i>
                            <i class="iconfont icon-dp_dot"></i>
                            <i class="iconfont icon-dp_play"></i>
                            <i class="iconfont icon-dp_pause"></i>
                            <i class="iconfont icon-dp_down"></i>
                            <i class="iconfont icon-dp_anti-clockwise"></i>
                            <i class="iconfont icon-dp_clockwise"></i>
                            <i class="iconfont icon-dp_up"></i>
                            <i class="iconfont icon-dp_lightning"></i>
                            <i class="iconfont icon-dp_voice"></i>
                            <i class="iconfont icon-dp_down1"></i>
                            <i class="iconfont icon-dp_cloud"></i>
                            <i class="iconfont icon-dp_upload"></i>
                            <i class="iconfont icon-dp_doc"></i>
                            <i class="iconfont icon-dp_curve"></i>
                            <i class="iconfont icon-dp_heart"></i>
                            <i class="iconfont icon-dp_email"></i>
                            <i class="iconfont icon-dp_circle"></i>
                            <i class="iconfont icon-dp_plus"></i>
                            <i class="iconfont icon-dp_home"></i>
                            <i class="iconfont icon-dp_magnifier"></i>
                            <i class="iconfont icon-dp_fly"></i>
                            <i class="iconfont icon-dp_i"></i>
                            <i class="iconfont icon-dp_down2"></i>
                            <i class="iconfont icon-dp_book"></i>
                            <i class="iconfont icon-dp_rabbish"></i>
                            <i class="iconfont icon-dp_hill"></i>
                            <i class="iconfont icon-dp_compass"></i>
                            <i class="iconfont icon-dp_gift"></i>
                            <i class="iconfont icon-dp_eye"></i>
                            <i class="iconfont icon-dp_notice"></i>
                            <i class="iconfont icon-dp_camera"></i>
                            <i class="iconfont icon-dp_puzzle"></i>
                            <i class="iconfont icon-dp_ratio"></i>
                            <i class="iconfont icon-dp_block"></i>
                            <i class="iconfont icon-dp_chat"></i>
                            <i class="iconfont icon-dp_list2"></i>
                            <i class="iconfont icon-dp_bottle"></i>
                            <i class="iconfont icon-dp_doc2"></i>
                            <i class="iconfont icon-dp_what"></i>
                            <i class="iconfont icon-dp_warming"></i>
                            <i class="iconfont icon-dp_updown"></i>
                            <i class="iconfont icon-dp_tool"></i>
                            <i class="iconfont icon-dp_tag"></i>
                            <i class="iconfont icon-dp_shield"></i>
                            <i class="iconfont icon-dp_box2"></i>
                            <i class="iconfont icon-dp_box"></i>
                            <i class="iconfont icon-dp_money"></i>
                            <i class="iconfont icon-dp_house"></i>
                            <i class="iconfont icon-dp_mic"></i>
                            <i class="iconfont icon-dp_calendar"></i>
                            <i class="iconfont icon-dp_list"></i>
                            <i class="iconfont icon-dp_flag"></i>
                            <i class="iconfont icon-dp_flower"></i>
                            <i class="iconfont icon-deng"></i>
                            <i class="iconfont icon-fengli"></i>
                            <i class="iconfont icon-geren"></i>
                            <i class="iconfont icon-gaodiyin"></i>
                            <i class="iconfont icon-guanjia"></i>
                            <i class="iconfont icon-qita"></i>
                            <i class="iconfont icon-jiare"></i>
                            <i class="iconfont icon-liangdu"></i>
                            <i class="iconfont icon-jiare1"></i>
                            <i class="iconfont icon-shangsheng"></i>
                            <i class="iconfont icon-shouji"></i>
                            <i class="iconfont icon-shoucang"></i>
                            <i class="iconfont icon-shezhi"></i>
                            <i class="iconfont icon-tianjia"></i>
                            <i class="iconfont icon-shoushimima"></i>
                            <i class="iconfont icon-shenghua"></i>
                            <i class="iconfont icon-shuibeng"></i>
                            <i class="iconfont icon-tongji"></i>
                            <i class="iconfont icon-tongji1"></i>
                            <i class="iconfont icon-yinshui"></i>
                            <i class="iconfont icon-yinliang"></i>
                            <i class="iconfont icon-yanse"></i>
                            <i class="iconfont icon-wendu"></i>
                            <i class="iconfont icon-yundong"></i>
                            <i class="iconfont icon-yunhang"></i>
                            <i class="iconfont icon-zanting"></i>
                            <i class="iconfont icon-zhengque"></i>
                            <i class="iconfont icon-zhuangtai"></i>
                            <i class="iconfont icon-zhileng"></i>
                            <i class="iconfont icon-zhileng1"></i>
                            <i class="iconfont icon-chushuang"></i>
                            <i class="iconfont icon-zanting1"></i>
                            <i class="iconfont icon-tongji2"></i>
                            <i class="iconfont icon-baifeng1"></i>
                            <i class="iconfont icon-set"></i>
                            <i class="iconfont icon-yueliang"></i>
                            <i class="iconfont icon-xue"></i>
                            <i class="iconfont icon-fangzi"></i>
                            <i class="iconfont icon-wendu1"></i>
                            <i class="iconfont icon-taiyang"></i>
                            <i class="iconfont icon-fangzi1"></i>
                            <i class="iconfont icon-icon-percent"></i>
                            <i class="iconfont icon-p6"></i>
                            <i class="iconfont icon-p7"></i>
                            <i class="iconfont icon-p8"></i>
                            <i class="iconfont icon-p9"></i>
                            <i class="iconfont icon-p10"></i>
                            <i class="iconfont icon-p11"></i>
                            <i class="iconfont icon-p12"></i>
                            <i class="iconfont icon-p13"></i>
                            <i class="iconfont icon-p14"></i>
                            <i class="iconfont icon-p15"></i>
                            <i class="iconfont icon-ziyouchengxu"></i>
                            <i class="iconfont icon-zhouchengxu"></i>
                            <i class="iconfont icon-minus"></i>
                            <i class="iconfont icon-plus"></i>
                            <i class="iconfont icon-a_fan_low"></i>
                            <i class="iconfont icon-a_fan_auto"></i>
                            <i class="iconfont icon-a_fan_med"></i>
                            <i class="iconfont icon-a_fan_high"></i>
                            <i class="iconfont icon-a_function_celsius"></i>
                            <i class="iconfont icon-a_function_fahrenhei"></i>
                            <i class="iconfont icon-a_function_hs"></i>
                            <i class="iconfont icon-a_function_eco"></i>
                            <i class="iconfont icon-a_function_filter"></i>
                            <i class="iconfont icon-a_function_sleep"></i>
                            <i class="iconfont icon-a_function_pump"></i>
                            <i class="iconfont icon-a_function_vs"></i>
                            <i class="iconfont icon-a_function_turbo"></i>
                            <i class="iconfont icon-a_mode_basement"></i>
                            <i class="iconfont icon-a_mode_continuous"></i>
                            <i class="iconfont icon-a_mode_cool"></i>
                            <i class="iconfont icon-a_mode_fan"></i>
                            <i class="iconfont icon-plus"></i>
                            <i class="iconfont icon-a_mode_clothes"></i>
                            <i class="iconfont icon-a_mode_feel"></i>
                            <i class="iconfont icon-a_mode_heat"></i>
                            <i class="iconfont icon-a_mode_livingroom"></i>
                            <i class="iconfont icon-a_mode_dry"></i>
                            <i class="iconfont icon-a_nav_fan"></i>
                            <i class="iconfont icon-a_nav_function"></i>
                            <i class="iconfont icon-a_nav_mode"></i>
                            <i class="iconfont icon-a_power"></i>
                            <i class="iconfont icon-a_nav_timer"></i>
                            <i class="iconfont icon-a_down"></i>
                            <i class="iconfont icon-a_up"></i>
                            <i class="iconfont icon-a_water"></i>
                            <i class="iconfont icon-a_selected"></i>
                            <i class="iconfont icon-Mute"></i>
                            <i class="iconfont icon-FanSpeed"></i>
                            <i class="iconfont icon-Lamp"></i>
                            <i class="iconfont icon-Heal"></i>
                            <i class="iconfont icon-Ele"></i>
                            <i class="iconfont icon-Strong"></i>
                            <i class="iconfont icon-dp_bag1"></i>
                            <i class="iconfont icon-off"></i>
                            <i class="iconfont icon-edit"></i>
                            <i class="iconfont icon-on"></i>
                            <i class="iconfont icon-timer"></i>
                            <i class="iconfont icon-power"></i>
                            <i class="iconfont icon-timer1"></i>
                            <i class="iconfont icon-Disarm"></i>
                            <i class="iconfont icon-SystemReady"></i>
                            <i class="iconfont icon-Arm"></i>
                            <i class="iconfont icon-HomeArm"></i>
                            <i class="iconfont icon-AwayArm"></i>
                            <i class="iconfont icon-power1"></i>
                            <i class="iconfont icon-Panic"></i>
                            <i class="iconfont icon-battery"></i>
                            <i class="iconfont icon-setting"></i>
                            <i class="iconfont icon-Trigger"></i>
                            <i class="iconfont icon-CMS"></i>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default confirm" data-dismiss="modal">确定</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 选择背景模态框 -->
        <div id="bgList" class="fade modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" aria-hidden="true">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <div class="modal-title">选择背景</div>
                    </div>
                    <div class="modal-body">
                        <div class="bgWrapper clearfix">
                            <div class="bgWrapper-left col-xs-7" id="changeBg">
                                <img src="/static/image/bg/no.png" alt="">
                                <img src="/static/image/bg/00.jpg" alt="">
                                <img src="/static/image/bg/01.jpg" alt="">
                                <img src="/static/image/bg/02.jpg" alt="">
                                <img src="/static/image/bg/03.jpg" alt="">
                                <img src="/static/image/bg/04.jpg" alt="">
                                <img src="/static/image/bg/05.jpg" alt="">
                                <img src="/static/image/bg/06.jpg" alt="">
                                <img src="/static/image/bg/07.jpg" alt="">
                                <img src="/static/image/bg/08.jpg" alt="">
                                <img src="/static/image/bg/09.jpg" alt="">
                                <img src="/static/image/bg/10.jpg" alt="">
                                <img src="/static/image/bg/11.jpg" alt="">
                                <img src="/static/image/bg/12.jpg" alt="">
                                <img src="/static/image/bg/13.jpg" alt="">
                                <img src="/static/image/bg/14.jpg" alt="">
                                <img src="/static/image/bg/15.jpg" alt="">
                                <img src="/static/image/bg/17.jpg" alt="">
                                <img src="/static/image/bg/18.jpg" alt="">
                                <img src="/static/image/bg/19.jpg" alt="">
                                <img src="/static/image/bg/20.jpg" alt="">
                                <img src="/static/image/bg/21.jpg" alt="">
                                <img src="/static/image/bg/22.jpg" alt="">
                                <img src="/static/image/bg/23.jpg" alt="">
                                <img src="/static/image/bg/24.jpg" alt="">
                                <img src="/static/image/bg/25.jpg" alt="">
                                <img src="/static/image/bg/26.jpg" alt="">
                                <img src="/static/image/bg/27.jpg" alt="">
                                <img src="/static/image/bg/28.jpg" alt="">
                                <img src="/static/image/bg/29.jpg" alt="">
                                <img src="/static/image/bg/30.jpg" alt="">
                                <img src="/static/image/bg/31.jpg" alt="">
                                <img src="/static/image/bg/32.jpg" alt="">
                                <img src="/static/image/bg/33.jpg" alt="">
                                <img src="/static/image/bg/34.jpg" alt="">
                                <img src="/static/image/bg/35.jpg" alt="">
                                <img src="/static/image/bg/36.jpg" alt="">
                                <img src="/static/image/bg/37.jpg" alt="">
                                <img src="/static/image/bg/38.jpg" alt="">
                                <img src="/static/image/bg/39.jpg" alt="">
                            </div>
                            <div class="bgWrapper-right col-xs-5">
                                <img src="/static/image/bg/no.png" alt="" id="bigImg">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default ensure" data-dismiss="modal">确定</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="preview">
            <div class="screen">
                <div class="log" style="display:block;">设备日志</div>

                <ol class="fnList">

                </ol>
                <div class="communicateLog" style="display:block;">通讯日志</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block end_fixed_script %}
    <script>
        var device_key = "{{ device_key }}"
    </script>
    <script src="{% static 'assets/js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

    <script src="/static/js/product/bootbox.js"></script>
    <script src="{% static 'js/ui/AppUiDesign.js' %}"></script>

{% endblock %}