    .modal{
        text-align: center;
    }
    .modal-body {
        padding: 20px;
         height: 97px;
    }
    .modal-content {
        border-radius: 6px;
    }
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
    .modal-dialog {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
         width: 400px;
    }
    .modal-footer {
        padding: 19px 20px 20px;
        margin-top: 15px;
        text-align: center;
        border-top: 1px solid #e5e5e5;
        background-color: #FFFFFF;
        border-radius: 6px;
        box-shadow: none;
    }
    .modal-footer .btn+.btn{
        margin-left: 42px;
        border: solid 1px #c9c9c9;
    }
    .btn.btn-default, .btn.btn-default.focus{
        color: #333 !important;
        background-color: #dddddd !important;
        border: none;
        border: solid 1px #c9c9c9;
    }
    .btn{
         border-radius: 6px;
        width: 75px;
    }
    .btn.btn-default:hover,.btn.btn-default:active,.btn.btn-default:active:hover{
        color: #333 !important;
        background-color: #c6c6c6 !important;
    }
    .btn.btn-primary, .btn.btn-primary.focus, .btn.btn-primary:focus {
        color: #fff !important;
        background-color: #ff6f37 !important;
        border-color: #ff6202 !important;
        border: none;
    }
    .btn.btn-primary:hover{
        color: #fff !important;
        background-color: #ff6202 !important;
        border-color: #ff6202 !important;
    }
    .bootbox-body {
        font-size:16px;
        line-height: 1.4;
        padding: 20px;
    }