{% extends 'product/base.tpl' %}
{% load staticfiles %}
{% load  filter %}
{% block title %}
    登录
{% endblock %}
{% block style %}
    <style>
    body, html{
        background: initial;
    }
    body{

        background: url("{% static 'image/center/login_bg.jpg' %}") center center / cover no-repeat fixed;
        width: 100%;
        height: 100%;


    }
    body:before{
        background: rgba(0,0,0,0.5);
    }
    .header{
        border-bottom:none;
    }
    .nav li a:hover {
        color: #fff;
    }
    .nav li a{
        color: #fff;
    }

    .ui-mmask{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        background: rgba(0,0,0,0.5);
        z-index: -1;
    }
        .sign_out{
            display: none;
        }
        .row-fluid {
            width: 100%;
            font-size: 14px;
            line-height: 20px;
        }

        .row-fluid:before, .row-fluid:after {
            display: table;
            line-height: 0;
            content: "";
        }

        .row-fluid .span12 {
            width: 100%;
        }

        .container-narrow {
            width: 95%;
            max-width: 430px;
            min-width: 400px;
            margin: 10% auto;
        }

        .widget-header {
            background-color: #efefef;
            -moz-border-radius: 3px 3px 0 0;
            -webkit-border-radius: 3px 3px 0 0;
            border-radius: 3px 3px 0 0;
            min-height:70px;
            border: 1px solid #DDDDDD;
            border-color: rgba(204,204,204,0.43);
            background-color: rgba(255,255,255,0.5);
        }

        .widget-body {
            padding: 0;
            border-style: solid;
            border-width: 0 1px 1px;
            border-color: rgba(204,204,204,0.43);
            background-color: rgba(255,255,255,0.5);
            min-height: 160px;
        }

        .clearfix:before, .clearfix:after {
            display: table;
            line-height: 0;
            content: "";
        }

        .control-group {
            margin-bottom: 10px;
        }

        .btn-block {
            display: block;
            width: 100%;
            padding-right: 0;
            padding-left: 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        input[type="text"], input[type="password"] {
            height: 55px;
            border-radius: 1px;
            border: 1px solid #ccc;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            -webkit-transition: border linear .2s, box-shadow linear .2s;
            -moz-transition: border linear .2s, box-shadow linear .2s;
            -o-transition: border linear .2s, box-shadow linear .2s;
            transition: border linear .2s, box-shadow linear .2s;
            display: inline-block;
            padding: 4px 15px;
            margin-bottom: 10px;
            font-size: 17px;
            line-height: 20px;
            color: #555;
            vertical-align: middle;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            border-color: rgba(204,204,204,0.43);
            background-color: rgba(255,255,255,0.3);
        }

        .widget-header h5 {
            margin: 0;
            padding: 24px 0 0;
            font-size: 22px;
            color: #fff;
            font-weight: 200;
            text-align: center;
        }
        .btn:hover, .btn:focus{
            color: #fff;
            border-color: rgba(204,204,204,0.43);
            background-color: rgba(255, 98, 2,1);
        }
        .btn {
            display: inline-block;
            padding: 4px 12px;
            margin-bottom: 0;
            font-size: 16px;
            line-height: 20px;
            color: #333;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;

            border: 1px solid #bbb;


            border-bottom-color: #a2a2a2;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
            filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
            -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
            -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        }

        .pull-right {
            width: 100%;
            height: 45px;
            text-align: center;
            color: #fff;
            border-color: rgba(204,204,204,0.43);
            background-color: rgba(255, 98, 2,1);
        }
    .ui-error-box{
        position: relative;
        height: 31px;
        clear: both;
        margin-bottom: 10px;
        background: #ffebeb;
        color: #e4393c;
        border: 1px solid #e4393c;
        padding: 3px 10px 3px 10px;
    }
    .ui-error-box b{
        position: absolute;
        top: 50%;
        left: 10px;
        display: block;
        margin-top: -8px;
        width: 16px;
        height: 16px;
        overflow: hidden;
        background: url('https://miscssl.360buyimg.com/user/passport-2015/widget/login-form/i/pwd-icons-new.png') -104px -49px no-repeat;
    }
    .ui-error-box p{
        position: absolute;
        left: 35px;
    }
    a{
        color: #fff;
    }
    .ui-partner{
        margin-top: 105px;
        color: #333;
    }
    .ui-partner ul li{
        float: left;
        margin-right: 65px;
        color: #333;
        margin-top: 10px;
    }
    .footer{
        color: #fff;
        border-top:none;
    }
    .footer p a{
        color: #fff;
    }
    .footer p a:hover{
        color: #428bca;
    }
    .ui-bottom-no{
        text-align: center;
    background: #fff;
    height: 35px;
    line-height: 35px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-color: rgba(204,204,204,0.43);  background-color: rgba(255,255,255,0.5);
    }
    .sys-login,.wx-login{
        width: 24px;
        height: 24px;
        margin-top: -3px;
        margin-right: 5px;
    }
    input::-webkit-input-placeholder{
    color: #797979;opacity:1;
}
    .login-left{
        float: left;width: 37%;min-height: 70px; margin-left: 32px;
        border-bottom: 2px solid #fff;
    }
    .login-right:hover{
        border-bottom: 2px solid #fff;
        font-weight: 400;
    }
    .login-right{
        float: left;min-height: 70px;width: 37%;margin-left: 41px;
    }
    .login-right > a:hover,.login-right > a:active,.login-right > a:focus{
        text-decoration:none;
    }

    </style>
{% endblock %}
{% block image %}
    <h1 class="logo"><a href="{% url 'home' %}"><img src="{% static 'image/home/logo-dev.png' %}" height="40"></a></h1>
{% endblock %}

{% block menu %}
    <li><a href="{% url 'home' %}">首页</a></li>
    <li><a href="{% url 'home/guide' %}">开发指南</a></li>
    <li><a href="/wiki/">开发文档</a></li>
{% endblock %}
{% block content %}
<div class="ui-mmask"></div>
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="row-fluid">
                    <div class="widget container-narrow">
                        <div class="widget-header">
                            <i class="icon-user"></i>
                            <div class="login-left">
                                <h5>账号登录</h5>
                            </div>
                            <div class="login-right">
                                    <a class="" href="https://open.weixin.qq.com/connect/qrconnect?appid=wx911a65562335bbcd&amp;redirect_uri=https%3a%2f%2fopen.53iq.com%2fcenter%2fcallback&amp;response_type=code&amp;scope=snsapi_login&amp;state=opensite#wechat_redirect">
                                        <h5><img class="wx-login" src="/static/image/center/weixin.png">微信登录</h5>
                                    </a>
                            </div>


                        </div>
                        <div class="widget-body clearfix" style="padding:25px;">
                            <form method="post" name="loginform" action="#">
                                    {{ msg|safe }}
                                    {% csrf_token %}
                                <div class="control-group">
                                    <div class="controls">
                                        <input name="account" class="btn-block" type="text" id="inputEmail" value="{% if username %}{{ username|safe }}{% else %}{% endif %}"
                                               placeholder="邮箱/手机号">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <input name="show-password" class="btn-block" type="password" id="show-inputPassword"
                                               placeholder="密码" onkeyup="encryption(this)">
                                        <input name="password" class="btn-block hidden" type="password" id="inputPassword"
                                               placeholder="密码" >
                                    </div>
                                </div>
                                <button type="submit" class="btn pull-right">登&nbsp;&nbsp;&nbsp;&nbsp;录</button>
                                <div class="control-group">
                                    <div class="controls clearfix" style="float: left">
                                         <div style="margin-top: 10px;color: #c9c9c9 "><a href="forget_pwd">忘记密码？</a></div>
                                        <!--
                                        <label style="width:auto" class="checkbox pull-left">
                                            <input name="remember" type="hidden" class="ui-remember-account" checked> 自动登录
                                        </label>
                                        -->
                                        <!--<a style="padding: 5px 0px 0px 5px;" href="#" class="pull-right">忘记密码?</a>-->
                                    </div>
                                    <div style="float: right;margin-top: 10px;"><a style="color: #ff6202;" href="{% url 'register' %}">立即注册</a></div>
                                </div>
                            <label style="width:auto;display: none;" class="checkbox pull-left">
                                            <input name="remember" type="checkbox" class="ui-remember-account" checked> 自动登录
                            </label>


                            </form>
                            <div class="ui-partner">
                                <ul>
{#                                    <li>|</li>#}
{#                                    <li><a href="#">QQ</a></li>#}
{#                                    <li>|</li>#}
{#                                    <li><a href="#">新浪微博</a></li>#}

                                    <li class="ui-login" style=""><a href="login_sys"><img class="sys-login"  src="{% static 'image/center/factory.png' %}">53iq厂商账号</a></li>

                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                <!--/row-fluid-->
            </div>
            <!--/span10-->
        </div>
    </div>

{% endblock %}

{% block end_script %}
    <script src="{% static 'js/center/crypto.js' %}"></script>
    <script>
    var num = Math.round(Math.random()*2+1);
    var image1 = "/static/image/center/login_bg"+num+'.jpg';
    $("body").css("background","url("+image1+")center center / cover no-repeat fixed");
    console.log(image1);
    function encryption(item) {
             var b = new Base64();
             var str = b.encode($(item).val());
             $("#inputPassword").val(str);
        }
    $(function () {
         var username = '{{ username }}';
         if (username != '') {
             if(!$("input[type='checkbox']").is(':checked')){
                 $(".ui-remember-account").click()
             }
        }
        $(".ui-login").mouseover(function () {
            var img_src = $(this).children().children('img').attr('src');
            if(img_src.indexOf('-c') < 0){
                img_src = img_src.replace('.png', '-c.png');
            }
            $(this).children().children('img').attr('src', img_src)
        });
        $(".ui-login").mouseout(function () {
            var img_src = $(this).children().children('img').attr('src');
            if(img_src.indexOf('-c') > 0){
                img_src = img_src.replace('-c.png', '.png');
            }
            $(this).children().children('img').attr('src', img_src)
        })

    })
    </script>
{% endblock %}