{% extends 'center/base.tpl' %}
{% load staticfiles %}
{% block title %}
    开发者协议
{% endblock %}
{% block style %}

    <style>
        .cnt_box p.btn {
            width: 100%;
        }

        dt {
            font-weight: initial !important;
        }

        .error {
            display: inline-block;
            padding: 0 0 0 16px;
            background: url("{% static 'image/ico_error.png' %}") left center no-repeat !important;
            color: #b40000;
            font-size: 12px;
        }

        .success {
            background: initial !important;
        }

        .sel1 {
            border: 1px solid #999;
            border-radius: 4px;
            padding: 5px;
            height: 32px;
            color: #999;
            min-width: 284px;
        }

        a {
            cursor: pointer;
        }

        .ui-submit-btn {
            width: 295px;
            height: 55px;
            margin-top: 10px;
            font-size: 16px;
            letter-spacing: 9px;
            border-radius: 8px;
            color: #fff;
            background: #1990ff;
        }

        .ui-sub-p {
            width: 100%;
            text-align: center;
            border-top: 1px solid #eee;
        }

        .disable {
            background: #bbb;
        }
    </style>

{% endblock %}

{% block content %}
    <div class="container">
        <div class="wrap">
        <div class="rule_box">
        	<h2>53iq智能云开发者协议</h2>
        	<p>本协议是53iq智能云网站与开发者，就53iq智能云所提供的基于物联网、云计算、大数据相关服务所订立的有效合约。<br>
                在接受本协议之前，请开发者仔细阅读本协议的全部内容。如果开发者对本协议的条款有疑问的，请通过53iq智能云相关业务部门进行询问。如果开发者不同意本协议的任意内容，或者无法准确理解53iq智能云对条款的解释，请不要进行后续操作。<br>
                开发者同意本协议的条款，通过网络页面点击并按照页面上的提示完成全部的注册程序、或以其他方式选择接受本协议，即表示开发者与53iq智能云达成协议，且完全接受本协议项下的全部条款。<br>
                开发者可在53iq智能云网站（<a href="http://open.53iq.com" target="_blank">open.53iq.com</a>），查阅最新版协议及规则条款。在53iq智能云修改协议或规则条款后，如果开发者不接受修改后的条款，请立即停止使用对应的53iq智能云服务，开发者继续使用53iq智能云服务，将被视为已接受了修改后的条款。
            </p>
			<dl>
            <dt>术语说明</dt>
            <dd>
            	<ol>
                <li><span>1.1、</span>53iq智能硬件云开放平台（下称53iq智能云）：指由53iq所拥有、控制、经营的针对硬件开发者、硬件设备厂商及服务提供商专门推出的一项开放平台服务。包括为开发者合作伙伴提供物联网技术支持、大数据分析支持、云服务支持，开放的平台生态。网站域名：open.53iq.com。</li>
                <li><span>1.2、</span>开发者：指经有效申请、并经过53iq智能云审核同意，将其开发的各种硬件设备及应用接入53iq智能云，而向用户提供各种服务的具备民事行为能力的个人、法人或其他组织。</li>
                <li><span>1.3、</span>用户：指通过合作伙伴的智能硬件及应用，接入53iq智能云的单位或个人终端用户。</li>
                <li><span>1.4、</span>设备数据：接入53iq智能云的开发者智能设备所获取的数据，开发者享有设备搜集数据的使用权。</li>
                </ol>
            </dd>
            <dt>开发者的权利和义务</dt>
            <dd>
            	<ol>
                <li><span>2.1、</span>开发者保证：开发者应当使用真实资质信息注册使用53iq智能云，并应当及时更新账户信息确保信息准确有效；否则，53iq智能云有权随时中止、终止向开发者提供服务；由于开发者注册信息不准确或未及时更新，导致的任何损失或责任由开发者自行承担。 开发者在53iq智能云发布的硬件设备及应用、利用53iq智能云实施的活动真实、准确、完整、安全，不存在任何欺诈成份，不侵犯任何组织或个人的合法权益，不违反任何法律、法规、条例或规章。开发者行为所造成的任何法律责任，由开发者单独承担，若由此给53iq智能云造成损失，则开发者需足额赔偿。</li>
                <li><span>2.2、</span>与53iq智能云达成合作协议的开发者，其行为受本协议及53iq智能云规则约束。开发者必须合法使用53iq智能云授予其硬件设备及应用的产品密钥（Product secret），不得违反本协议宗旨将该产品密钥（Product secret）用于其他目的。产品密钥（Product secret）是接入53iq智能云平台的凭证，开发者应当承担其保管责任，开发者不得授权其他单位户或个人使用其产品密钥（Product secret），并就该产品密钥（Product secret）项下之一切活动负全部责任。开发者须重视产品密钥（Product secret）保护，对开发者因被他人冒名而致的任何损失，53iq智能云不承担任何责任，若因此给53iq智能云造成损失，开发者需足额赔偿。</li>
                <li><span>2.3、</span>开发者应当具备从事本协议项下应用开发或提供服务的相关资质，开发者应当具备履行其基于本协议项下之义务的能力，且开发者履行相关义务不违反任何对开发者有约束力的法律文件。</li>
                <li><span>2.4、</span>开发者在其硬件设备及应用设计上应当重视用户体验，尊重用户知情权、选择权，应用服务应当坚持诚信原则，不误导、欺诈、混淆用户，尊重用户的隐私，不骚扰用户，不制造垃圾信息。</li>
                <li><span>2.5、</span>开发者任何形式上传或使用的内容、应用、服务或程序，均不得违反相关法律、法规、政策的规定及本协议或相关条款、协议、规则等；均不涉及有损中华人民共和国国家安全和利益的信息；均不涉及任何反动、色情、迷信、赌博、诽谤他人等违法信息；均不会侵犯任何人的合法权益，包括但不限于知识产权、名誉权、肖像权、商业秘密等。53iq智能云如果发现开发者上传任何侵权、违反法律法规规定、违背本协议约定的内容、应用、服务或程序，则有权将其删除。如果基于53iq智能云的认识，53iq智能云删除了存在侵权嫌疑的内容、应用、服务或程序，开发者认为处理不适当的，开发者应当联系53iq智能云提供异议理由及相关证据。如果开发者存在多次上传侵权内容、应用、服务或程序的情况，53iq智能云有权停止向该开发者提供服务，删除其开发者帐户，追究法律责任。</li>
                <li><span>2.6、</span>开发者同意接收来自53iq智能云及其关联公司或合作伙伴发出的邮件、信息，包括但不限于关于用户利益、商业推广的信息等；开发者如需向53iq智能云进行通知，应当通过53iq智能云对外正式公布的通信地址、电子邮件地址等联系信息送达；开发者联系用户时应当使用其在应用界面中展示的统一的服务邮件地址。</li>
                <li><span>2.7、</span>若因开发者的原因导致其提供的硬件设备或应用需要终止的，开发者应当在终止之前提前90日通知53iq智能云。因开发者终止应用或服务产生的纠纷由开发者独自负责解决。</li>
                </ol>
            </dd>
            <dt>知识产权条款</dt>
            <dd>
            	<ol>
                <li><span>3.1、</span>53iq智能云上所有内容，包括但不限于用户数据、平台运营数据、著作、图片、档案、资讯、资料、网站架构、网站画面的安排、网页设计，均由53iq智能云或其他权利人依法拥有其知识产权，包括但不限于商标权、专利权、著作权、商业秘密等。非经53iq智能云或其他权利人书面同意任何人不得擅自使用、修改、复制、公开传播、改变、散布、发行或公开发表53iq智能云上的网站程序或内容。</li>
                <li><span>3.2、</span>开发者应用或服务发布前，开发者需向53iq智能云提供能够证明开发者对硬件、应用享有相关版权或同等权利的证明材料，以及开发者依法或根据53iq智能云要求提交的其他合法资质证明，否则，53iq智能云有权决定对开发者硬件、应用不予上线。</li>
                <li><span>3.3、</span>开发者应在其硬件、应用中向相关权利人提供知识产权投诉途径，确保权利人可以向开发者主张权利。</li>
                <li><span>3.4、</span>不允许任何人以任何手段收集、编辑、出售或者传播53iq智能云和平台用户的个人信息。一经发现开发者实施上述行为，53iq智能云有权立即终止与该合作方的服务协议，终止为其提供任何服务。</li>
                </ol>
            </dd>
            <dt>免责事由</dt>
            <dd>
            	<ol>
                <li><span>4.1、</span>本协议项下53iq智能云对开发者所有的通知（包括对本协议的修订通知）均可通过网页公告、电子邮件、手机短信或常规的信件传送等方式进行；该等通知于发送之日视为已送达收件人；若开发者不接受的，请开发者书面通知53iq智能云，否则视为开发者已经接受、同意。</li>
                <li><span>4.2、</span>53iq智能云有权定期或不定期地对提供网络服务的平台或相关的设备进行检修或者维护，如因此类情况而造成网络服务在一定时间内的中断或暂停，53iq智能云无需为此承担任何责任。</li>
                <li><span>4.3、</span>如发生下述任一情况而导致服务中断及开发者损失的，53iq智能云不承担责任：
                	<ol>
                    <li><span>（1）</span>发生不可抗力情形的；</li>
                    <li><span>（2）</span>黑客攻击、计算机病毒侵入或发作的；</li>
                    <li><span>（3）</span>计算机系统遭到破坏、瘫痪或无法正常使用的；</li>
                    <li><span>（4）</span>电信部门技术调整的；</li>
                    <li><span>（5）</span>因政府管制而造成暂时性关闭的；</li>
                    <li><span>（6）</span>其它非因53iq智能云的过错而引起的。</li>
                    </ol>
            	</li>
            	</ol>
            </dd>
            <dt>本协议的解释、法律适用及争端解决</dt>
            <dd>
            	<ol>
                <li><span>5.1、</span>53iq智能云对本协议条款拥有解释权。</li>
                <li><span>5.2、</span>本协议的有效性、履行和与本协议及其修订本效力有关的所有事宜，将受中华人民共和国大陆法律管辖，任何争议仅适用中华人民共和国大陆法律。任何纠纷或争议，协议各方首先应友好协商解决，协商不成的，各方在此完全同意将纠纷或争议提交本协议签订地北京市大兴区有管辖权的法院裁决。</li>
                <li><span>5.3、</span>如本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，本协议的其余条款仍应有效并且有约束力。</li>
                <li><span>5.4、</span>本协议中的标题仅为方便而设，并不对解释本协议的条文造成任何影响。</li>
                </ol>
            </dd>
            </dl>
            <p>（完）</p>
        </div>

        </div>
    </div>


{% endblock %}

{% block script %}

    {#    <script src="{% static 'js/center/product.js' %}"></script>#}
{% endblock %}