<style>
    .u208 {
        margin-top: 7px;
        left: 0px;
        top: 0px;
        width: 86px;
        height: 37px;
        background: inherit;
        background-color: rgba(255, 255, 255, 1);
        box-sizing: border-box;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(121, 121, 121, 1);
        border-radius: 0px;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    input {
        display: inline;
        background-color: white;
        margin-top: 6px;
        margin-left: 10px;
        width: 44px;
        border-top-width: 0px;
        border-left-width: 0px;
        border-bottom-width: 0px;
        border-right-width: 0px;

    }
</style>
<div class="box2 relative" ng-app="Product.protocol" ng-controller="ProtocolCtrl">

    <div class="hl-help">
        <span class="linkBlue" style="font-size:20px">定义协议</span>


    </div>
    <hr style="height: 20px;margin-top: 17px;border-top-width: 3px;">
    <div class="hl-help">
        <span class="linkBlue">协议选择:</span>

    </div>

    <hr>
    <div class="" style="margin-left: 50px">
        <div class="col-md-4" style="display: inline;width: 300px;margin-left: 50px;padding-left:0px">
            <input type="radio" name="xx" class="standard" checked value="standard">标准协议
        </div>
        <div class="" style="display: inline;margin-left: 50px">
            <input type="radio" name="xx" class="custom" value="custom">自定义协议
        </div>

    </div>

    <div class="hl-help" style="margin-top: 5px">
        协议配置参数:
    </div>
    <hr>
    <div style="margin-left: 100px">
        <div class="" style="display: inline;width: 100px">
            <input type="checkbox" name="yy" checked value="standard" ng-if="response.is_single_instruction">
            <span class="linkBlue">是否支持单指令</span>
        </div>
        <div class="" style="display: inline;width: 100px">
            <input type="checkbox" name="yy" checked value="standard" ng-if="response.support_response_frame">
            <span class="linkBlue">是否控制端发送响应帧</span>
        </div>
        <div class="" style="display: inline">
            <input type="checkbox" checked name="yy" value="custom" ng-if="response.support_serial">
            <span class="linkBlue">是否控制端为串口通讯</span>
        </div>
        <br>
        <div class="col-md-4" style="width: 200px;height: 60px;padding-left: 0px">
            <input type="checkbox" name="yy" value="standard" ng-if="response.active_heartbeat">
            <span class="linkBlue">是否主发起心跳查询</span>

            <div class="u208">
                <span style="display: block;margin-top: 11px;margin-left: 10px">心跳频率：</span>
                <input id='input_01' class="bianji" placeholder="500ms" style="margin-left: 20px;" readonly="readonly" value="{[{ response.heart_rate}]}">

            </div>
        </div>
        <div class=" col-md-7" style="width: 300px;height: 60px;">
            <input type="checkbox" checked name="yy" value="custom" ng-if="response.support_repeat">
            <span class="linkBlue">是否支持重发</span>
            <div class="">
                <div class="u208 col-md-4">
                    <span style="display: block;margin-top: 11px;margin-left: 1px;width: 74px">重发间隔：</span>
                    <input id='input_02' class="bianji" readonly="readonly" placeholder="100ms" value="{[{ response.repeat_rate}]}">
                </div>
                <div class="u208 col-md-4 col-md-offset-1">
                    <span style="display: block;margin-top: 11px;margin-left: 1px;width: 74px">重发次数：</span>
                    <input id='input_03' class="bianji" readonly="readonly" placeholder="5" style="margin-left: 27px"
                           value="{[{ response.repeat_count}]}">
                </div>
            </div>

        </div>
    </div>
    <br>
    <div class="hl-help" style="margin-top: 65px">
        协议帧定义:
    </div>
    <hr>
    <div class="x1x" style="margin-top: 10px;margin-left: 100px;" ng-repeat="x in response.frame_content">
        <span style="font-size: large">{[{ x.title }]}</span>

        <input type="checkbox" class="ids" style="margin-left: 30px;display: none" ng-if="x.is_enable" checked><span
            class="ids" style="display: none">启用</span>
        <br>
        <br>
        <div>
            <div class="u208 col-md-2">
                <span style="display: block;margin-top: 11px;margin-left: 15px;width: 74px">序号</span>
                <input id='input_1' class="bianji" readonly="readonly" placeholder="0" style="margin-left: 24px" value="{[{ x.number }]}">
            </div>
            <div class="u208 col-md-2 " style="margin-left: 10px">
                <span style="display: block;margin-top: 11px;margin-left: 15px;width: 74px">长度</span>
                <input id='input_1' class="bianji" readonly="readonly" placeholder="0" style="margin-left: 24px" value="{[{ x.length }]}">
            </div>
            <div ng-if="x.code">
                <div class="u208 col-md-2" style="margin-left: 10px;padding-left: 0px;padding-right: 0px"
                     ng-repeat="c in x.code">
                    <span style="display: block;margin-top: 11px;width: 84px;text-align: center"> {[{ c.desc}]}</span>
                    <input id='input_1' class="bianji" readonly="readonly" placeholder="0" style="margin-left: 21px;text-align: center"
                           value="{[{ c.value }]}">
                </div>

            </div>


        </div>

        <hr style="height: 20px;margin-top: 47px;border-top-width: 3px;">
    </div>
    <div class="u208 col-md-2 " style="margin-left: 100px" >
        <span style="display: block;margin-top: 11px;margin-left: 5px;width: 74px">算法校验</span>
        <select style="display: block;margin-top: 4px;height: 18px;width: 70px" name="checkout_algorithm" id="select_option">
            <option value="SUM" selected="selected">SUM(加和效验)</option>
            <option value="CRC-8">CRC-8</option>
            <option value="CRC-16">CRC-16</option>
        </select>

    </div>
    <div class="u208 col-md-2 col-md-offset-2" style="margin-left: 10px" >
        <span style="display: block;margin-top: 11px;width: 74px;padding-left: 0px;padding-right: 0px">起始检验位</span>
        <input id='input_04' class="bianji" placeholder="0" style="margin-left: 21px;text-align: center"
                           value="{[{ response.start_check_number}]}">

    </div>
    <div class="u208 col-md-2 col-md-offset-2" style="margin-left: 10px" >
        <span style="display: block;margin-top: 11px;width: 74px;padding-left: 0px;padding-right: 0px">结束检验位</span>
        <input id='input_05' class="bianji" placeholder="0" style="margin-left: 21px;text-align: center"
                           value="{[{ response.end_check_number}]}">

    </div>
    <div style="margin-top: 60px">
        <span style="margin-left:350px;width: 50px;height: 30px;background-color: #f35019;margin-top: 50px"><button type="submit" class="btn btn-success btn-s-xs" ng-click="SubmitProtocol()">保存
                        </button>
        </span>
     </div>
</div>

<script>

    $(".custom").on('click', function () {
        var r = document.getElementsByTagName("input");
        r.readOnly="readonly";
        var list = document.getElementsByClassName("ids");
        for (var i = 0, l = list.length; i < l; i++) {
            var obj = list[i];
            obj.style.display = '';
        }
        var list1 = document.getElementsByClassName("bianji");
        for (var ii = 0, ll = list1.length; ii < ll; ii++) {
            $('input[class=bianji]').removeAttr("readonly");
        }
    });
    $(".standard").on('click', function () {

        var lis = document.getElementsByClassName("ids");
        for (var j = 0, l = lis.length; j < l; j++) {
            var obj = lis[j];
            obj.style.display = 'none';
        }
        var lis1 = document.getElementsByClassName("bianji");
        for (var jj = 0, ll = lis1.length; jj < ll; jj++) {
            $('input[class=bianji]').attr("readonly","readonly");
        }

    })

</script>