<style>
    .u208 {
        margin-top: 7px;
        left: 0px;
        top: 0px;
        width: 86px;
        height: 37px;
        background: inherit;
        background-color: rgba(255, 255, 255, 1);
        box-sizing: border-box;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(121, 121, 121, 1);
        border-radius: 0px;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    input {
        display: inline;
        background-color: white !important;
        margin-top: 6px;
        margin-left: 10px;
        width: 44px;
        border-top-width: 0px;
        border-left-width: 0px;
        border-bottom-width: 0px;
        border-right-width: 0px;

    }
    .btnn{
        opacity: 0.9;
        width: 62px;
        height: 42px;
        color: white;
        background-color: #f35019;
    }
    /*预览帧样式*/
    .num {
      width: 76px;
      /*height: 50px;*/
      text-align: center;
      /*line-height: 50px;*/
      border: 1px solid #c3c3c3;
      background-color: #FEDCD2;
      border-radius: 10px;
      margin-right: 5px;
      color: #333;
    }
    .num:nth-child(2){
       background-color: #BFD8D2;
     }

    .num:nth-last-child(1){
       background-color: #DF744A;
     }
    .num-title,.num-val{height: 20px;line-height: 1.5}
    .num-title{border-bottom: 1px solid #333}
    .protocol-pre{
        display: flex;
    flex-wrap: wrap;
    border: 1px solid #ccc;
    padding: 5px;
        margin-top: 67px;
    margin-left: 100px;
    }
    .pre-title{
        width: 100%;
        height: 20px;
        font-size: 17px;
        margin-top: 10px;
        color: #939192;
    }
    /*end*/

</style>
<div class="box2 relative" ng-app="Product.protocol" ng-controller="ProtocolCtrl">

    <div class="hl-help">
        <span class="linkBlue" style="font-size:20px">定义协议</span>


    </div>
    <hr style="height: 20px;margin-top: 17px;border-top-width: 3px;">
    <div class="hl-help">
        <span class="linkBlue">协议选择:</span>

    </div>

    <hr>
    <div class="" style="margin-left: 50px">
        <div class="col-md-4" style="display: inline;width: 300px;margin-left: 50px;padding-left:0px">
            <input type="radio" name="xx" class="standard" checked value="standard" id="standard-item">标准协议
        </div>
        <div class="" style="display: inline;margin-left: 50px">
            <input type="radio" name="xx" class="custom" value="custom" id="custom-item">自定义协议
        </div>

    </div>

    <div class="hl-help" style="margin-top: 5px">
        协议配置参数:
    </div>
    <hr>
    <div style="margin-left: 100px">
        <div class="" style="display: inline;width: 100px">
            <input type="checkbox" class="bblchk"  disabled="disabled" checked value="true" ng-if="response.is_single_instruction==true || response.is_single_instruction=='true'">
            <input type="checkbox" class="bblchk"  disabled="disabled"  value="false" ng-if="response.is_single_instruction==false || response.is_single_instruction=='false'">
            <span class="linkBlue">是否支持单指令</span>
        </div>
        <div class="" style="display: inline;width: 100px">
            <input type="checkbox" class="bblchk"  disabled="disabled" checked value="true" ng-if="response.support_response_frame==true || response.support_response_frame=='true'">
            <input type="checkbox" class="bblchk"  disabled="disabled" value="false" ng-if="response.support_response_frame==false || response.support_response_frame=='false'">
            <span class="linkBlue">是否控制端发送响应帧</span>
        </div>
        <div class="" style="display: inline">
            <input type="checkbox" checked class="bblchk" disabled="disabled" value="true" ng-if="response.support_serial==true || response.support_serial=='true'">
            <input type="checkbox"  class="bblchk" disabled="disabled" value="false" ng-if="response.support_serial==false || response.support_serial=='false'">

            <span class="linkBlue">是否控制端为串口通讯</span>
        </div>
        <br>
        <div class="col-md-4" style="width: 200px;height: 60px;padding-left: 0px">
            <input type="checkbox" checked class="bblchk" disabled="disabled" value="true" ng-if="response.active_heartbeat==true || response.active_heartbeat=='true'">
            <input type="checkbox" class="bblchk " disabled="disabled" value="false" ng-if="response.active_heartbeat==false || response.active_heartbeat=='false'">

            <span class="linkBlue">是否主发起心跳查询</span>

            <div class="u208">
                <span style="display: block;margin-top: 11px;margin-left: 10px">心跳频率：</span>
                <input id='input_01' class="bianji" placeholder="500ms" style="margin-left: 20px;" disabled="disabled" value="{[{ response.heart_rate}]}">

            </div>
        </div>
        <div class=" col-md-7" style="width: 300px;height: 60px;">
            <input type="checkbox" checked class="bblchk" value="true" disabled="disabled" ng-if="response.support_repeat==true || response.support_repeat=='true'">
            <input type="checkbox"  class="bblchk" value="false" disabled="disabled" ng-if="response.support_repeat==false || response.support_repeat=='false'">
            <span class="linkBlue">是否支持重发</span>
            <div class="">
                <div class="u208 col-md-4">
                    <span style="display: block;margin-top: 11px;margin-left: 1px;width: 74px">重发间隔：</span>
                    <input id='input_02' class="bianji" disabled="disabled" placeholder="100ms" value="{[{ response.repeat_rate}]}">
                </div>
                <div class="u208 col-md-4 col-md-offset-1">
                    <span style="display: block;margin-top: 11px;margin-left: 1px;width: 74px">重发次数：</span>
                    <input id='input_03' class="bianji" disabled="disabled" placeholder="5" style="margin-left: 27px"
                           value="{[{ response.repeat_count}]}">
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="hl-help" style="margin-top: 65px">
        协议帧定义:
    </div>
    <hr>

    <div class="x1x" style="margin-top: 10px;margin-left: 100px;" ng-repeat="x in response.frame_content" id="xxx" ng-if="x.is_enable==true || x.is_enable=='true'">
        <input style="margin-left: 0px;font-size: 17px;width: 100px" readonly="readonly" value="{[{ x.title }]}">
        <input type="checkbox" class="ids taf" checked style="margin-left: 30px;display: none" ng-if="x.is_enable==true || x.is_enable=='true'" >
        <input type="checkbox" class="ids taf" style="margin-left: 30px;display: none" ng-if="x.is_enable==false || x.is_enable=='false'">
        <span
            class="ids" style="display: none">启用</span>
        <br>
        <br>
        <div>
            <div class="u208 col-md-2">
                <span style="display: block;margin-top: 11px;margin-left: 15px;width: 74px">序号</span>
                <input id='input_1' class="bianji" disabled="disabled" placeholder="0" style="margin-left: 24px" value="{[{ x.number }]}">
            </div>
            <div class="u208 col-md-2 " style="margin-left: 10px">
                <span style="display: block;margin-top: 11px;margin-left: 15px;width: 74px">长度</span>
                <input id='input_1' class="bianji" disabled="disabled" placeholder="0" style="margin-left: 24px" value="{[{ x.length }]}">
            </div>
            <div ng-if="x.code">
                <div class="u208 col-md-2" style="margin-left: 10px;padding-left: 0px;padding-right: 0px"
                     ng-repeat="c in x.code" ng-if="c.value">
                    <span style="display: block;margin-top: 11px;width: 84px;text-align: center"> {[{ c.desc}]}</span>
                    <input id='input_1' class="bianji" disabled="disabled" placeholder="0" style="margin-left: 21px;text-align: center"
                           value="{[{ c.value }]}">
                </div>

            </div>


        </div>

        <hr style="height: 8px;margin-top: 47px;border-top-width: 3px;" ng-if ="!$last">
    </div>

    <div ng-include="xxx"></div>
    <div class="u208 col-md-2 " style="margin-left: 10px" >
        <span style="display: block;margin-top: 11px;margin-left: 5px;width: 74px">算法校验</span>
        <select style="display: block;margin-top: 4px;height: 18px;width: 70px" name="checkout_algorithm" id="select_option">
            <option value="sum" selected="selected">SUM(加和效验)</option>
            <option value="crc-8">CRC-8</option>
            <option value="crc-16">CRC-16</option>
        </select>

    </div>
    <div class="u208 col-md-2 col-md-offset-2" style="margin-left: 10px" >
        <span style="display: block;margin-top: 11px;width: 74px;padding-left: 0px;padding-right: 0px">起始检验位</span>
        <input id='input_04' class="bianji" placeholder="0" style="margin-left: 21px;text-align: center"
                           value="{[{ response.start_check_number}]}">

    </div>
    <div class="u208 col-md-2 col-md-offset-2" style="margin-left: 10px" >
        <span style="display: block;margin-top: 11px;width: 74px;padding-left: 0px;padding-right: 0px">结束检验位</span>
        <input id='input_05' class="bianji" placeholder="0" style="margin-left: 21px;text-align: center"
                           value="{[{ response.end_check_number}]}">

    </div>
    <br>
    <div class="protocol-pre" style="display: flex;flex-wrap:wrap;">
        <p class="pre-title">协议格式预览</p>
        <div class="num" ng-repeat="x in list_mode">
          <div class="num-title">{[{x.title}]}</div>
          <div class="num-val">{[{x.val}]}</div>
        </div>
    </div>

    <div style="margin-top: 60px">
        <span style="margin-left:350px;width: 50px;height: 30px;background-color: #f35019;margin-top: 50px"><button type="submit" class="btn-s-xs btnn" ng-click="SubmitProtocol()">保存
                        </button>
        </span>
     </div>
</div>

<script>

    $(".custom").on('click', function () {

        var list = document.getElementsByClassName("ids");
        for (var i = 0, l = list.length; i < l; i++) {
            var obj = list[i];
            obj.style.display = '';
        }
        var list1 = document.getElementsByClassName("bianji");
        for (var ii = 0, ll = list1.length; ii < ll; ii++) {
            $('input[class=bianji]').removeAttr("disabled");
        }
        var list11 = document.getElementsByClassName("bblchk");
        for (var iii = 0, lll = list11.length; iii < lll; iii++) {
            console.log(list11[iii]);
            list11[iii].disabled=false;
        }
        var list111 = document.getElementsByClassName("baf");
        for (var iiii = 0, llll = list111.length; iiii < llll; iiii++) {
            list111[iiii].disabled='false';
        }

    });
    $(".standard").on('click', function () {

        var lis = document.getElementsByClassName("ids");
        for (var j = 0, l = lis.length; j < l; j++) {
            var obj = lis[j];
            obj.style.display = 'none';
        }
        var lis1 = document.getElementsByClassName("bianji");
        for (var jj = 0, ll = lis1.length; jj < ll; jj++) {
            $('input[class=bianji]').attr("disabled","disabled");
        }
        var lis11 = document.getElementsByClassName("bblchk");
        for (var jjj = 0, lll = lis11.length; jjj < lll; jjj++) {
            lis11[jjj].disabled=true;
        }

    })

</script>