<link rel="stylesheet" href="/static/layui/css/layui.css">
<link rel="stylesheet" href="/static/css/product/planslist.css">
<style>
    .rightMain{
        width: auto;
        float: none;
    }
    .leftSide{
        display: none!important;
    }
    body{
        line-height: normal;
    }
     #user_address .modal-header {
        background: #dfe6eb;
    }

    #user_address .modal-footer {
        border-radius: 0;
    }

    #user_address .modal-content {
        width: 500px;
    }

    #user_address .modal-body {
        height: 165px;
        text-align: left;
        padding-left: 20%;
    }

    #user_address .modal-body p {
        font: 16px/45px "microsoft yahei";
    }

    #user_address .modal-body p span {
        margin-left: 5px;
    }

    #user_address .modal-body p input {
        text-indent: 10px;
        border-radius: 3px;
        border: 1px solid #d9d9d9;
        width: 350px;
        line-height: 32px;
    }

    .file {
        position: relative;
        display: inline-block;
        background: #D0EEFF;
        border: 1px solid #99D3F5;
        border-radius: 4px;
        padding: 4px 12px;
        overflow: hidden;
        color: #1E88C7;
        text-decoration: none;
        text-indent: 0;
        line-height: 20px;
    }
        .modal-label{
        display: inline-block;
        line-height: normal;
        margin-bottom: 10px;
    }
    .modal-name{
        cursor: pointer;
        max-width: 200px;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
        vertical-align: text-bottom;
    }
    .modal-name:hover{
        color: #ff6202;
    }
    #doUpload:hover{
        background-color: #9dabbb !important;
    }
    .my_container{
        position: relative;
        display: none;
        text-align: left;
        width: 100%;
        height: 15px;
        background-color: gray;
    }
    #progress{
        text-align: center;
        font-size: 12px;
        line-height: 1;
        height: 15px;
        background-color: orange;
        display: inline-block;
    }
    #progress-text{
        position: absolute;
        display: block;
        margin: 0 auto;
        text-align: center;
        left: 0;
        right: 0;
        top: 0;
        font-size: 12px;
        line-height: 1;
    }
    .rightMain{
        border: none;
        background-color: transparent;
    }
    .view-plans-left,.task-detail{
        border-radius: 5px;
    }
    .layui-select-title input{
        background-color: #fff;
    }
    .newplans-title i{
        line-height: 1;
        top: 0;
    }
    .plans-user-info div:first-child{
        width: 30px;
    }
</style>

<div class="modal fade" id="user_address" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
                上传文件
            </h4>
        </div>
        <div class="my_container">
            <span id="progress"></span>
            <span id="progress-text">等待上传</span>
        </div>
        <div class="modal-body">

            <label for="file" class="modal-label">上传文件：<span class="modal-name">点击选择</span></label>
            <input class="file" id="file" name="file" style="display: none" type="file"/>
            <div style="overflow: hidden;">
                <span>备注信息：</span><input type="text" id="ui_info" class="xxx" placeholder="备注信息">
            </div>
            <div style="text-align: center;margin-left: -20%;margin-top: 10px">
                <button id="doUpload" class="btn btn-info" onclick="doUploadFile()"
                    style="width:80px;height:30px;padding-bottom: 0px;padding-top: 0px">
                上传
            </button>
            </div>

        </div>


    </div>
</div>
</div>
<div id="my-plans" ng-controller="ScheduleCtrl">
    <div class="view-plans-left">

        <div class="plans-head">
            <p class="new-plan" onclick="open_plans('new')">＋ 新增计划</p> <a href="#/portal">返回</a>
            <p class="new-mainpersol" onclick="add_user()"><img src="http://storage.56iq.net/group1/M00/47/41/CgoKQ1thH12AWbg1AAADGhlwMl8924.png" alt="">负责方</p>
        </div>

        <div id="plans-list">
            <ul id="ul_id">
                <li ng-repeat="x in response" class="div-flex">
                    <div class="plans-user-info div-flex" data="{[{x.id}]}" ng-click="Show_Detail_Plan(x.id)">
                        <div style="font-size: 16px;">{[{x.id}]}</div>
                        <div  class="name">
                            <p class="text-ellipsis"><span class="plan-namer">{[{x.party}]}</span></p>
                            <div class="my-tooltip-box show_div">
                                <div class="my-ant-tooltip-inner">'负责人':{[{x.party}]}</div>
                                <div class="my-ant-tooltip-arrow"></div>
                            </div>
                        </div>
                        <div class="file-info">
                            <span class="text-ellipsis">{[{x.plan}]}</span>

                            <img ng-if="x.url.length>1" src="http://storage.56iq.net/group1/M00/47/45/CgoKQ1thRrOAUQJIAAAET_wItzE030.png">
                        </div>
                    </div>
                    <div class="confirm-info">
                        <p ng-if="x.ack==1"  data="{[{x.ack}]}" class="ifnot" style="color: #ababab;" >√ 已确认</p>
                        <p ng-if="x.ack==0" data="{[{x.ack}]}" style="color: #2385ff;" class="plans_comfirm ifnot" ng-click="Save_Plan(x.id)">确认</p>
                    </div>
                </li>
            </ul>
        </div>

    </div>

    <div class="task-detail">
        <div class="task-head div-flex">
            <div class="task-title" style="font-size: 16px">
                <p class="task-id-name" style="display: inline-block;width: 10px">2</p><p class="task-plan-name" style="display: inline-block">提供电控板功能协议文档</p>
                <input type="text" class="task-ack-name" style="display: none">
            </div>
            <div class="task-action div-flex">
                <p style="margin-right: 20px;" onclick="open_plans('edit')"><img src="http://storage.56iq.net/group1/M00/47/49/CgoKQ1thTxaAbmV_AAACSBhtGbU871.png" alt="">编辑</p>
                <p id="dell_plan">删除</p>
            </div>
        </div>

        <div class="task-user-info div-flex">
            <p class="names">佳威路</p>
            <p class="job">负责方</p>
            <div class="times">
                <img src="" alt="">2018-07-25 ～ 2018-08-12
            </div>
        </div>
        <div class="remarks">备注：需双方确认</div>
        <div class="upfiles">上传：<button class="open-upload-window" data-toggle="modal" data-target="#user_address" >+ 上传</button></div>
        <div class="upfile">
            <div class="file-list" style="display: none">
                <div class="div-flex file-box">
                    <p class="file-name text-ellipsis" title="蒸烤箱标准协议 V2.0">蒸烤箱标准协议 V2.0</p>
                    <p class="file-user text-ellipsis">yangxy上传</p>
                    <p class="file-time">2018-7-31</p>
                    <p class="file-dell" onclick="Deleted()">删除</p>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="newplans-window">
    <div class="newplans-title">
        <h3>新建计划</h3>
        <i>×</i>
    </div>
    <div class="news-box">
        <p class="news-name">计划名称</p>
        <div>
            <input type="text" class="new-input-style" id="news-plan-name">
        </div>
        <div class="news-plan-flex div-flex" style="margin-bottom: 10px">
            <div class="news-div-style">
                <input type="text" style="display: none" id="hides">
                <p class="news-user">负责方</p>
                <div class="my-plug">
                    <form class="layui-form my-select" action="">
                        <select name="city" lay-verify="" id="plans-users" >
                          <option value="">请选择负责人</option>
                        </select>
                    </form>
                </div>
            </div>
            <div class="news-div-style">
                <p class="news-user">计划时间<span>（选填）</span></p>
                <div class="my-plug">
                    <input type="text" class="layui-input" id="test15" placeholder="开始 到 结束">
                </div>
            </div>
        </div>
        <p class="news-name">备注</p>
        <div>
            <input type="text" class="new-input-style" id="news-plan-remarks">
        </div>
    </div>
    <div class="news-plan-btn">
        <button class="close-info" >取消</button>
        <button class="up-info" onclick="upto_plans_info()">确定</button>
    </div>
</div>

<div id="plans-user-list">
    <div class="newplans-title">
        <h3>
            <span>负责方</span>
            <button class="plans-user-add">+ 新增</button>
        </h3>
        <i>×</i>
    </div>
    <div class="my-user-list">
        <ul id="ul_id_party" >

        </ul>
    </div>
    <div class="user-btn-keep">
        <button onclick="Save_Party()">保存</button>
    </div>
</div>


<script>

    var being = true;
    $(".plan-namer").mouseover(function () {
        if(being){
            let w_span = $(this).width();
            if (w_span > 100){
                w_span = 100
            }
            $(this).parent(".text-ellipsis").siblings(".my-tooltip-box").css("left",-(100-w_span)/3 + "px");
            $(this).parent(".text-ellipsis").siblings(".my-tooltip-box").fadeIn();
        }
        being = false
    }).mouseout(function () {
        being = true;
        $(this).parent(".text-ellipsis").siblings(".my-tooltip-box").fadeOut();
    })

    function Save_Party() {
        // 负责方添加
        //设置负责方
        // 负责人信息
        var aa =[]
        $("#ul_id_party input[type='text']").each(function(){

            aa.push({"title":$(this).val()})
          });
        console.log(app_id1)
        console.log(aa)

        var json_a = JSON.stringify(aa);

        $.ajax({
             url: '/product/party',
             type:"POST",
             data:{"key":keysss,"app_id":app_id1,"listed":json_a},
             success:function (data) {
                 data = JSON.parse(data)
                 console.log(data)
             }
        })
    }

    function open_plans(val) {
        var my_mask = $("<div></div>");
        my_mask.attr('id','mask-box');
        my_mask.appendTo("body");
        //新增计划
        if (val == 'new'){
            $("#newplans-window").fadeIn();
            var num = document.getElementById("ul_id").getElementsByTagName("li").length + 1 ;
            document.getElementById("hides").value = num
            //清空计划
            $("#news-plan-name").val("");  //获取计划名称
            $("#plans-users").val("");     //获取负责人名称
            $("#test15").val("");          //获取计划时间
            $("#news-plan-remarks").val("");  //获取备注
            ontimes()
        }
        //编辑计划
        if (val == 'edit'){
            $("#newplans-window").fadeIn();
            var ifnot = document.getElementsByClassName("task-ack-name")[0]
            console.log(ifnot)
            document.getElementById("news-plan-name").value= document.getElementsByClassName("task-plan-name")[0].innerHTML.replace(/[ /d]/g, '')
            document.getElementById("news-plan-remarks").value= document.getElementsByClassName("remarks")[0].innerHTML.split("：")[1]
            document.getElementById("hides").value = document.getElementsByClassName("task-id-name")[0].innerHTML
            $("#plans-users").val(document.getElementsByClassName("names")[0].innerHTML)
            ontimes(document.getElementsByClassName("times")[0].innerHTML)
        }
    }

    function add_user(){
        var my_mask = $("<div></div>");
        my_mask.attr('id','mask-box');
        my_mask.appendTo("body");
        $("#plans-user-list").fadeIn();
    }
    //关闭计划弹窗
    $("#newplans-window i,.news-plan-btn .close-info").click(function () {
        $("#mask-box").remove();
        $("#newplans-window").fadeOut();
    })

    //点击计划弹窗确定
    function upto_plans_info(){
        var plans_name = $("#news-plan-name").val();  //获取计划名称
        var plans_user = $("#plans-users").val();     //获取负责人名称
        var plans_time = $("#test15").val();          //获取计划时间
        var plans_remarks = $("#news-plan-remarks").val();  //获取备注


        console.log(plans_name,plans_user,plans_time,plans_remarks)
        if (plans_name == ""){
            layer.msg('请填写计划名称', {icon: 5,time:2000});
            return
        }
        if (plans_user == ""){
            layer.msg('请填写负责人名称', {icon: 5,time:2000});
            return
        }
        if (plans_time == ""){
            layer.msg('请填写计划时间', {icon: 5,time:2000});
            return
        }
        var idd = document.getElementById("hides").value
        console.log(idd,plans_user,plans_remarks,plans_time,plans_name)
        $.ajax({
             url: '/product/schedule',
             type:"POST",
             data:{"key":keysss,"action":"save","num":idd,"plans_name":plans_name,"plans_time":plans_time,"plans_user":plans_user,"plans_remarks":plans_remarks},
             success:function(data){
                 var num = document.getElementById("ul_id").getElementsByTagName("li").length + 1
                 console.log(num)
                 if (parseInt(idd) < parseInt(num)) {

                     document.getElementsByClassName("task-plan-name")[0].innerHTML = $("#news-plan-name").val()
                     document.getElementsByClassName("names")[0].innerHTML = $("#plans-users").val()
                     document.getElementsByClassName("times")[0].innerHTML = $("#test15").val()
                     document.getElementsByClassName("remarks")[0].innerHTML = "备注：" + $("#news-plan-remarks").val()
                     layer.msg('编辑成功', {icon: 1,time:2000});
                 }else{
                     var ul_list = $("#ul_id")
                     var addtr = $(
                              "<li class=\"div-flex ng-scope\">\n" +
                         "    <div class=\"plans-user-info div-flex\" data=\""+idd+"\" ng-click=\"Show_Detail_Plan(x."+ idd +")\">\n" +
                         "        <div style=\"font-size: 16px;\" class=\"ng-binding\">"+idd+"</div>\n" +
                         "        <div class=\"name\">\n" +
                         "            <p class=\"text-ellipsis\"><span class=\"plan-namer ng-binding\">"+plans_user+"</span></p>\n" +
                         "            <div class=\"my-tooltip-box show_div\">\n" +
                         "                <div class=\"my-ant-tooltip-inner ng-binding\">'负责人':\"+plans_user+\"</div>\n" +
                         "                <div class=\"my-ant-tooltip-arrow\"></div>\n" +
                         "            </div>\n" +
                         "        </div>\n" +
                         "        <div class=\"file-info\">\n" +
                         "            <span class=\"text-ellipsis ng-binding\">"+ plans_name +"</span>\n" +
                         "            <img src=\"http://storage.56iq.net/group1/M00/47/45/CgoKQ1thRrOAUQJIAAAET_wItzE030.png\">\n" +
                         "        </div>\n" +
                         "    </div>\n" +
                         "    <div class=\"confirm-info\">\n" +
                         "       \n" +
                         "       <p ng-if=\"x.ack==0\" data=\"0\" style=\"color: #2385ff;\" class=\"plans_comfirm ifnot ng-scope\" ng-click=\"Save_Plan(x.\"+ idd +\")\">确认</p>\n" +
                         "    </div>\n" +
                         "</li>"
                        )
                     addtr.appendTo(ul_list)
                     layer.msg('新建成功', {icon: 1,time:2000});
                 }


             }

        })
        $("#mask-box").remove();
        $("#newplans-window").fadeOut();
    }

    // 上传一系列
    function doUploadFile() {
        // 时间戳
        var idd = document.getElementsByClassName("task-id-name")[0].innerHTML
        var formData = new FormData();
        formData.append("file", document.getElementById("file").files[0]);
        formData.append("name", 'upload');
        formData.append("key", keysss);
        formData.append("id", idd);
        var thref = location.href
        formData.append("location", thref);

        if (document.getElementById("file").files[0]) {
            $.ajax({
                url: '/product/upload_file',
                type: "POST",
                data: formData,
                contentType: false,
                processData: false,
                xhr:function () {
                    console.log("开始上传")
                  var myXhr = $.ajaxSettings.xhr();
                  if(myXhr.upload){
                    myXhr.upload.addEventListener('progress',progressHandlingFunction, false)
                  }
                  return myXhr
                },
                success:function (data) {
                console.log("上传成功")
                data = JSON.parse(data)
                if (data['code'] == 0) {

                    document.getElementsByClassName("close")[0].click();

                    bootbox.alert('上传成功')
                     var file_list = $(".upfile")[0]
                     var addtr = $(
                            "<div class=\"file-list\">\n" +
                            "                    <div class=\"div-flex file-box\">\n" +
                            "                        <a class=\"file-name text-ellipsis\" href=\"/product/download?url="+ data['urll'] +"&name="+ data['filename'] +"\">"+ data['filename'] +"</a>\n" +
                            "                        <p class=\"file-user text-ellipsis\">"+ data['user'] +"</p>\n" +
                            "                        <p class=\"file-time\">"+ data['date'] +"</p>\n" +
                            "                        <p class=\"file-dell\" onclick='Deleted(this)'>删除</p>\n" +
                            "                    </div>\n" +
                            "                </div>"
                        )
                        addtr.appendTo(file_list)
                } else {
                    document.getElementsByClassName("close")[0].click();
                    bootbox.alert('上传失败，文件格式不支持')
                }
            }
            })
        } else {
            bootbox.alert('不能为空')
        }
    }
    function progressHandlingFunction(e){
        if(e.lengthComputable){
            var percent = e.loaded/e.total*100;
            let my_precent_data = percent.toFixed(2);
            if (my_precent_data >99){
                my_precent_data = 99;
            }
            $('#progress-text').html(my_precent_data + "%");
            $('#progress').css('width', my_precent_data + "%");
        }
    }

    var upto_file = $("#file");
    var upto_text = $(".modal-name");
    upto_file.on('change',function (e) {
        let upto_name = e.currentTarget.files[0].name;
        upto_text.text(upto_name);
        upto_text.attr('title',upto_name);
        $(".my_container").slideDown();
    })

    function Deleted(that) {
       var idd = document.getElementsByClassName("task-id-name")[0].innerHTML
       var filename =that.parentNode.firstElementChild.innerHTML
       $.ajax({
           url: '/product/schedule',
           type:"POST",
           data:{"key":keysss,"action":"del","del_id":idd,"del_filename":filename},
           success: function (data) {
           data = JSON.parse(data)
           if (data['code']===0){
               bootbox.alert("删除成功")
               window.location.reload()
           }else{
               bootbox.alert("删除失败")
           }

       }
       })
    }
    //关闭负责人弹窗
    $("#plans-user-list i").click(function () {
        $("#mask-box").remove();
        $("#plans-user-list").fadeOut();
    })

    //时间范围实例
    ontimes()
    function ontimes(mytime){
        layui.use('laydate', function(){
            var laydate = layui.laydate;

            laydate.render({
            elem: '#test15'
            ,range: '到'
            ,value: mytime
            ,format: 'yyyy-MM-dd'
            ,done: function(value, date, endDate){
                console.log(value, date, endDate); //在控件上弹出value值
              }
            });
        });
    }

    //添加负责人
    $(".plans-user-add").click(function () {
        let myuser_add = $("<li><input type='text' value=''><button class='my-user-del' onclick=\"Del_Party(this)\">删除</button></li>");
        myuser_add.appendTo(".my-user-list ul")
    })

    //点击负责方弹窗保存
    $(".user-btn-keep button").click(function () {
        $("#mask-box").remove();
        $("#plans-user-list").fadeOut();
    })
    // 删除负责方
    function Del_Party(that){
        console.log(that)
        var rr = that.parentNode.firstElementChild.value
        $.ajax({
             url: '/product/party',
             type:"POST",
             data:{"key":keysss,"app_id":app_id1,"datas":rr,"action":'del'},
             success:function (data) {
                 console.log(data)
                 that.parentNode.remove()
             }
        })
        console.log(rr)
    }
    //点击删除计划
    $("#dell_plan").click(function () {
        var idd = document.getElementsByClassName("task-id-name")[0].innerHTML
        layer.confirm('确定删除计划？', {
            btn: ['确定', '取消'] //按钮
        }, function () {
            console.log("确定",idd);
            $.ajax({
               url: '/product/schedule',
               type:"POST",
               data:{"key":keysss,"action":"delxu","del_id":idd},
               success:function (data) {
                   data = JSON.parse(data)
                   if (data['code']===0){
                       layer.msg('删除成功', {icon: 1,time:2000});
                       window.location.reload()
                   }else{
                       bootbox.alert("删除失败")
                   }
               }
           })

        }, function () {
            console.log("取消",idd);
        })
    })

    //点击确定计划
    $(".plans_comfirm").click(function () {
        var idd = document.getElementsByClassName("task-id-name")[0].innerHTML
        layer.confirm('确认提交计划？', {
            btn: ['确定', '取消'] //按钮

        }, function () {
            console.log("确定",idd);
            layer.msg('已确认', {icon: 1,time:2000});
        }, function () {
            console.log("取消",idd);
        })
    })

    //点击删除附件
    $(".file-list .file-dell").click(function () {
        layer.confirm('确认删除附件？', {
            btn: ['确定', '取消'] //按钮
        }, function () {
            console.log("确定");
            layer.msg('已删除', {icon: 1,time:2000});
        }, function () {
            console.log("取消");
        })
    })
</script>
