
body{
    background-color: #252429;
}

    .mui-col-sm-3 {
        width: 22%;
}
.mui-content{
    background-color: initial;

}
.mui-grid-view.mui-grid-9{
    background-color: initial;
    border: 0
}
.mui-table-view{
    background-color: initial;
}
.mui-grid-view.mui-grid-9 .mui-table-view-cell{
    border: 0;
    margin-bottom: 6%;
    margin-right: 2.5%;
    margin-left: 5.8%;


}

.mui-icon{
    width: 40px;
    height: 40px;
    background-size: 82%;
    background-position:center;
    background-repeat: no-repeat;

}
.mui-div-botton{
    border: 1px solid #343338;
    height: 60px;
    width: 60px;
    background-color:#343338;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 1), 0px 6px 22px rgba(0, 0, 0, .7);
}
.mui-div-botton:active{
    background-color: #252429
}
.mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body{
    color: #bbb;
    font-size: 15px;
    height: 20px;
    overflow:inherit;
    margin-top: -10%;
}
.mui-headerH1{
    margin: 8% 0;
    font-weight: 100
}
.mui-media-body-c{
    color: #fff!important;
}

#POWER.mui-icon-control{
    background-image: url("../img/power_off.png");
}
#POWER.mui-icon-control-c{
    background-image: url("../img/power_on.png");
}

#LIGHT.mui-icon-control{
    background-image: url("../img/light_off.png");
}
#LIGHT.mui-icon-control-c{
    background-image: url("../img/light_on.png");
}
#TIME_OFF.mui-icon-control{
    background-image: url("../img/time_off.png");
}
#TIME_OFF.mui-icon-control-c{
    background-image: url("../img/time_on.png");
}
#WIND.mui-icon-control{
    background-image: url("../img/wind_off.png");
}
#WIND.mui-icon-control-c{
    background-image: url("../img/wind_on.png");
}
#DISINFECT.mui-icon-control{
    background-image: url("../img/xd_off.png");
}
#DISINFECT.mui-icon-control-c{
    background-image: url("../img/xd_on.png");
}
#DRY.mui-icon-control{
    background-image: url("../img/dry_off.png");
}
#DRY.mui-icon-control-c{
    background-image: url("../img/dry_on.png");
}
#SMALL_WIND.mui-icon-control{
    background-image: url("../img/small_wind_off.png");
}
#SMALL_WIND.mui-icon-control-c{
    background-image: url("../img/small_wind_on.png");
}
#MIDDLE_WIND.mui-icon-control{
    background-image: url("../img/middle_wind_off.png");
}
#MIDDLE_WIND.mui-icon-control-c{
    background-image: url("../img/middle_wind_on.png");
}
#BIG_WIND.mui-icon-control{
    background-image: url("../img/big_wind_off.png");
}
#BIG_WIND.mui-icon-control-c{
    background-image: url("../img/big_wind_on.png");
}

.mui-toast-container{
    bottom: 80px;
    left: 50%;
}
.mui-popup-backdrop{
    width: 604px;
    height: 425px;
    top: 5px;
    left: 45px;
    border-radius: 45px;
}
.mui-popup{
    top: 50%;
    left: 50%;
}